[2022-02-28 21:47] thetif commented on #3654
created dev task #3841

[2022-02-28 21:47] #3654 closed

[2022-02-28 21:48] thetif commented on #3689
created dev ticket #3840

[2022-02-28 21:48] #3689 closed

[2022-02-28 21:48] #3653 closed

[2022-02-28 22:45] aricka-lewis commented on #3838
The Admin check should trigger the ability to lock. So the screen that only has the option to export for internal purposes would be the "default" for all users until the check is complete. Once it's complete, the ability to lock and export for CMS review would then be shown for State Admins.

Hope this makes sense! @thetif

[2022-03-01 13:56] #3831 closed

[2022-03-01 17:11] #3540 closed

[2022-03-01 18:12] aricka-lewis commented on #3801
@jeromeleecms would you mind looking over these as well? Happy to talk about the session slots in the google form in person

[2022-03-01 20:12] jeromeleecms commented on #3667
We have implemented this after investigating it.

[2022-03-01 20:12] #3667 closed

[2022-03-01 20:17] #2844 closed

[2022-03-01 20:38] jeromeleecms commented on #3752
Will discuss during parking lot on 03/02 or 03/03

[2022-03-01 22:10] mirano-darren opened #3842 "Implement Stryker for better test coverage"
Describe the task here and link or add dependencies to any applicable issues...
Stryker is a tool that mutates (changes) test code with the intention of breaking it to see if that test case is covered. This can be a powerful addition to our project as it will strengthen our tests overall.

### This task is done when...

- [x] Stryker has been implemented into the code base
- [x] Report back with t

[2022-03-02 01:04] jeromeleecms commented on #3502
Tried building this on my personal computer with WSL. Some notes
1) On a fresh install of WSL + docker with WSL integration enabled, "docker-compose" up fails; apparently had to unset DOCKER_HOST and restart docker to make it work (unclear if this affects a native linux install). Still failed to build in WSL -- reported that RUN npm ci --no-audit failed due to a socket timeout.
2) On the manual st

[2022-03-02 01:28] jeromeleecms commented on #3800
Just some minor comments on the conversation guide (the consideration and research goals seem fine). Can we do a dry run of the conversation guide together?

[2022-03-02 01:28] jeromeleecms commented on #3801
Made some comments in the email -- sent you a DM about the times on the Google form.

[2022-03-02 15:21] aricka-lewis commented on #3800
Yes, let's use our 1:1 today @jeromeleecms

[2022-03-02 15:42] #3714 closed

[2022-03-02 18:14] akuas commented on #3735
Archived designs will now be housed in a separate file. Designs that are not in use or are future enhancement that have since been abandoned will hopefully be archived.
https://www.figma.com/file/uAboHTFZ1RT4h7bmV6XD80/CMS-eAPD-archive?node-id=5%3A15185

[2022-03-02 18:26] jeromeleecms commented on #3752
Will take parking lot on 03/08/2022 to do a high level discussion on this and decide follow up as appropriate

[2022-03-02 18:50] mirano-darren commented on #3833
Moving forward with implementing Stryker, moved Ponicode research to another ticket, 3844

[2022-03-02 18:50] #3833 closed

[2022-03-02 20:13] cthulhuplus commented on #3760
Updated Unhealthy Target alarm to treat missing data as "bad" which should trigger an alarm.

[2022-03-02 20:19] cthulhuplus commented on #3760
Lambda to send message to Slack doesn't seem to be getting invoked:
![image.png](https://images.zenhubusercontent.com/5e9749aa5773ead7746338c1/eef5abdf-d615-499c-a966-57859b6152fa)

[2022-03-02 20:55] aricka-lewis opened #3845 "Create a high-level visualization based on Framing Doc"
Using the [eAPD Framing Document](https://docs.google.com/document/d/11cyPx5MvAL05545BGs0SjyH-sImU6k0QInjx0ydSMY0/edit?usp=sharing) as a guide, create a visualization that illustrates the major goals and steps that make up the eAPD system. Though this document may not be a resource for day to day work, it will serve as a quick/visual way to identify how the strategic goals of eAPD align with the d

[2022-03-02 21:27] #3646 closed

[2022-03-03 15:17] jeromeleecms commented on #3818
A Jira ticket has been submitted to the helpdesk on 02/14/2022. Waiting for guidance from the GA team.

[2022-03-03 15:21] jeromeleecms commented on #3502
@mirano-darren mentioned that I needed to do a "npm run build" in the web directory in order to get the images to show using the docker steps.

[2022-03-03 15:36] jeromeleecms commented on #3816
Meeting tentatively set for March 7th to discuss in more detail with team leads + exec sponsor.

[2022-03-03 18:07] jeromeleecms commented on #3800
Done!

[2022-03-03 18:07] #3800 closed

[2022-03-03 18:49] #3822 closed

[2022-03-03 20:00] cthulhuplus commented on #3760
Updated the KMS key associated with the SNS topic and then the permissions/policy for that key.
![image.png](https://images.zenhubusercontent.com/5e9749aa5773ead7746338c1/066697f0-72d5-43ed-b834-a124081c816a)

[2022-03-04 14:41] #3760 closed

[2022-03-04 17:16] mirano-darren commented on #3842
Tested thoroughly on events.js, fixed all mutants found.

Notes:
To start stryker navigate to /web/ and use the command: npm run stryker

The configuration for stryker can be found in stryker.conf.json in /web/. A list of the configuration options can be found here: https://stryker-mutator.io/docs/stryker-js/configuration

Some necessary configs that I needed was timeoutMS, which increased the tim

[2022-03-04 18:27] akuas commented on #3810
Below are the prototype designs
https://www.figma.com/file/6eVvo7JjvXiovGTR4BoVgK/CMS-eAPD-2022?node-id=7643%3A57370

[2022-03-04 20:08] akuas commented on #3810
@aricka-lewis Can you please take a look at this prototype?

[2022-03-07 19:40] aricka-lewis commented on #3810
@akuas flow makes sense to me -- there are a couple of edits to be made on the "read-only" view (replacing lorem with real copy) but we can chat about it in our 1:1.

[2022-03-08 19:07] cthulhuplus opened #3851 "Samba - AWS Incident Management Bulletin 2022-02-03"
https://jiraent.cms.gov/browse/CLDSPT-24631

### This task is done when...

- [ ] Security has reported the issue resolved

[2022-03-08 19:18] cthulhuplus opened #3852 "Samba - AWS Incident Management Bulletin 2022-02-03"
https://jiraent.cms.gov/browse/CLDSPT-24631

### This task is done when...

- [ ] Security has reported the issue resolved

[2022-03-08 19:18] #3852 closed

[2022-03-08 21:38] cthulhuplus opened #3853 "Quarterly Tabletop Exercise(s)"
Schedule and identify subjects for tabletop exercises.

### This task is done when...

- [x] First quarterly tabletop exercise is on the calendar
- [x] First quarterly tabletop exercise topic is identified

[2022-03-09 00:03] jeromeleecms commented on #3816
Team met on March 7th to discuss. Plan is to investigate how we can support access to the eAPD through a API key and make available the fields that we need to share with the SharePoint team and then meet with them after we have it in place.

[2022-03-09 00:03] #3816 closed

[2022-03-09 00:04] jeromeleecms opened #3854 "Build API functionality that can be accessed through an API Key"
Research best practices and standards for implementing an API key for other services to interact with out application. Research tools that would make this easier. Talk to Okta about wether they have something already built for this. Research security implications, including having to be recertified. Determine how to integrate this into our existing code. Determine overall LOE. Make tickets for com

[2022-03-09 14:06] tbolt opened #3855 "Create migration to update existing APDs to new schema"
Describe the task here and link or add dependencies to any applicable issues...

### This task is done when...

- [ ] Migration created so existing APDs are updated to new schema
- [ ] Tests created

---

Add additional labels (design, dev, compliance, BUG, etc) and size before submitting.

If the issue is needed to complete prioritized work for the CURRENT SPRINT, add it to the "This Sprint" pipe

[2022-03-09 17:35] jeromeleecms opened #3856 "Schedule Quarterly Roadmap Meeting"
Find time on team calendar to have a quarterly review of the Roadmap

This is done when
- [x] Meeting with leads to affirm roadmap
- [x] Meeting to schedule time with team to review roadmap

[2022-03-09 17:36] jeromeleecms opened #3857 "Schedule meeting to discuss implementation of the Federal Admin dashboard"
As a follow-up to our all disciplines discussion, we are going to do a feature implementation review of the Federal Admin dashboard moving from product inception -> implementation.

This is done when:
- [x] Meeting has been scheduled
- [x] Mural has been created to help document process (Akua)
- [x] Team has conducted meeting
- [x] Any additional follow-up items are created

[2022-03-09 17:59] jeromeleecms commented on #3752
Issues created to follow-up on this.

[2022-03-09 17:59] #3752 closed

[2022-03-09 19:54] cthulhuplus commented on #3798
Bucket is hardened, waiting for Security Hub to scan the environment and identify whether or not there are possible issues with the bucket.

[2022-03-10 00:04] cthulhuplus opened #3861 "Investigate pm2 Starting Despite Vulnerabilities"
Describe the task here and link or add dependencies to any applicable issues...

### This task is done when...

- [x] criteria 1
- [x] criteria 2

---

Add additional labels (design, dev, compliance, BUG, etc) and size before submitting.

If the issue is needed to complete prioritized work for the CURRENT SPRINT, add it to the "This Sprint" pipeline. Otherwise, all other issues will be automatical

[2022-03-10 16:34] thetif opened #3864 "[Feature] Update Outcomes and Metrics form to use new tools"
**Description and related issues -**
Update the Outcomes and Metrics form to use react-hook-form and joi. See #3499 for details on how to implement it.

### This task is done when…
- [ ] the form is being validated using the tools above

[2022-03-10 16:35] thetif opened #3865 "[Feature] Update Milestones form to use new tools"
**Description and related issues -**
Update the Milestones form to use react-hook-form and joi. See #3499 for details on how to implement it.

### This task is done when…
- [ ] the form is being validated using the tools above

[2022-03-10 16:36] thetif opened #3866 "[Feature] Update State Staff form to use new tools"
**Description and related issues -**
Update the State Staff form to use react-hook-form and joi. See #3499 for details on how to implement it.

### This task is done when…
- [ ] the form is being validated using the tools above

[2022-03-10 16:37] thetif opened #3867 "[Feature] Update Key State Personnel to use new form"
**Description and related issues -**
Update the Key State Personnel form to use react-hook-form and joi. See #3499 for details on how to implement it.

### This task is done when…
- [ ] the form is being validated using the tools above

[2022-03-11 18:19] #3162 closed

[2022-03-15 14:59] cthulhuplus commented on #3798
Adding policy to bucket to restrict access to only TLS 1.2 or greater

[2022-03-15 17:15] jeromeleecms commented on #3502
Done!!!!!!!!!!

[2022-03-15 17:16] jeromeleecms commented on #3100
Done - thanks for Bill and Tif and team for making the dream come true!!!!!

[2022-03-15 17:16] #3100 closed

[2022-03-16 16:26] jeromeleecms opened #3872 "Duplicate MI IAPD in Prod"
During user testing, MI mentioned that they would like to find a way to update their HIT IAPD without having to manually copy and pasting the content between IAPDs. We offered to make a copy of their IAPD to help them make updates for their next HIT IAPD.

Per the state, there is only one IAPD in the system

### This task is done when...

- [ ] We have duplicated MI's APD on production
- [ ] We ha

[2022-03-16 17:58] mirano-darren commented on #3545
@jeromeleecms @aricka-lewis Ready for review! :) #3429 is also in this change

[2022-03-16 17:58] #3842 closed

[2022-03-16 18:45] cthulhuplus commented on #3798
Requested the pipeline AWS service account be granted IAM create privileges so that it can create the policy that will allow S3 buckets to require TLS connections.

[2022-03-16 20:35] jeromeleecms commented on #3818
Update - we are going to be added to GA in the upcoming spring. Still no action from us on this until we are added.

[2022-03-16 22:00] jeromeleecms commented on #3872
Tif completed this on 03/16 - MI was also emailed with the update. Also, thanks Bill for your prompt support on this.

[2022-03-16 22:00] #3872 closed

[2022-03-16 23:25] jeromeleecms commented on #3801
Can we close this out?

[2022-03-16 23:27] jeromeleecms commented on #3810
While there were some hiccups during today's testing, is this ready to close?

[2022-03-17 13:05] akuas commented on #3810
@jeromeleecms I fixed the issue and this ticket is ready to close.

[2022-03-17 13:15] jeromeleecms commented on #3810
Sounds good! Prototype has been used during testing already (+fixes), so this is done.

[2022-03-17 13:15] #3810 closed

[2022-03-17 13:52] #3801 closed

[2022-03-17 13:52] aricka-lewis commented on #3801
Yep, participants have been scheduled and we're conducting tests. Closing now @jeromeleecms

[2022-03-17 17:00] thetif opened #3874 "[Operations] Start using yarn workspaces"
Research the LOE to switch our project to use yarn workspaces.

[2022-03-17 17:11] #3828 closed

[2022-03-17 17:11] jeromeleecms commented on #3828
This is complete. We are currently running the research now!

[2022-03-17 17:15] jeromeleecms commented on #3494
This is done - we are moving a different direction with React Forms and Joi

[2022-03-17 17:15] #3494 closed

[2022-03-17 17:17] #3546 closed

[2022-03-17 17:17] jeromeleecms commented on #3546
#3499 will fix this

[2022-03-17 19:23] thetif commented on #3497
replaced by #3866

[2022-03-17 19:23] #3497 closed

[2022-03-17 19:23] thetif commented on #3491
replaced by #3867

[2022-03-17 19:23] #3491 closed

[2022-03-17 19:44] thetif commented on #3789
duplicated of #3788

[2022-03-17 19:44] #3789 closed

[2022-03-18 13:09] #3747 closed

[2022-03-18 13:37] thetif opened #3875 "[Operations] Replace npm audit with synk"
We have been having a lot of issues with `npm audit` return lots of errors that are only present in development code and issues that cannot be fixed. Snyk seems to have a smarter algorithm for filtering out these issues. Replace `npm audit` with snyk where possible.

### This task is done when...

- [ ] the project is using snyk instead of npm audit

[2022-03-18 15:06] #3545 closed

[2022-03-18 15:40] jeromeleecms opened #3877 "[Bug] "You have securely logged out." message appears when accessing the login page of the app"
Loading the app for the first time results in a notification that the user was successfully logged out. This may particularly be confusing to people who are using screen readers and may think that the did something with the app that resulted in them being logged out.

**Type of Bug-**

- [X] Accessibility
- [ ] Functional
- [X] Usability
- [ ] API
- [ ] Regression

**Steps to reproduce-**

1. Go t

[2022-03-18 20:28] jeromeleecms opened #3878 "Create Sandbox Environment for users"
In user testing, people expressed in interest with playing with the application without going into the production site.

Some questions to answer:
1) How/where do we set that up? (Using a preview site?) Cleaner URL needed? (sandbox-eapd.cms.gov?) - Use Staging!
2) How often do we wipe the content out?
3) What logins do we provide? Invite only?
4) How do we communicate this out? Create documentatio

[2022-03-21 16:44] jeromeleecms commented on #3429
This was completed with #3868!

[2022-03-21 17:22] cthulhuplus commented on #3853
Mongo Schema
Reviewing Contingency Plans
Reviewing

[2022-03-21 19:08] #3832 closed

[2022-03-22 14:27] akuas commented on #3857
Attached is the multi-discipline exercise for federal admin. It is on the right hand side of the board.
https://app.mural.co/t/cmsmural6360/m/cmsmural6360/1599582144962/61de16ee86eb3f2fac37d070c217fc2d3a5eeabe

[2022-03-22 17:23] jeromeleecms commented on #3818
GA team has provided us direction on how to implement GA with CMS. Will spin up a new issue to document implementation and close this one out.

[2022-03-22 17:23] #3818 closed

[2022-03-22 17:28] jeromeleecms opened #3883 "Implement Tealium for Google Analytics"
Picking up from planning from #3818.

We need to remove GTM and implement Tealium to implement Google Analytics with CMS. Per the direction of the CMS GA team, we will need to:

1. Jerome's team will need to remove GTM and install Tealium. Blast will provide you with a Tealium Profile Name, Strategy for page-level tracking and Tech Spec documentation you'll need to implement.
2. During your implem

[2022-03-22 21:25] #3771 closed

[2022-03-22 22:34] #3775 closed

[2022-03-23 15:19] cthulhuplus commented on #3853
Backup & Restore (both in AWS and CPM)
Manually Provision Infrastructure with Scripts
Security/Availability Incident

[2022-03-23 17:03] akuas commented on #3802
Recording to the sessions will be below
https://dovetailapp.com/projects/1nzhhQMD4KSXRl9MPzk367/data/b/6PFyREJ1WTNaPwOl59nmyP

[2022-03-23 17:03] #3802 closed

[2022-03-23 17:06] tbolt commented on #3853
Some additional ones:
* Doing a Deployment (with or without build issues)
* Hotfix - Could either be an application bug or a vulnerability in the dependency chain

[2022-03-23 17:44] thetif commented on #3853
- finding documentation and running through it
- deployment
- database back up and restore
- hotfix
- fixing a security vulnerabilty

[2022-03-23 17:55] jeromeleecms opened #3888 "Contingency Planning Document Review: Development Team"
From retro, we need to review our contingency plans for when our Development Team Lead/Member is absent.

Current Doc: https://docs.google.com/document/d/1C3iNhB-07Hc7EVfN9V6CrKqFrBH54yDkrCnkXMVs1XQ/edit?usp=sharing

### This task is done when...

- [ ] Dev Team has reviewed/updated contingency planning document
- [ ] Entire team has been briefed on any changes/highlights

[2022-03-23 17:56] jeromeleecms opened #3889 "Contingency Planning Document Review: Design Team"
From retro, we need to review our contingency plans for when our Design Team Lead/Member is absent.

Current Doc: https://docs.google.com/document/d/1w6ecMW8jFzOSFtdPo9u6_yE6BVJh6L0s4ycpihrRaoE/edit?usp=sharing

### This task is done when...

- [ ] Design Team has reviewed/updated contingency planning document
- [ ] Entire team has been briefed on any changes/highlights

[2022-03-23 17:57] jeromeleecms opened #3890 "Contingency Planning Document Review: DevOps"
From retro, we need to review our contingency plans for when our DevOps Team Lead/Member is absent.

Current Doc: https://docs.google.com/document/d/1Zv9ctPWvi_UfXoBDJ0h1RrPwv771kP_Ri8Q1v-bVGyg/edit?usp=sharing

### This task is done when...

- [x] DevOps Team has reviewed/updated contingency planning document
- [x] Entire team has been briefed on any changes/highlights

[2022-03-23 18:01] jeromeleecms opened #3891 "Contingency Planning Document: Product"
From retro, we need a contingency planning document for each section. I don't see an old document (besides the Mural exercise that was done), so this one will be created from scratch

### This task is done when...

- [ ] Product has created their contingency plan
- [ ] Entire team has been briefed on the plan

---

Add additional labels (design, dev, compliance, BUG, etc) and size before submittin

[2022-03-24 13:57] cthulhuplus commented on #3861
Ty reported this morning that Prod was up despite not receiving the sec vuln patches that Staging received this week

[2022-03-24 17:14] jeromeleecms commented on #3861
It's alive! Need to patch some items, but whole system did not fail!

[2022-03-24 17:14] #3861 closed

[2022-03-25 17:41] #3773 closed

[2022-03-25 18:02] cthulhuplus commented on #3798
https://jiraent.cms.gov/browse/CLDSPT-25175

[2022-03-25 19:51] #3778 closed

[2022-03-25 21:56] thetif commented on #3427
Here is an example of what the audit table looks like

![Screen Shot 2022-03-25 at 5.56.40 PM.png](https://images.zenhubusercontent.com/5f18484c4aa7386e0e7413c8/5b49ffb5-6e5a-4c6d-a3c8-1cf5d97e90c5)

[2022-03-25 21:59] thetif opened #3898 "[Feature] Implement Stryker Mutator in application"
**Description and related issues -**
Darren assessed Stryker and determined that it would improve our test quality. Now it needs to be implemented in the system and adopted by all of the devs.

**What is the goal or purpose of this ticket?**
Improve our test quality

### This task is done when…
- [ ] stryker has been added to the application
- [ ] demo has been given to the other devs to show how

[2022-03-25 22:02] thetif opened #3899 "[Feature] Change Compliance radio buttons from Choice to ChoiceList"
**Description and related issues -**
Update all of the radio buttons in Compliance to be grouped as ChoiceLists instead of ungrouped Choice components. This will make it less confusing to maintain and will make it easier to validate when we get to that.

### This task is done when…
- [ ] the radio buttons on the Compliance page have been updated to be ChoiceLists instead of ungrouped Choices
- [ ]

[2022-03-25 22:07] thetif opened #3900 "[Feature] Create a quick dashboard view for checking in on current user stats"
**Description and related issues -**
Create a bare bones Federal Admin dashboard that displays the current total number of users and the last 20 items in the okta_user_audit table. This dashboard should be viewable by the Federal Admins and the Sys Admins when they log in to the FD state.

**What is the goal or purpose of this ticket?**
Make it easier to see insights on user stats.

### This task

[2022-03-28 13:19] tbolt commented on #3855
This was reviewed and merged into the tbolt/3826-mongo-schema-updates branch

[2022-03-28 13:19] #3855 closed

[2022-03-28 14:02] #3776 closed

[2022-03-28 20:38] #3427 closed

[2022-03-29 13:55] mirano-darren commented on #3774
merged in another branch

[2022-03-29 13:55] #3774 closed

[2022-03-29 14:38] #3826 closed

[2022-03-30 16:13] aricka-lewis opened #3917 "Change "Preview" to "PDF Preview""
Based on the lockdown and submit usability studies, participants had difficulty understanding what version of the APD they would see when clicking "preview." Updating the language to "PDF Preview" will provide clarity that they should expect a PDF version of the APD to open.

This includes:
- preview link on the dashboard
- "preview this APD" on the export and submit page"

Preview findings/synthe

[2022-03-30 16:15] aricka-lewis opened #3919 "Add labels for last edited by or locked date on the dashboard"
Describe the task here and link or add dependencies to any applicable issues...

### This task is done when...

- [ ] criteria 1
- [ ] criteria 2

---

Add additional labels (design, dev, compliance, BUG, etc) and size before submitting.

If the issue is needed to complete prioritized work for the CURRENT SPRINT, add it to the "This Sprint" pipeline. Otherwise, all other issues will be automatical

[2022-03-30 16:16] aricka-lewis opened #3920 "Reorder links on dashboard based on priority of use"
During lockdown and submit research, all of the participants mentioned the delete action being alarming. This was usually because folks reuse information inside of APDs.

We should reorder the list of links by usefulness to mitigate concern of accidentally deleting an APD.

### This task is done when...

 - [x] designs are created, taking into consideration multiple FFY, multiple entries, long ent

[2022-03-30 16:17] aricka-lewis opened #3921 "Dashboard 2.0"
After lockdown and submit research, we came away with a lot of ideas on how to improve the dashboard for scalability.

Some concepts to consider when updating the dashboard:
- packages
- multi-user
- statuses
- active work vs records

Do we lock the APD on dashboard when someone is editing APD?

### This task is done when...

 - [ ] designs are created, taking into consideration multiple FFY, mult

[2022-03-30 16:18] aricka-lewis opened #3922 "Update lock/export experience to be sequential, include final step"
Describe the task here and link or add dependencies to any applicable issues...

### This task is done when...

- [ ] criteria 1
- [ ] criteria 2

---

Add additional labels (design, dev, compliance, BUG, etc) and size before submitting.

If the issue is needed to complete prioritized work for the CURRENT SPRINT, add it to the "This Sprint" pipeline. Otherwise, all other issues will be automatical

[2022-03-30 18:54] cthulhuplus opened #3924 "Check Prod Logs"
As a part of https://github.com/CMSgov/eAPD/pull/3923 I had to remove the CloudWatch configuration from the user-data file, I believe the AMI already has CloudWatch configured, but I need to double check and make sure that Prod logs are making it to CloudWatch.

### This task is done when...

- [ ] criteria 1
- [ ] criteria 2

---

Add additional labels (design, dev, compliance, BUG, etc) and size

[2022-03-31 15:09] cthulhuplus opened #3927 "Develop Emergency Direct to Staging Deploy"
Addressing issues in Staging takes a prohibitively long time currently, being able to deploy directly to staging would be a great boon for testing things that work in Preview, but are broken in Staging.

### This task is done when...

- [x] Can successfully deploy directly to staging

[2022-03-31 15:15] #3592 closed

[2022-03-31 17:17] jeromeleecms commented on #3853
This will be good to close when the topics are moved to a Google doc @cthulhuplus

[2022-03-31 17:20] cthulhuplus opened #3929 "Update CircleCI Artifacts Download Mechanism"
The mechanism that CircleCI uses to download artifacts has been deprecated, we need to update how we handle that process to be inline with version 2.0 of their API.

### This task is done when...

- [ ] Storing and Downloading of artifacts is functional again

[2022-04-01 19:26] akuas commented on #3735
I have archived the designs in the archive file. I did leave a few future enhancements in the main file that I would like to explore in the future like the dashboard designs.

[2022-04-01 19:27] akuas commented on #3735
@aricka-lewis I think this ticket is ready to close, can you please take a look a the archived file.

[2022-04-04 17:55] aricka-lewis opened #3937 "Plan research for dashboard and multi-user editing"
Describe the task here and link or add dependencies to any applicable issues...

### This task is done when...

- [ ] criteria 1
- [ ] criteria 2

---

Add additional labels (design, dev, compliance, BUG, etc) and size before submitting.

If the issue is needed to complete prioritized work for the CURRENT SPRINT, add it to the "This Sprint" pipeline. Otherwise, all other issues will be automatical

[2022-04-04 21:05] mirano-darren commented on #3877
@jeromeleecms I'm not having this issue? Did the logout message appear after you pressed Accept and continue?![image.png](https://images.zenhubusercontent.com/60e5e61f47c95c0dd8ed87be/a9994315-45f7-4fa6-b12a-0a0376e0c2b2)

[2022-04-04 23:06] jeromeleecms commented on #3877
Hmm.. now I don't see it on eapd.cms.gov, but I'm seeing it on staging only. Is this maybe related to the current status of staging? If it is, I think we can close this ticket out @mirano-darren ...

[2022-04-05 10:08] mirano-darren commented on #3877
I'm also not seeing it on staging either. I think you are seeing the message because of session cookies? It might be remembering when you logged out last. What I did to check was use Chrome's incognito mode to get a browser that starts with no cookies.

[2022-04-05 11:19] #3779 closed

[2022-04-05 18:18] aricka-lewis commented on #3735
Looks good! @akuas closing this ticket

[2022-04-05 18:18] #3735 closed

[2022-04-05 18:50] cthulhuplus opened #3943 "Recreate Logging for Prod/Staging"
Work to fix staging required user-data.sh to get too large for AWS, alternate CloudWatch configuration required

### This task is done when...

- [ ] Set up logging for Staging
- [ ] Set up logging for Prod

[2022-04-05 18:50] #3924 closed

[2022-04-05 20:25] cthulhuplus commented on #3890
Look good @jeromeleecms ?

[2022-04-05 21:08] #3798 closed

[2022-04-05 21:09] #3929 closed

[2022-04-06 13:17] cthulhuplus commented on #3853
Created two documents in Google Drive

[2022-04-06 13:17] #3853 closed

[2022-04-06 15:24] tbolt opened #3946 "Add e2e testing to main/staging deploy/CI pipeline"
As discussed in devsync, we agreed it would be best to have all of our testing coverage run in main/staging as it does in preview builds

### This task is done when...

- [ ] e2e testing added to CI pipeline

---

Add additional labels (design, dev, compliance, BUG, etc) and size before submitting.

If the issue is needed to complete prioritized work for the CURRENT SPRINT, add it to the "This Spr

[2022-04-06 15:58] aricka-lewis commented on #3889
I updated the sections relevant to me. @beparticular I'll leave it to you to update contact info and meeting times when you get settled.

https://docs.google.com/document/d/1w6ecMW8jFzOSFtdPo9u6_yE6BVJh6L0s4ycpihrRaoE/edit?usp=sharing

[2022-04-06 16:52] aricka-lewis commented on #3845
Since this is a living/ongoing document, I'm marking this issue as done.

[2022-04-06 16:54] #3781 closed

[2022-04-06 17:31] jeromeleecms opened #3948 "Dev: Review GitHub Template"
Per Retro: We need to review our GitHub templates to ensure they are up to date / still make sense

### This task is done when...

- [ ] Dev has reviewed templates
- [ ] Changes to templates have been made and pushed to repo

[2022-04-06 17:31] jeromeleecms opened #3949 "Design: Review Templates"
Per Retro: We need to review our GitHub templates to ensure they are up to date / still make sense

### This task is done when...

- [ ] Design has reviewed templates
- [ ] Changes to templates have been made and pushed to repo

[2022-04-06 17:32] jeromeleecms opened #3950 "DevOps: Review GitHub Templates"
Per Retro: We need to review our GitHub templates to ensure they are up to date / still make sense

### This task is done when...

- [ ] DevOps has reviewed templates
- [ ] Changes to templates have been made and pushed to repo

[2022-04-06 19:38] #3784 closed

[2022-04-06 19:50] jeromeleecms commented on #3890
Just a few clarifying questions for your consideration. But this looks like a solid foundation.

[2022-04-06 19:53] jeromeleecms commented on #3891
@aricka-lewis @cthulhuplus @thetif Could you take a look at the linked document and provide some feedback/thoughts?

[2022-04-07 13:43] cthulhuplus commented on #3890
@jeromeleecms I updated the document based on your feedback

[2022-04-07 15:45] jeromeleecms commented on #3890
Looks good - once all the contingency plans have been drafted, I think talking through them during parking lot would be good to elevate teams awareness. Thoughts? Depending on how long each takes, we can either spread it out during the week or do it all in one session.

[2022-04-07 16:08] cthulhuplus commented on #3890
I am 100% in favor for talking and "walking" through these documents. It is important to know what our various procedures would be. After talking through them it might be beneficial to do tabletop exercises with the parties involved with each plan so that the talking is made slightly more concrete.

[2022-04-07 16:33] akuas commented on #3917
Below is the revised dashboard with PDF Preview
https://www.figma.com/file/6eVvo7JjvXiovGTR4BoVgK/CMS-eAPD-2022?node-id=7370%3A46497

[2022-04-07 16:36] jeromeleecms commented on #3890
I think our brains are in sync with this - that's exactly what I was thinking for next steps after we did the briefing. Know -> Apply!

[2022-04-07 17:21] #3782 closed

[2022-04-07 18:54] #3783 closed

[2022-04-07 19:03] cthulhuplus commented on #3943
Staging/Prod use base CMS AMI, need to create a new AMI with CloudWatch configured.

[2022-04-07 20:17] cthulhuplus opened #3955 "Create List of Differences Between Preview and Higher Envs"
Create list of differences between Preview Environments and Staging/Prod.

### This task is done when...

- [ ] Once the processes between Preview and Staging/Prod has been reviewed for differences
- [ ] New work and tickets have been made to address the differences

[2022-04-07 21:00] cthulhuplus opened #3956 "Level 1 ITSI Monitoring"
## From ITSI team

Discovery - ***Minimal*** ADO involvement

1. Application Discovery
	a. Architectural Diagram - ***ADO needs to provide***
	As part of discovery, we would in general go thru ADOs arch or logical diagram to list all the infrastructure pieces and create a template and then engage ADOs to go over discovery and add application logs to the mix to assess the application health.

2. Da

[2022-04-08 13:16] #3785 closed

[2022-04-08 15:17] aricka-lewis commented on #3917
@akuas yes, just update this issue to reflect that

[2022-04-08 16:24] akuas commented on #3917
@aricka-lewis Thanks, I have made the changes to designs below
https://www.figma.com/file/6eVvo7JjvXiovGTR4BoVgK/CMS-eAPD-2022?node-id=198%3A0
https://www.figma.com/file/6eVvo7JjvXiovGTR4BoVgK/CMS-eAPD-2022?node-id=7370%3A46497

[2022-04-08 16:25] akuas commented on #3917
@jeromeleecms If there is no objections, I think this is ready to close out

[2022-04-08 17:17] jeromeleecms commented on #3917
Looks good! Def. helps set the expectation for what to expect when clicking on this button.

[2022-04-08 17:20] #3917 closed

[2022-04-08 17:20] akuas commented on #3917
@jeromeleecms I thought you were taking the day off hehe. Thanks, I am going to close this ticket now.

[2022-04-08 18:27] akuas commented on #3857
@jeromeleecms I connected our different roles together in the mural. When possible can you please post the recording either here or on the table top google folder? Is there anything else I should capture on the board from our discussion?
https://app.mural.co/t/cmsmural6360/m/cmsmural6360/1599582144962/61de16ee86eb3f2fac37d070c217fc2d3a5eeabe

[2022-04-11 15:24] mirano-darren opened #3964 "[Testing] Using Stryker to strengthen unit tests"
Describe the task here and link or add dependencies to any applicable issues...

Go through the unit tests that have low test coverage and run Stryker on them to increase the code coverage. The tests that have low test coverage are the ones that are highlighted in red after a "yarn test" in web.

### This task is done when...

- Stryker has been run on the following files and are no longer highlig

[2022-04-11 15:52] akuas commented on #3920
I updated the links on the dashboard based on priority of use. Lock is first so that it is a bit easier to find on the dashboard. Keep in mind that this might change with the dashboard redesign. We might decide to hide the delete button in some way to prevent accidental clicking and we will most likely redesign these call to action layout.

https://www.figma.com/file/6eVvo7JjvXiovGTR4BoVgK/CMS-eAP

[2022-04-11 15:52] akuas commented on #3920
@aricka-lewis can you please review this ticket?

[2022-04-11 16:56] jeromeleecms commented on #3857
I uploaded the recording to our Google Drive and linked to it in the Mural. The flow diagram between our roles is :thumbsup: - I think this is ready to close when you are.

[2022-04-11 17:06] akuas commented on #3857
@jeromeleecms Im going to close out this ticket then. 😊

[2022-04-11 17:06] #3857 closed

[2022-04-11 17:09] thetif opened #3965 "[Feature] Create cypress tests for Fed Admin tabs"
**Description and related issues -**
Create cypress tests for the Requests, Active, and Inactive. Model these off of the State Admin cypress tests. Tests should include checking for displaying the correct rows, buttons function and display the modals, cancel and submit buttons work.

**What is the goal or purpose of this ticket?**

### This task is done when…
- [ ] cypress tests are written and pa

[2022-04-11 17:16] thetif opened #3966 "Team testing philosophy document"
Work together to document how testing will work on our team. This should be based on Fearless standards and modern testing practices. Document how the devs and testers will work together on tickets.

1. Understand the tools we use for testing for each stage of development (unit, e2e, visual, others)?
2. Roles and Responsibilities for Testing
3. What is the expectations for QA in ticket authoring p

[2022-04-11 17:18] itsonlydio opened #3967 "a testing document wiki page has been created"

[2022-04-11 17:36] akuas opened #3968 "[Design Issue] Update subform design to allow for 1 subform to be saved before adding another"
We need to update the subform the design to sync information sent from the front end  to the backend. Currently, you can add multiple subforms at a time, and whichever subform you choose to save will be 1st regardless of the order in which it was added.

Need to update the design for key state personnel first and get a consensus for the rest of the subforms.

### This task is done when…

- [x] Key

[2022-04-11 19:13] #3786 closed

[2022-04-11 19:46] #3787 closed

[2022-04-12 12:34] akuas commented on #3968
Yesterday, we decided that we could disable the Add (subform name) button and have copy indicating that they have to save to add another subform. But I went back to @aricka-lewis suggestion on just removing the button (Add Key Personnel) till they save. at first, I was a bit concerned that it would be disorienting to remove content from the page without indicating to users, but I suppose it wouldn

[2022-04-12 12:34] akuas commented on #3968
@tbolt Below is the design for the key state personnel with the change added. Please let me know what you think.

https://www.figma.com/file/6eVvo7JjvXiovGTR4BoVgK/CMS-eAPD-2022?node-id=5604%3A38738

[2022-04-12 17:22] jeromeleecms commented on #3856
Meeting is going to be held on 4/12. Will discuss the regularly scheduled cadence for this meeting at meeting.

[2022-04-12 17:23] akuas commented on #3968
@tbolt Yes, save and cancel are your only options once you open a subform. Nice, Im going to bring this ticket back into progress and untag you, so that I make the changes to the rest of the subforms then tag you again when it is ready to review.

[2022-04-13 14:18] cthulhuplus opened #3971 "Investigate NGINX Zero Day"
https://blog.malwarebytes.com/reports/2022/04/nginx-zero-day-vulnerability-check-if-youre-affected/

Determine whether this exploit pertains to us

### This task is done when...

- [x] Determine whether or not we are impacted by this vulnerability
- [x] Create followup issues if necessary

[2022-04-13 14:56] tbolt commented on #3726
Decision was made to remove the Add [subform name] button when the subform is open. See https://github.com/CMSgov/eAPD/issues/3968 for more information

[2022-04-13 15:00] tbolt opened #3973 "[Tech Debt]: Cleanup errors/warning in console for the front end app"
While none of the errors/warnings we are seeing in the console appear to have any impact on the application functionality, it's generally good "code hygiene" to keep these to a minimum or keep them at zero.

We should take some time to go through, find them all, and remedy them.

### This task is done when...

- [ ] All console errors and warnings addressed
- [ ] criteria 2

---

Add additional la

[2022-04-13 15:55] thetif opened #3975 "Upgrade node version for security issues"
Snyk is reporting vulnerabilities on our current image `node:16.13.2-bullseye`. It suggests updating to `node:16.14.0-stretch-slim`. We will also need to update all of our node versions to `16.14.0`. After updating, verify that everything is still working as expected

### This task is done when...

- [ ] updated docker images in api, web, and circleci config
- [ ] updated node versions to 16.14.0

[2022-04-13 17:14] #3888 closed

[2022-04-13 17:43] mirano-darren commented on #3877
Could no longer re-create the bug

[2022-04-13 17:56] cthulhuplus opened #3978 "Cleanup/Update Preview AMI"
https://app.zenhub.com/workspaces/cms-eapd-5a3823ad3659e94d8ee569be/issues/cmsgov/eapd/3902

This is a followup issue to the above issue. Now that the GHA is working again, I need to address a few error messages that are being generated and clean up files that are generated as a part of the AMI creation process.

### This task is done when...

- [ ] Error Messages have been resolved
- [ ] Files/Di

[2022-04-13 18:14] mirano-darren commented on #3967
Page on wiki has been [created](https://github.com/CMSgov/eAPD/wiki/Testing-Philosophies-and-Strategies)!

[2022-04-13 18:14] #3967 closed

[2022-04-13 18:30] cthulhuplus commented on #3971
https://www.nginx.com/blog/addressing-security-weaknesses-nginx-ldap-reference-implementation/
"We have determined that only the reference implementation is affected. NGINX Open Source and NGINX Plus are not themselves affected, and no corrective action is necessary if you do not use the reference implementation.

The NGINX LDAP reference implementation uses Lightweight Directory Access Protocol (

[2022-04-13 18:32] cthulhuplus commented on #3971
@jeromeleecms I have determined that we are not impacted by this vulnerability, so no additional issues are needed to address it. Is there any additional conversations or followup that you desire?

[2022-04-13 19:28] #3788 closed

[2022-04-13 19:28] mirano-darren commented on #3790
Merged with 3788

[2022-04-13 19:28] #3790 closed

[2022-04-13 20:17] #3791 closed

[2022-04-13 20:30] thetif opened #3979 "[Tech Debt] Refactor tests to get all error messages"
The test "renders errors when field are empty" in ContractorResourceForm.test needs to be updated to test for all of the error messages.

This is the current stop gap solution:
[code]

### This task is done when...
- [ ] all of the error messages are appearing in the tests and being validated

[2022-04-13 20:50] jeromeleecms commented on #3971
@cthulhuplus I'm good with closing this as long as we continue to maintain our internal security tracking log. Anything that has a formal reporting, I'm fine with recording that in the tool that reported it. Feel free to reopen if you think it needs anything else...otherwise...

[2022-04-13 20:50] #3971 closed

[2022-04-14 13:04] #3792 closed

[2022-04-14 13:48] #3793 closed

[2022-04-14 15:37] akuas commented on #3920
Here is the updated link @aricka-lewis
https://www.figma.com/file/6eVvo7JjvXiovGTR4BoVgK/CMS-eAPD-2022?node-id=7377%3A48735

[2022-04-14 19:09] akuas commented on #3968
I updated the other subforms below. They activity schedule is on a separate page from the milestones but the subform is still the same.
[Key State Personnel](https://www.figma.com/file/6eVvo7JjvXiovGTR4BoVgK/CMS-eAPD-2022?node-id=5548%3A37347)
[Activity Schedule and Milestones](https://www.figma.com/file/6eVvo7JjvXiovGTR4BoVgK/CMS-eAPD-2022?node-id=5708%3A38501)
[Outcomes and Metrics](https://www.

[2022-04-14 19:10] akuas commented on #3968
@ty and @jeromeleecms Can you please take a look at this and if there are no issues, I will close the ticket out.

[2022-04-14 19:51] jeromeleecms commented on #3968
This looks fine @akuas. In the case where the user "edits" a subform, does the "add" button stay or go? From @tbolt description, once it's been assigned a ID in the front end -> back end, saving is not an issue (is that right?). So it seems we could have a form that is being edited AND a subform being added at the same time.

[2022-04-14 20:32] tbolt commented on #3968
@akuas Looks good to me

@jeromeleecms That's a good point. I didn't think of the Edit. The issue with how we have it coded now is that when anything is saved to the backend (edits or adding a new one) we are re-sync'ing the front-end. So if you start adding an item, then go to edit one, when you save that, it will lose the other content. We'll need to revisit this again I suppose.

[2022-04-14 21:08] #3794 closed

[2022-04-14 21:37] mirano-darren commented on #3796
Merged in with #3794

[2022-04-14 21:37] #3796 closed

[2022-04-14 21:37] mirano-darren commented on #3795
Merged in with #3794

[2022-04-14 21:37] #3795 closed

[2022-04-15 05:12] aricka-lewis commented on #3920
Looks good, thanks! @akuas

[2022-04-18 13:09] akuas commented on #3920
@jeromeleecms Can you please review this ticket?

[2022-04-18 13:20] akuas commented on #3968
@jeromeleecms When the subform is open or it is being edited, the add button is gone. From what I understand, designing it this way where a user cannot edit one subform and add other, should prevent the issue of listed subforms ordered incorrectly.

[2022-04-18 14:48] thetif commented on #3350
Completed in previous ticket

[2022-04-18 14:48] #3350 closed

[2022-04-18 14:49] thetif commented on #3351
Completed in previous ticket

[2022-04-18 14:49] #3351 closed

[2022-04-18 14:52] #3353 closed

[2022-04-18 14:52] thetif commented on #3353
Completed in previous ticket

[2022-04-18 19:12] akuas commented on #3968
@jeromeleecms @ty If there is nothing to change, I think this ticket is ready to close.

[2022-04-18 19:28] jeromeleecms commented on #3968
Just to reiterate: if you are editing an existing form, the add button will go away. So in the case where you are adding/editing, does that also mean the other "edit" buttons go away? This idea sounds good - just want make sure we cover the cases so people aren't losing data entry.

[2022-04-19 11:39] akuas commented on #3968
@jeromeleecms Okay, I think I understand what you are asking now. I don't think we should remove the other instances of edit (edit as a hyperlink) when you are adding an APD.  Would there be an issue with keeping the edit button @ty with the backend?
https://www.figma.com/file/6eVvo7JjvXiovGTR4BoVgK/CMS-eAPD-2022?node-id=5403%3A34595

[2022-04-19 15:46] tbolt commented on #3968
@akuas currently, yea. Any time any of the subforms are saved the "sync" with the backend happens and any additional open subforms will be lost

[2022-04-19 16:48] beparticular commented on #3889
@jeromeleecms I've reviewed this update and it's all fine. can this be closed?

[2022-04-19 17:59] jeromeleecms commented on #3968
OK from standup - we are scoping some tickets very specifically to handle the different cases described here:

1) **Spin up a new bug for multiple edits issues** - Saving an existing form shouldn't affect the other open subforms and should not cause the page to refresh.  As it is now if two sub forms are open, saving will only save  item and clear out any new data that may have been added for an e

[2022-04-19 18:12] tbolt opened #3983 "[Bug] When editing and existing subform item, do not close/remove an in-progress new subform item"
**Description-**
Currently, if you are adding a new subform item, and then go to edit + save a previously saved subform item, the in-progress new subform item will be closed/collapsed. We will update this behavior such that editing previously saved subform items has no impact on in-progress adding of a new subform item

**Type of Bug-**

- [ ] Accessibility
- [x] Functional
- [ ] Usability
- [ ] A

[2022-04-19 18:15] akuas commented on #3968
@jeromeleecms Looks good to me! Im going to remove the design tag then.

[2022-04-20 13:13] akuas commented on #3919
@beparticular I am playing around with some of the other content on the dashboard so you can ignore it for the ticket. But, could you look at the last edited by section.
Which option is better?
[Option 1 ](https://www.figma.com/file/6eVvo7JjvXiovGTR4BoVgK/CMS-eAPD-2022?node-id=8148%3A25717)
[Option 2](https://www.figma.com/file/6eVvo7JjvXiovGTR4BoVgK/CMS-eAPD-2022?node-id=8156%3A25862)

[2022-04-20 15:41] beparticular commented on #3920
@jeromeleecms I have reviewed and this seems fine. do you have any concerns?

[2022-04-20 15:48] akuas commented on #3919
@beparticular Also, this could be an intermediary step to we change the dashboard to a sort of tabular design like what Jesse designed
https://www.figma.com/file/6eVvo7JjvXiovGTR4BoVgK/CMS-eAPD-2022?node-id=3037%3A124

[2022-04-20 16:05] jeromeleecms commented on #3920
Thanks @beparticular -- this makes sense based on our research sessions. Ready for Dev!

[2022-04-20 16:44] mirano-darren opened #3984 "[Bug] Document Preview in the State Admin Delegate Form doesn't load"
**Description-**
When trying to preview what document you uploaded in the delegate state admin form, it loads incorrectly
**Type of Bug-**

- [ ] Accessibility
- [x] Functional
- [ ] Usability
- [ ] API
- [ ] Regression

**Steps to reproduce-**

1. Go to the delegate state admin form
2. Upload any type of acceptable file
3. Click on the hyperlink to the file
4. Error should appear

**Role Affected

[2022-04-20 17:12] akuas commented on #3968
I forgot to mention @thetif this ticket is ready for dev

[2022-04-20 17:43] #3864 closed

[2022-04-20 17:44] jeromeleecms opened #3985 "Accessibility Research: How should the app behave when a new form is added"
In many parts of our app, there is the option to add new form elements.

Example:

![image.png](https://images.zenhubusercontent.com/5c547884d11206601037f0c7/2b527a70-bf32-45c6-9a91-a0f0161ae2d0)

When clicking on add outcome, a new text area appears:

![image.png](https://images.zenhubusercontent.com/5c547884d11206601037f0c7/b4f278ba-4377-4c67-9ec9-3a501746ad3c)

What should the app do from a:
-

[2022-04-20 18:04] thetif opened #3987 "[Testing] Adjust Codecov configs"
Look into the codecov configs on the [website](https://about.codecov.io/) and in the code. Ignore files that do not need to be tested. Set minimums for code coverage so that developers do not go under that number.

### This task is done when…
- [ ] codecov configs have been updated to only count relevant code
- [ ] code coverage minimums have been set

[2022-04-20 18:08] thetif opened #3988 "[Testing] Verify the accessibility of the site"
Research the accessibility of tabs and auto-focus in forms. Verify that inline validation errors are accessible to non-sighted users.

### This task is done when…
- [ ] we understand the most accessible way to handle tabbing and auto-focus in our forms
- [ ] inline validation errors are accessible to non-sighted users

[2022-04-20 18:09] thetif opened #3989 "Suggest updates to the Bug template below"
**Description-**

**Type of Bug-**

- [ ] Accessibility
- [ ] Functional
- [ ] Usability
- [ ] API
- [ ] Regression

**Steps to reproduce-**

1. Step
2. Step
3. Step

**Role Affected-**

- [ ] All
- [ ] Federal Admin
- [ ] State Admin
- [ ] State Staff
- [ ] State Contractor
- [ ] System Admin

**Environment-**

- [ ] All
- [ ] PR #\_\_\_\_
- [ ] Staging
- [ ] Production

**Browser-**

- [ ] Firef

[2022-04-20 18:10] thetif opened #3990 "Suggest updates to the Feature template below"
**Title should be User Story or Short Description of Task -** e.g.

- As a state admin, I want to approve users, so that they can access our APDs.
- Create Title Case component and use for all Nav Items, Section Titles, and Table Headers

**Description and related issues -**
Describe the feature here and link or add dependencies to any applicable issues; include background of the problem being sol

[2022-04-20 18:11] thetif opened #3991 "Suggest updates to the Ops template below"
Describe the task here and link or add dependencies to any applicable issues...

### This task is done when...

- [ ] criteria 1
- [ ] criteria 2

---

Add additional labels (design, dev, compliance, BUG, etc) and size before submitting.

If the issue is needed to complete prioritized work for the CURRENT SPRINT, add it to the "This Sprint" pipeline. Otherwise, all other issues will be automatical

[2022-04-20 18:12] thetif opened #3992 "Suggest updates to the PR template below"
Resolves #

**Description-**

**This pull request changes...**

- expected change 1
- expected change 2

**This pull request also touches…**

- possible side effects of this change

**This pull request was tested in the follow ways…**

- list of frontend cases
- list of backend cases

**Steps to manually verify this change...**

1. steps to view and verify change

### This pull request is ready to

[2022-04-20 19:09] jeromeleecms commented on #3856
Scheduling next one for 07/19. Will reschedule if needed.

[2022-04-20 19:09] #3856 closed

[2022-04-20 21:14] jeromeleecms commented on #3890
Merged contingency plan into a unified document in prep for going over all the docs: https://docs.google.com/document/d/17a0K9vNOc731loJXw_WvZliDgklxWy7nqqylBME2BJQ/edit#heading=h.88btzg331qp5

[2022-04-20 21:15] jeromeleecms commented on #3889
Merged contingency plan into a unified document in prep for going over all the docs: https://docs.google.com/document/d/17a0K9vNOc731loJXw_WvZliDgklxWy7nqqylBME2BJQ/edit#heading=h.88btzg331qp5

[2022-04-20 21:15] jeromeleecms commented on #3891
Merged contingency plan into a unified document in prep for going over all the docs: https://docs.google.com/document/d/17a0K9vNOc731loJXw_WvZliDgklxWy7nqqylBME2BJQ/edit#heading=h.88btzg331qp5

[2022-04-20 21:15] jeromeleecms commented on #3888
Merged contingency plan into a unified document in prep for going over all the docs: https://docs.google.com/document/d/17a0K9vNOc731loJXw_WvZliDgklxWy7nqqylBME2BJQ/edit#heading=h.88btzg331qp5

[2022-04-21 15:39] jeromeleecms commented on #3877
Received notification again on prod and opened the console:

![image.png](https://images.zenhubusercontent.com/5c547884d11206601037f0c7/5c9b86e1-fffb-4883-aecd-36f9cdcacc18)

If we don't get a response from the authentication server, we should report that the system is not available.

[2022-04-21 16:44] akuas commented on #3949
The design template still makes sense. I would probably add
"Add links to mural board and workshops used to plan for the design, if need be"
I like the part about adding 508 recommendations, but what do you think that would like in the ticket? @beparticular

[2022-04-21 17:01] mirano-darren commented on #3984
Notes:
If the file has been submitted before (A previous form was submitted with the same file) Then the error does not appear and it downloads the file as expected.

[2022-04-22 13:10] tbolt commented on #3449
@akuas @thetif @jeromeleecms For Budget and FFP section, we default to a 90-10 split, because of that we can't determine wether they "chose" that or didn't respond. So i'm not sure how to determine when they haven't provided a response. This is the section with budget tables so i'm wondering if the idea is to not show them if all the totals are 0 AND its set to 90-10 split?

[2022-04-22 13:13] cthulhuplus opened #3999 "CircleCI Packer"
We need a new Packer build workflow for building the Production AMIs. Since we will be building this new workflow in CircleCI instead of using GHA, we'll use this opportunity to move our Preview AMI builds over to CircleCI as well.

### This task is done when...

- [ ] Preview AMIs are being built via CircleCI
- [ ] Production AMIs are being built via CircleCI

[2022-04-22 14:27] tbolt commented on #3726
Update: Decision was made to scope this ticket to only include allowing 1 subform item to be added at a time. When the "Add [Subform item" button is clicked, it will open the form and hide the button until canceled or saved.

[2022-04-22 15:30] jeromeleecms commented on #3449
@tbolt A while back we changed the default to no selection - by default, the calculation is a 0-100 Federal/State split which is then updated when the user makes the selection. This idea of "no selection" should be present in most the app which requires that the state make a decision vs. have the app make a default decision for them.

![image](https://user-images.githubusercontent.com/34279968/164

[2022-04-22 17:57] #3899 closed

[2022-04-25 00:58] tbolt commented on #3449
@jeromeleecms I thought that was the case, but from what I can tell that logic hasn't been implemented in the codebase.

That sounds good though. Just to clarify though- If they don't select an option for Federal-State Split, is the intent to not show the tables at all in the export view?

[2022-04-25 12:34] akuas commented on #3449
@jeromeleecms That sounds good to have the select an option as a default. I created a new APD and 90-10 was the default so I imagine to code has to be amended to make users select an FFP instead of 90-10 being the default. And this would be the same for other dropdowns i imagine.
So, if part of the Budget and FFP page is filled out and one year doesnt have an FFP should we say " FFP not specified"

[2022-04-25 14:52] mirano-darren commented on #3966
Presented at dev sync

[2022-04-25 14:52] #3966 closed

[2022-04-25 15:27] tbolt commented on #3449
Doing some digging I did find that we had updated it to be 0-100. However, it was not updated in one place so doing "Create New APD" was still defaulting to 90-10. I have this corrected/fixed now.

[2022-04-25 15:34] tbolt commented on #3449
@jeromeleecms with the fed-state split issue resolved, @akuas and I thought it would be best to not have a message for this case and just have the budget tables show $0 as an indicator that nothing has been entered. Let me know if you have any concerns with that.

[2022-04-25 16:33] jeromeleecms commented on #3449
1) Good with no message with no selection for the fed-state split
2) If they don't make selection the math should still show as 0-100 and that would be reflected in the builder and the export view correct?

[2022-04-25 16:46] thetif opened #4002 "[Testing] Create APDs in staging to be used for future testing"
Create enough APDs in staging that we can cover all of the APD options in the system; e.g. different funding types, different numbers of activities, different numbers of staff, etc. Change their names to 'Test APD X'.

### This tasks is done when...
- [ ] new APDs have been created in staging

[2022-04-25 16:54] tbolt commented on #3449
@jeromeleecms for #2 that's correct. If no selection is made both the builder and export view show a 0-100 split. Here's an example of the export view-
![Screen Shot 2022-04-25 at 12.54.03 PM.png](https://images.zenhubusercontent.com/5f43eb2204d6d70d8324232c/c8d0285b-9797-4f42-8001-28f67df29ea1)

[2022-04-25 17:15] jeromeleecms commented on #3449
Looks good!

[2022-04-25 17:37] #3890 closed

[2022-04-25 17:45] jeromeleecms commented on #3891
Reviewed during standup on 04/25/2022

[2022-04-25 17:45] #3891 closed

[2022-04-25 19:51] #3999 closed

[2022-04-26 13:43] cthulhuplus opened #4003 "Create Packer Cleanup CircleCI Workflow"
Packer doesn't always cleanup after itself fully, create a CircleCI workflow that will run and clean up leftover Packer artifacts.

### This task is done when...

- [ ] CircleCI workflow is created
- [ ] Packer artifacts are cleaned up

[2022-04-26 14:37] #3889 closed

[2022-04-26 14:48] beparticular commented on #3845
This will be cool to keep around and update on a regular interval.
The plan moving forward will be to mainly update the wishlist and the ideas for research (and hopefully what's been implemented!).
We can move the research ideas from the wiki into this and make a note in the research findings wiki page that the ideas for new research can be found in the Roadmap doc.
We can also link the Mural in D

[2022-04-26 14:57] akuas commented on #3949
Recap from a conversation with Jenn:
508: Focus on visual and content side.
We can revise to 508 visual and content UX is reviewed.

[2022-04-26 15:00] beparticular commented on #3949
@jeromeleecms @akuas and I discussed the template and made some minor changes. this is ready to be added to the repo.

[2022-04-26 15:45] jeromeleecms commented on #3949
@beparticular Is there a PR for the design template that I can merge into the repo?

[2022-04-26 16:56] #3978 closed

[2022-04-26 16:57] #3943 closed

[2022-04-26 17:40] beparticular opened #4006 "[Design Issue] Connect Figma + Storybook"
Connect Figma + Storybook
Design needs to understand how storybook connects to Figma, what should be connected, and what processes we need to have ongoing to maintain and add to storybook as new features are created. This is outlined further in the A/C.

### This task is done when…

- [ ] decide what to do with components that are currently in Storybook that aren't in Figma
- [ ] decide what compo

[2022-04-26 17:53] cthulhuplus opened #4007 "Create Validation Tests for Terraform Code"
Create validation tests to make sure that the Terraform code written is valid and remains valid. The following files need to be tested:
terraform/legacy/main.tf
terraform/legacy/preview/preview.tf
terraform/legacy/prod/prod.tf
terraform/legacy/public/public.tf
terraform/legacy/staging/staging.tf

### This task is done when...

- [x] Terraform validation for terraform/legacy/main.tf is successful
-

[2022-04-26 17:55] cthulhuplus opened #4008 "Create Validation Tests for Packer Code"
Describe the task here and link or add dependencies to any applicable issues...

### This task is done when...

- [ ] criteria 1
- [ ] criteria 2

[2022-04-26 17:59] beparticular commented on #3070
I'd like to do this one to get back into the system and get some reminders of the application. I could work with @CSwartzHMA on this.

[2022-04-26 18:18] akuas commented on #3070
@beparticular Sounds good.

[2022-04-26 18:57] mirano-darren commented on #3984
Decided to keep the hyperlink, but the name of the file will default to untitled if it hasn't been submitted yet

[2022-04-26 19:10] thetif commented on #3983
could you please also disable submitting the form on enter as part of this ticket

[2022-04-26 19:26] jeromeleecms commented on #3991
Duplicate #3950

[2022-04-26 19:26] #3991 closed

[2022-04-26 19:32] jeromeleecms commented on #3851
We've done as much as we can on this ticket; Will re-open if something comes up in the Jira ticket.

[2022-04-26 19:32] #3851 closed

[2022-04-26 19:38] jeromeleecms commented on #3877
We need to generate a list of potential error situations and provide better feedback to the user about what is happening. @thetif will spin up a new issue around this.

[2022-04-26 19:38] #3877 closed

[2022-04-26 19:43] tbolt commented on #3983
@thetif added it to the ticket. That _may_ have an impact on accessibility that we should look into though.

[2022-04-26 19:44] jeromeleecms commented on #3988
Merging with #3985

[2022-04-26 19:44] #3988 closed

[2022-04-26 19:51] thetif commented on #3948
existing bug template
[code]

[2022-04-26 19:52] thetif commented on #3989
OBE #3948

[2022-04-26 19:52] thetif commented on #3948
existing feature template
[code]

[2022-04-26 19:52] thetif commented on #3990
OBE #3948

[2022-04-26 19:53] #3990 closed

[2022-04-26 19:53] thetif commented on #3948
existing PR template
[code]

[2022-04-26 19:53] #3992 closed

[2022-04-26 19:53] thetif commented on #3992
OBE #3948

[2022-04-26 19:53] #3989 closed

[2022-04-27 13:45] cthulhuplus opened #4012 "Create User Upload S3 Bucket"
Evolve our file storage solution, create new "user uploads" bucket and organize existing buckets w/sub directories.

This needs to be completed before we start saving a larger volume of files within the system. Follow-up with Dev to discuss how to organize.

### This task is done when...

- [x] Create S3 bucket for user uploads
- [x] Create S3 bucket for internal purposes

[2022-04-27 14:28] thetif opened #4013 "[Feature] Update error messages on login"
The error messages aren't always indicating to the user what the actual problem is. Improve the error messages to indicate if the issue is with Okta or a database connectivity issue. Also check the database connections when the server connection is being check before the user tries to log in.

### This task is done when...
- [ ] there is an error message for Okta connection issues
- [ ] there is a

[2022-04-28 14:19] thetif commented on #3948
updated in github

[2022-04-28 14:38] #3867 closed

[2022-04-28 15:12] itsonlydio commented on #3985
1. From a screen reader perspective the app should announce when a new form is generated
2. The focus on SHOULD move to the newly generated field as it was created by the user input.

[2022-04-28 16:25] jeromeleecms opened #4016 "[Design Issue] "APD Editing Limited to One User" Dashboard Experience (Multi User Support)"
As we look to support an expanded user base with MMIS IAPD, V1, an APD author should not be able to edit an APD that is currently being edited by another user.

This presents itself in two potential cases:

1) APD user is on the dashboard and wants to access an APD that is currently being edited
2) APD user attempts to directly access an APD from their browser using an old link

The Dashboard will

[2022-04-28 17:14] jeromeleecms commented on #3921
Closes this out in favor of #4016. This will surface up later.

[2022-04-28 17:14] #3921 closed

[2022-04-28 17:20] #3458 closed

[2022-04-28 17:39] thetif commented on #3968
dev #3983

[2022-04-28 17:39] #3968 closed

[2022-04-28 18:38] mirano-darren opened #4017 "[Testing] Cypress quality of life - running individual tests"
Describe the task here and link or add dependencies to any applicable issues...
For the Cypress tests, the way we handle years is inefficient. The years variable is populated within a test. Since years is a global variable it is not good practice to have that initialized within a test. This will allow the devs to run individual tests and ultimately test faster.

### This task is done when...

- [

[2022-04-28 20:47] cthulhuplus opened #4018 "Refactor Preview AMI & User-Data"
The Preview AMI and User-Data have repeated code. I need to do a cleanup pass with an effort towards having the user-data.sh scripts install the backend and the AMI scripts install all prerequisites.

### This task is done when...

- [ ] Duplicated code is removed
- [ ] Preview AMI installs as much as it can
- [ ] Backend is installed via user-data.sh
- [ ] Preview AMI works

[2022-04-28 20:50] cthulhuplus opened #4019 "Refactor Mongo AMI & User-Data"
The Mongo AMI has repeated/unnecessary code. I need to do a cleanup pass with an effort towards removing repeated/unnecessary code and the AMI script install all Mongo and its prerequisites.

### This task is done when...

- [ ] Duplicated code is removed
- [ ] Mongo AMI installs as much as it can
- [ ] Mongo AMI works

[2022-04-28 20:52] cthulhuplus opened #4020 "Refactor Prod AMI & User-Data"
The ProdAMI and User-Data have repeated code. I need to do a cleanup pass with an effort towards having the user-data.sh scripts install the backend and the AMI scripts install all prerequisites.

### This task is done when...

- [x] Duplicated code is removed
- [x] Prod AMI installs as much as it can
- [x] Backend is installed via user-data.sh
- [ ] Prod AMI works

[2022-04-29 13:09] cthulhuplus commented on #3835
Closing this because the New Relic License has been resolved. Working on the Mongo issue in ticket:
https://app.zenhub.com/workspaces/cms-eapd-5a3823ad3659e94d8ee569be/issues/cmsgov/eapd/4019

[2022-04-29 13:09] #3835 closed

[2022-04-29 14:07] thetif commented on #3975
changing the images to 16.15.0-alpine3.15 to work with an issue Bill was getting

[2022-04-29 20:48] beparticular commented on #3845
@jeromeleecms I've done everything I need to with this issue. We can review the new idea for future research ideas storage in the coming week (I put it in my to do list, so it will not get forgotten)

[2022-04-29 20:48] #3845 closed

[2022-04-29 21:17] #3975 closed

[2022-05-02 13:34] #4017 closed

[2022-05-02 19:16] #3815 closed

[2022-05-02 20:41] #3984 closed

[2022-05-02 21:36] #3770 closed

[2022-05-03 15:09] jeromeleecms opened #4026 "[Bug] Spacing Issue with Adding Personnel to Activities"
### Description

When adding personnel 1 to activities, there is a large space that appears between "Cost with Benefits" and "Number of FTEs" for the first FFY.

### Steps to reproduce

1. Open up any APD
2. Open up an activity
3. Navigate to "State Staff and Expenses"
4. Add Personnel 1 (if present) or open the existing one
5. Large space should be present

**Expected results-**
1. There should n

[2022-05-03 15:19] cthulhuplus opened #4027 "Remove Dedicated Tenancy"
Remove Dedicated Tenancy from our Instances.

### This task is done when...

- [x] Dedicated Tenancy have been removed from our Instances.

[2022-05-03 17:06] #3726 closed

[2022-05-05 14:41] mirano-darren opened #4030 "[Bug] Metrics are saved if "Cancel" is clicked"
### Description
When editing a metric, if you make a change but click "Cancel" the changes are saved
### Steps to reproduce

1. Create an outcome with a metric
2. edit the metric and click cancel
3. verify the changes you made were saved

**Expected results-**
changes were not saved because you hit cancel
**Actual results-**
changes were saved
### Role Affected

- [ ] All
- [ ] Federal Admin
- [x]

[2022-05-05 14:52] cthulhuplus opened #4031 "Update Packer Cleanup Scripts"
We've added additional Packer AMI builds since the cleanup script was original created and needs to be updated to reflect current processes.

### This task is done when...

- [x] Packer AMI cleanup script has been updated to cleanup unused and old AMIs.

[2022-05-05 16:45] mirano-darren opened #4032 "[Bug] Invalid years in datefields does not disable the save button"
### Description
In a datefield if the year has a invalid value the save button is still clickable
### Steps to reproduce

1. Go to any datefield
2. include a valid month and day but an invalid year
3. verify the save button is still clickable

**Expected results-**
save button shouldn't be clickable because in-line validation caught an error
**Actual results-**
save button is clickable
### Role Af

[2022-05-05 20:04] mirano-darren opened #4033 "[Testing] Start Shifting Testing to the Left"
Describe the task here and link or add dependencies to any applicable issues...

Research shifting testing to the left and come up with a solid game plan of actionable items that will help achieve this.
[Design sync notes](https://docs.google.com/document/d/1vJR0LyyschnMNbe67Q_SWsGF4MQ9Sepg8UhPPrVUXfY/edit#) on May 5th has good documentation on shifting testing to the left:
### Actionable items...

[2022-05-06 14:33] cthulhuplus commented on #4027
Changed Production/Staging VPC from dedicated to default tenancy:
![image.png](https://images.zenhubusercontent.com/5e9749aa5773ead7746338c1/ef284363-cc2e-4c6c-b7ee-2d53714a55b1)

[2022-05-06 14:44] cthulhuplus commented on #4027
Working with @thetif to schedule redeployment of resources in Prod/Staging

[2022-05-06 17:18] cthulhuplus commented on #4027
Going to try for a redeploy on Monday

[2022-05-06 17:22] cthulhuplus commented on #4027
Staging has been redeployed and is now displayed default tenancy

[2022-05-06 18:34] cthulhuplus commented on #3804
Preview - no artifacts deploy until after tests are completed

[2022-05-06 18:36] cthulhuplus commented on #3804
Staging - Frontend artifacts deploy after frontend tests run, but at the same stage as the backend tests.
Staging - Backend artifacts deploy after backend tests run

[2022-05-06 18:42] cthulhuplus commented on #3804
Production - Frontend artifacts deploy after frontend tests run, but at the same stage as the backend tests.
Production - Backend artifacts deploy after backend tests run

[2022-05-06 18:51] cthulhuplus opened #4035 "Review Staging/Production Workflows"
It looks like "Preview Deploy" is a part of the Staging/Production workflow, which seems odd to me. I need to investigate if it truly is a pre-requisite or if it was added by mistake:

### This task is done when...

- [x] Determine if "Preview Deploy" is supposed to be a part of the Staging/Production workflow
- [x] If not supposed to be  apart of the Staging/Production workflow, remove and confir

[2022-05-06 18:57] beparticular commented on #3070
The example boxes are now documented here in Figma
https://www.figma.com/file/6eVvo7JjvXiovGTR4BoVgK/CMS-eAPD-2022?node-id=8349%3A25980

Next steps: Review the content for the following
Which non-examples need to be moved to help text?
Should examples be added in place of the removed help text?
Should we have components or styles for the following: Help Text, Directives, Policy Information, Exampl

[2022-05-09 13:05] Sun-Mountain opened #4037 "[Maintenance] - Update APD Routing test"
### Description and related issues

Update test `renders as expected for /apd/0123456789abcdef01234567/activity/0` in `ApdPageRoutes.test`, starting at line 140. Currently failing due to changed routes.

### This task is done when…

- [ ] `renders as expected for /apd/0123456789abcdef01234567/activity/0` passes

[2022-05-09 17:09] akuas commented on #3919
Final decision is to have the last edited by name and date on two lines as shown [here](https://www.figma.com/file/6eVvo7JjvXiovGTR4BoVgK/CMS-eAPD-2022?node-id=8156%3A25862), to allow for longer names.

[2022-05-09 17:29] akuas commented on #3736
For reference, we could note business logic and interaction design on figma, here our some resources Jenn sent me for reference. This could improve the documentation process and allow us to have design decision on hand for closed tickets.
https://www.figma.com/community/file/1092240224927774096
https://www.figma.com/community/file/981620200432052613?preview=fullscreen

[2022-05-09 17:58] #3883 closed

[2022-05-09 19:06] jeromeleecms commented on #3919
This ticket is only scoped to the "Last Edited Field" ✔️

Do our testers need to weigh in on anything (@mirano-darren) here before it gets transitioned over to Dev?

[2022-05-09 19:38] mirano-darren commented on #3919
Seems relatively straight forward. I'm going to look at the dovetail (once I learn to get access) and can give more of my thoughts. However don't let me delay the handoff! 😄

[2022-05-10 10:54] #3346 closed

[2022-05-10 13:12] cthulhuplus opened #4038 "Fix Patching Issue"
Tarig Hashim  5:19 PM
Please look at what the support has to say about patching and fix it and update the ticket

Can you have ADO take a look, and update https://jiraent.cms.gov/browse/CLDSPT-27786.  There instances aren't getting patched on Path Night because the role they have applied to their instances, does not have Ec2Full Access policy attached to the role. Can you have them resolve this, o

[2022-05-10 14:00] beparticular opened #4039 "Clean up and combine research participant history documents"
We currently have two research history documents, one that ends about March 2020 and then all engagements since then. It would be good to combine these files so that there is an easy to read history of who has participated in our research over the years, in one place.

The biggest thing I can see is that needs to be updated and combined is -  the 2020 document should be added to the format of the

[2022-05-10 17:55] tbolt opened #4041 "[Feature] Improve experience of DateField validation by removing individual day / month / year validation"
### Description and related issues

In an effort to reduce the complexities and number of interaction permutations that can occur with the datefield validation, we are going to remove the field level validations. These are validations that run on the individual parts (ie. Day Month Year) that make up a "Date." This will allow us to focus on validating against the date as a whole. This will reduce

[2022-05-10 19:23] jeromeleecms commented on #4026
Maybe consider merging design system latest before tackling this...

[2022-05-10 19:25] jeromeleecms commented on #4032
Superseded by #4041.

[2022-05-10 19:25] #4032 closed

[2022-05-10 19:35] jeromeleecms commented on #3950
Reviewed - no changes required. Will review templates with intern.

[2022-05-10 19:35] #3950 closed

[2022-05-10 19:43] jeromeleecms opened #4042 "Prepare PDR Presentation for 05/26/2022"
We are planning to discuss "How the eAPD team works (not working title)" based on our last tabletop exercise. We need to complete this by 05/25/2022.

### This task is done when...

- [ ] Roles assigned
- [ ] Presentation Complete
- [ ] Presentation Presented

[2022-05-10 20:11] jeromeleecms opened #4043 "[DevOps Research] Standup a version of the MACPro PDF Tool"
As an external app, eAPD may not have access to some of the internal tools that are behind the CMS firewall. We should research if/how we can access the service. If needed, we may need to spin up our own version of the service but we'll need to see if we can get credentialed to use the MACPro paid license...

GitHub Repo: https://github.com/cmsgov/macpro-platform-doc-conversion

### This task is d

[2022-05-11 13:59] cthulhuplus commented on #3946
Completed by someone, not sure who

[2022-05-11 13:59] #3946 closed

[2022-05-11 14:02] #4027 closed

[2022-05-11 14:02] cthulhuplus commented on #4027
All eAPD resources are now in default tenancy

[2022-05-11 17:59] jeromeleecms commented on #3676
Updates from Parking Lot Discussions for this scope:

From the to do section: We will implement this almost exactly as described and designed (as of 5/11) except the completed items will no longer be crossed off, but will disappear once completed.

Recently completed: This will become "Completed" (with no time element). We'll track the last 5 completed todos so users can see that they completed so

[2022-05-11 18:57] akuas commented on #3676
@jeromeleecms That sounds right to me. I updated the design to reflect that. I have also removed the x field(s) completed in the Recently Completed Section

[2022-05-11 20:32] cthulhuplus commented on #3701
Created On-Call checklist:
https://docs.google.com/document/d/1Aklz9KBh2JAZeHTPntuopxRvqIu68My9dvPODMAK4p4/edit?usp=sharing

[2022-05-11 21:02] cthulhuplus commented on #3701
Created calendar events for the Development team to identify who is On-Call at any given time.

[2022-05-11 21:02] #3701 closed

[2022-05-12 14:18] #3865 closed

[2022-05-12 14:55] thetif opened #4045 "[Maintenance] Storybook"
### Description and related issues
Create Stories for whole pages. Update existing Stories to group them for easier viewing. Fix Chromatic. Test out visual testing and acceptance testing. Link up Storybook and Figma.

### This task is done when…

- [ ] at least one full page has a Story
- [ ] Storybook and Figma are linked in both directions
- [ ] we understand what acceptance testing looks like i

[2022-05-12 14:58] cthulhuplus commented on #2211
Received certs for staging-eapd.cms.gov and staging-eapd-api.cms.gov, still waiting on certs for Prod environment.

[2022-05-12 15:31] thetif commented on #3769
All completed

[2022-05-12 16:28] beparticular opened #4046 "Plan and conduct research on how features get from design to code on eAPD"
Plan and conduct research on how features get from design to code on eAPD
How do devs use the design system vs designs in Figma vs information in Mural, etc

### This task is done when...

- [x] Schedule listening sessions with Tif, Nicole, and Ty
- [x] Conduct listening sessions with Tif, Nicole, and Ty to see how they approach bringing a design to life
- [ ] Look for ways to improve the organiza

[2022-05-12 16:38] jeromeleecms opened #4047 "[Bug] Hitting Enter on Subforms in a non textbox field triggers a save event"
As noted in the title, hitting enter in a single input field in an app causes the app to save the subform. The subform should only trigger a save event when the save button is selected.

![image](https://user-images.githubusercontent.com/34279968/168125366-8fb27e9d-2d0e-4128-a1cc-c9b4b986ba34.png)

### Steps to reproduce

1. Open a subform
2. Select a single line input field.
3. Hit the "Enter" bu

[2022-05-12 18:14] cthulhuplus commented on #2211
Created reminder for May 1 2024 to renew certs for eapd.cms.gov, eapd-api.cms.gov, staging-eapd.cms.gov, and staging-eapd-api.cms.gov
![image.png](https://images.zenhubusercontent.com/5e9749aa5773ead7746338c1/4dc72197-0b09-4118-b507-57dd72e6b7e3)

[2022-05-12 18:20] cthulhuplus commented on #2211
Created repeating calendar event:
![image.png](https://images.zenhubusercontent.com/5e9749aa5773ead7746338c1/fb58117f-313a-4551-b0f4-4d779131d023)

[2022-05-12 18:23] cthulhuplus opened #4048 "Renew eAPD TLS Certificates"
eAPD TLS certificates expire on May 12, 2024, request new certificates for:

eapd.cms.gov
eapd-api.cms.gov
staging-eapd.cms.gov
staging-eapd-api.cms.gov

2022 process for requesting certs:
[code]

### This task is done when...

- [ ] New TLS Certificates have been installed
- [ ] New Issue has been created for 2026 certificates

[2022-05-12 18:24] cthulhuplus commented on #2211
Created new ZenHub Issue for 2024 certs, tagged it DevOps, and assigned it to myself
![image.png](https://images.zenhubusercontent.com/5e9749aa5773ead7746338c1/548f1c60-8ec6-49e8-81af-8c029f61ceb4)

[2022-05-13 15:48] beparticular opened #4050 "Content Review of the Example Box Text"
A full content review of the example boxes should be conducted to ensure that the use of the example box is consistent across the system. Currently the example box contains examples, instructions, help text, etc.

The example boxes in their current state are documented in Figma: https://www.figma.com/file/6eVvo7JjvXiovGTR4BoVgK/CMS-eAPD-2022?node-id=8480%3A26175

### This task is done when...

- [

[2022-05-13 15:49] beparticular commented on #3070
Next steps documented in #4050

[2022-05-13 15:49] #3070 closed

[2022-05-13 16:20] #4039 closed

[2022-05-16 13:30] mirano-darren opened #4051 "[Testing] Write up test cases and workflow diagram for admin check"
Describe the task here and link or add dependencies to any applicable issues...
Admin check is currently in progress. (#3676) Document test cases and create a workflow diagram for this feature in the [QA Mural](https://app.mural.co/t/cmsmural6360/m/cmsmural6360/1651764499565/9c32a1f8cf92663339cbf74ed40d1ac235a5d481?sender=jeromelee9119)

### This task is done when...

- [ ] test cases are created

[2022-05-16 18:44] cthulhuplus commented on #4043
https://github.com/CMSgov/macpro-quickstart-serverless/tree/master/services/proxy-api

https://github.com/CMSgov/macpro-platform-doc-conversion

[2022-05-16 20:07] cthulhuplus commented on #4043
Prince 508 service and documentation:
https://github.com/CMSgov/macpro-platform-doc-conversion

Macpro quickstart proxy example to call prince:
https://github.com/CMSgov/macpro-quickstart-serverless/tree/master/services/proxy-api

CARTS Example:
frontend:
https://github.com/CMSgov/cms-carts-seds/blob/master/frontend/react/src/components/sections/Print.js
backend:
https://github.com/CMSgov/cms-cart

[2022-05-16 20:30] cthulhuplus commented on #3756
Has been fixed

[2022-05-16 20:30] #3756 closed

[2022-05-16 22:05] thetif commented on #3919
@jeromeleecms do we want to track every time a user edits an APD or just the last time it was edited?

[2022-05-16 22:20] jeromeleecms commented on #3919
We should track every time a user edits an APD with the intent to establish total editing time (unless you can think of a better way to come up with that). Thoughts/feedback?

[2022-05-17 12:19] akuas commented on #3919
I read this a couple times and I am having difficulty seeing the difference lol. Cant the last edited the same time as the last saved in the builder? @thetif Is that different from what you are recommending @jeromeleecms

[2022-05-17 17:28] tbolt commented on #3498
Update: Team decision was made to make the validation for dropdowns trigger onChange instead of the onBlur used in other fields.

[2022-05-18 10:26] #3449 closed

[2022-05-18 10:59] #3498 closed

[2022-05-18 14:30] thetif opened #4053 "[Feature] Add labels for last edited by"
### Description and related issues
Design issue #3919
Create an APD_AUDIT table in postgres. Every the APD patch endpoint it called the apd_id, user_id and date should be recorded in that table.

Update the dashboard view to show when the APD was last edited and by whom.

### Mockups or link to Figma
https://www.figma.com/file/6eVvo7JjvXiovGTR4BoVgK/CMS-eAPD-2022?node-id=8156%3A25862

![Screen Sho

[2022-05-18 14:30] thetif commented on #3919
created dev ticket #4053

[2022-05-18 14:34] thetif opened #4054 "[Feature] Reorder links on dashboard"
### Description and related issues
Design ticket #3920
We need to reorder the links in the updated dashboard.

The links should be in the following order:
- Lock/Unlock
- Download
- PDF Preview
- Delete

### Mockups or link to Figma
https://www.figma.com/file/6eVvo7JjvXiovGTR4BoVgK/CMS-eAPD-2022?node-id=7377%3A48735
![Screen Shot 2022-05-18 at 10.32.37 AM.png](https://images.zenhubusercontent.com/

[2022-05-18 14:36] thetif commented on #4054
From parking lot (5/5):

Locking an APD from the dashboard should keep the user in the dashboard.

[2022-05-18 14:36] thetif commented on #3920
created dev ticket #4054

[2022-05-18 14:36] #3920 closed

[2022-05-18 15:28] jeromeleecms commented on #3919
@thetif At this point, I was just thinking of a log of time - is it a much bigger lift to also include what changed (along the lines of tracking that Google Docs offers with their versioning)?

[2022-05-18 15:39] mirano-darren commented on #4033
In the words of Fearless' great wise (oldest) test engineer:
(Shifting testing to the left means) "...Empowering the team to find problems as early and soon as possible.  Traditionally it was... find a problem before a user finds a problem.  Then it became finding a problem before production.  Then find a problem before checking it in.  Then find a problem before coding.  But it can keep going.  F

[2022-05-18 17:24] tbolt commented on #3676
Update: Team decision was made that when a page is navigated to from the admin check we will show the inline validations for that page.

is that clear enough @thetif @akuas

[2022-05-18 18:43] jeromeleecms commented on #4002
Just to track an action item from standup, @itsonlydio is going to do a write up for what each of the 5 sample APDs he created are intended to capture/use for testing.

[2022-05-18 19:29] mirano-darren opened #4058 "[Console Bug/Warning] Investigate react-hook-form console error with Controller"
### Description
react-hook-form uses refs with their nested components, causing it to complain when a <Controller> is rendered.
Note: This is just a console error. As of now this doesn't affect the functionality of any of the components.
### Steps to reproduce

1. Open console
2. Navigate to any page that has in-line validation
3. Confirm that the error appears

**Expected results-**
No error?
**A

[2022-05-18 19:36] thetif opened #4059 "[Feature] Track history of changes in an APD"
### Description and related issues
We need to start auditing changes made to an APD. Add [mongoose-patch-history](https://github.com/codepunkt/mongoose-patch-history) to the APD model. This plugin tracks changes use json-patches, so it will be easier for the frontend to use. Create a [virtual user](https://github.com/codepunkt/mongoose-patch-history#reading-from-virtuals) to track the id of the us

[2022-05-18 19:40] thetif commented on #4053
I've been looking into this track changes issue. I've found a plugin that we can use and looks pretty simple the implement. It lets us do all the things that we need for track changes and rolling back. I'm going to propose for the sake of retrieving the last edited by and on though, that we just keep those values right in the APD and keep overwriting them with changes. That way we don't have to do

[2022-05-19 14:48] mirano-darren opened #4060 "[Maintenance] Outcome and Metrics: Metric key isn't being stored on save."
Describe the task here and link or add dependencies to any applicable issues...

When an APD is saved to the backend, the key for each individual metric is not being saved. Here is where the save is happening (reducers/apd.js; line 471):
![image.png](https://images.zenhubusercontent.com/60e5e61f47c95c0dd8ed87be/8474c86c-c65a-42b1-8eea-1a6b57f68a6d)

And here's the error message in the console log:

[2022-05-19 15:29] cthulhuplus commented on #4038
Waiting for CMS Jira team to confirm the fix that I implemented has resolved the issue.

[2022-05-19 15:29] cthulhuplus commented on #2211
Working on a GitHub Wiki page for the process since it happens once every 2 years.

[2022-05-19 15:31] cthulhuplus opened #4061 "Create Wiki Article on Troubleshooting CircleCI Builds"
Write up documentation on how to SSH and troubleshoot issues with the CircleCI Pipeline.

### This task is done when...

- [x] Wiki Page has been created
- [x] Wiki Page has been tested

[2022-05-19 16:05] cthulhuplus opened #4062 "Decommision Greenfield"
Tracking the decommissioning of the Greenfield environments

Test: https://jiraent.cms.gov/browse/CLDSPT-28026
Impl: https://jiraent.cms.gov/browse/CLDSPT-28027
Prod: https://jiraent.cms.gov/browse/CLDSPT-28028

### This task is done when...

- [ ] Test Greenfield Environment has been decommissioned
- [ ] Impl Greenfield Environment has been decommissioned
- [ ] Prod Greenfield Environment has bee

[2022-05-19 16:53] thetif opened #4063 "[Feature] Show existing errors on a page if admin check is enabled"
### Description and related issues
Create a flag in APD reducer to track if admin check is enable or disabled. If admin check is enabled then all fields on a page should be validated on page load, if not, then the errors don't appear until the user exits the field.

This should be possible by using something like
[code]

Update: In the Tbolt/3676 PR a redux object + action was created for the Admi

[2022-05-19 17:19] thetif opened #4064 "[Feature] LaunchDarkly Implementation"
### Description and related issues
CMS has enabled use of LaunchDarkly for feature flags. @thetif and @jeromeleecms will work with the CMS team involved with this to implement. Currently the process requires:

1) Request Job codes for CMS's Launch Darkly instance
2) Have eAPD specific Job code created and added to our team's EUA
3) Have licenses provisioned to our testing team

once this is in pla

[2022-05-19 17:23] thetif opened #4065 "[Maintenance] Create two more okta users"
### Description and related issues
We need two more okta users
1. awaiting approval state staff to use in fed admin tests
2. beta user who has the beta tester flag turned on

### This task is done when…

- [ ] the two new users have been created in Okta on test
- [ ] the two new users have been created in Okta on impl (same passwords as above)
- [ ] the users and passwords are stored in keybase (u

[2022-05-19 17:25] thetif opened #4066 "[Feature] Further research on websockets"
### Description and related issues
As we get closer to multi-user, we need to understand more about using it, and also see how we can share information between users, such as who is editing an APD, which section of the APD they are in, and which field they are editing

### This task is done when…

- [ ] understand how we can use websockets for sharing user activities between users

[2022-05-20 17:09] cthulhuplus commented on #2211
https://github.com/CMSgov/eAPD/wiki/Requesting-and-Installing-TLS-Certificates

[2022-05-20 17:09] #2211 closed

[2022-05-20 18:38] cthulhuplus commented on #4061
https://github.com/CMSgov/eAPD/wiki/Trouble-Shooting-CircleCI-Builds

[2022-05-20 18:38] #4061 closed

[2022-05-20 20:52] cthulhuplus commented on #4042
@jeromeleecms
How long do we have for our presentation?

[2022-05-23 15:00] mirano-darren opened #4069 "[Bug] Deleting a form while a new sub-form is open removes the "Add X" button"
### Description

If the user deletes a form while a new sub-form is open. When the form is deleted the "Add X" button disappears. Refreshing the page brings the button back.

### Steps to reproduce

1. Go to any page with subforms
2. Create a new form entry and save
3. Open a new subform
4. While the form is open, delete the entry in step 2
5. Verify the "add X" button disappears

**Expected resul

[2022-05-23 15:49] jeromeleecms commented on #3356
@thetif Please update error message to show validation based on table considerations. There are no quarterly percentages for Incentive payments.

[2022-05-23 15:59] jeromeleecms commented on #3650
This is duplicate for the scope described here.

[2022-05-23 15:59] #3650 closed

[2022-05-23 16:18] jeromeleecms commented on #4042
20 minutes @cthulhuplus. We have 25 minutes, but Nick will need 5 to go over the OKRs.

[2022-05-23 16:35] #3824 closed

[2022-05-23 16:41] cthulhuplus commented on #4038
Asked for an update on this Jira ticket

[2022-05-23 16:41] cthulhuplus commented on #4062
Vidit has requested an update on all of these Jira tickets.

[2022-05-23 19:55] mirano-darren opened #4071 "[Testing/QA] Create a dedicated section in the wiki for Testing and QA/QC related topics"
Describe the task here and link or add dependencies to any applicable issues...
We are putting more emphasis on testing and QA/QC! Let's make a section in the wiki dedicated for information of this topic.

### This task is done when...

- [ ] A section has been created on the wiki
- [ ] Section should be added to the sidebar, should modeled after this
![image.png](https://images.zenhubusercontent.

[2022-05-23 19:57] #4033 closed

[2022-05-23 20:07] mirano-darren opened #4072 "[Quality] Read the MES Testing Guide Framework and create a page in our Quality wiki acknowledging its contents"
Describe the task here and link or add dependencies to any applicable issues...

Medicaid Enterprise Systems (MES) has a Testing Guidance Framework [here](https://www.medicaid.gov/medicaid/data-and-systems/downloads/mes-testing-guidance-framework.pdf). Read through this document and create a page on the wiki of things we have already been doing and things we should adopt.

### This task is done wh

[2022-05-23 20:15] #3964 closed

[2022-05-23 20:18] mirano-darren opened #4074 "[Quality] Document Quality review process in the wiki"
Describe the task here and link or add dependencies to any applicable issues...

Our quality process is not written down anywhere. Create a page in the wiki to document the whole process down.

### This task is done when...

- [x] a wiki page has been written about the Quality process
- [x] work has been reviewed by the Quality team
- [x] work has been reviewed by the Design
- [x] work has been re

[2022-05-24 13:42] mirano-darren commented on #4060
Another warning with keys:
Duplicate keys can also happen here, when the description of items are the same. This could be relatively common with other state expenses, where the dropdown option is the description

![image.png](https://images.zenhubusercontent.com/60e5e61f47c95c0dd8ed87be/e0f98a2b-8b6a-4de8-8fa6-a7acd19155e3)
---
loading Budget and FFP page when there is two other state expenses w/

[2022-05-24 19:29] jeromeleecms commented on #3956
Closing this until we hear back from the requested group.

[2022-05-25 13:52] cthulhuplus commented on #2699
@jeromeleecms is this something that needs to be pursued? Do you have a desire to use Splunk? We need to push our logs to Splunk since "the Enterprise" uses it, but I look at logs in AWS, so if there is no desire to use Splunk it doesn't make sense to me to build out Dashboards.

[2022-05-25 13:55] cthulhuplus commented on #2360
Tif & Bill think is done

[2022-05-25 13:55] #2360 closed

[2022-05-25 14:13] mirano-darren opened #4075 "[Testing] Create Cypress tests for the admin check help drawer"
Describe the task here and link or add dependencies to any applicable issues...

The admin check help drawer is in development in #3676. Once it's implemented, create some Cypress tests to check its basic functionality.

| Given | When | Then |
|---|---|---|
| A completed APD | the Admin Panel is opened | it shows that everything is complete |
| An incomplete APD | the Admin Panel is opened | it s

[2022-05-25 17:25] jeromeleecms commented on #2699
If we are are already submitting the data to Splunk and we don't need the dashboards (and you get the data from AWS consoles), then I don't see the need to build dashboards at this time -- unless we are asked from CMS Enterprise to do so.

[2022-05-25 17:28] #2699 closed

[2022-05-26 13:18] cthulhuplus commented on #4038
Our instances should have patched last night, so I requested another update in the Jira ticket.

[2022-05-26 13:24] thetif opened #4076 "[Bug] cross-origin-resource-policy issue on uploaded images"
### Description
There is an issue with viewing uploaded images in staging.

![Screen Shot 2022-05-26 at 9.22.57 AM.png](https://images.zenhubusercontent.com/5f18484c4aa7386e0e7413c8/aac451d1-450c-4696-8bc4-5b98d5174af4)

### Steps to reproduce

1. Open an APD
2. Upload an image to a RichText field

**Expected results-**
Image should upload and then be visible in the RichText field

**Actual result

[2022-05-26 13:29] thetif opened #4077 "[Testing] Create Cypress tests for uploading an image to a RichText field"
### Description and related issues
Create tests to verify that a user can upload an image and then view it. You will probably need to use [cypress.intercept()](https://docs.cypress.io/guides/guides/network-requests) to handle this.

### Cypress tests should include…

- [ ] user adds image to RichText field
- [ ] image uploads successfully
- [ ] image is visible after upload
- [ ] image is still vi

[2022-05-26 15:05] cthulhuplus commented on #4038
![image.png](https://images.zenhubusercontent.com/5e9749aa5773ead7746338c1/2418d191-5996-40dc-bb26-f47c04bbdc59)

[2022-05-26 15:05] #4038 closed

[2022-05-26 17:17] #3428 closed

[2022-05-26 17:19] jeromeleecms commented on #4042
Done!

[2022-05-26 17:19] #4042 closed

[2022-05-26 17:21] jeromeleecms commented on #3446
Newsletter will provide instructions on how to recertify their eAPD Admin accounts. Will continue to work with Caryn on this.

[2022-05-26 17:26] beparticular commented on #4046
This is complete.

Here are our team notes -
https://docs.google.com/document/d/1zxWiqd3B3GWadzxMItSqmvmGeygW3_NYoiKG1A9HizI/edit#

Here are the slides -
https://drive.google.com/file/d/1d5LiU0KG5_7qtxN3-BDcsjbZE_SUNSo7/view?usp=sharing

Next steps - we will experiment with storybook for documentation in ticket 4006. And design will continue to improve Figma documentation in ticket 3736

[2022-05-26 17:26] #4046 closed

[2022-05-26 17:52] thetif opened #4078 "[Maintenance] Replace CSP Lambdas with Helmet"
### Description and related issues
Our CSP configuration is current held in a lambda which is a little cumbersome to update and read. We should transition to using the [helmet module](https://www.npmjs.com/package/helmet) so that the configs are held in our code and easier to keep up to date.

### This task is done when…

- [ ] helmet has been added the project
- [ ] helmet is configured like the

[2022-05-26 19:02] jeromeleecms opened #4081 "[Bug] Deleted APDs are still accessible using direct link"
### Description

When deleting an APD from the app, the system still allows the user to access the old APD.

### Steps to reproduce

1. Create an APD
2. Save the URL
3. Return to dashboard
4. Delete APD
5. Copy and Paste the URL into the address

**Expected results-**

1. User should be redirected back to dashboard / receive a notification that the APD does not exist (Design suggested going back t

[2022-05-26 19:47] cthulhuplus commented on #2719
I believe this might be related to our monthly patches. We got one this morning and the system was patched this morning. My guess is that the instance gets restarted and so it stopped being connected and then reconnected when it came back up.

[2022-05-26 20:38] cthulhuplus commented on #4062
I requested an update on these tickets

[2022-05-27 18:25] #4076 closed

[2022-05-31 18:23] akuas commented on #4016
@beparticular @jeromeleecms Can you please review this ticket? I will write up a summary of this work once we agree it is ready to move to dev
https://www.figma.com/file/6eVvo7JjvXiovGTR4BoVgK/CMS-eAPD-2022?node-id=8691%3A27284

[2022-05-31 19:17] jeromeleecms commented on #4016
1) For the Dev team, does the "Read Only Preview" need to go away until we get that in place?
2) For the Accessing an APD using an old link: Can we update the modal text to align with the text from "Accessing an APD that has been locked from editing from the dashboard?" In the note, do we need to indicate that this modal only applies to "Active" (or non deleted APDs)? The delete APD error message

[2022-06-01 14:01] akuas commented on #4016
@jeromeleecms We dont need to indicate active links because being able to access a deleted APD is a bug

[2022-06-01 14:27] jeromeleecms commented on #4016
@akuas 👍 wasn't clear if there was an order of operations when opening a deleted link.

[2022-06-01 15:47] akuas commented on #4016
@jeromeleecms  Not yet, I believe. We still have to figure that part out

[2022-06-01 16:18] cthulhuplus commented on #3127
https://www.runatlantis.io/guide/testing-locally.html#install-terraform

[2022-06-01 16:42] akuas opened #4086 "[Design Issue] Design Debt: Redesign page headers to replicate the UI"
I wanted to redesign all the eAPD page headers to look more like what it looks in staging. This should affect most pages but should take that much time to complete.

### This task is done when…

- [ ] any acceptance criteria (not process oriented, requirements of feature)
- [x] designs are created, taking into consideration validation, multiple FFY, multiple entries, long entries, weird entries, a

[2022-06-01 19:47] cthulhuplus commented on #3878
@jeromeleecms
After talking to Tif, these are our suggested answers to the questions:
1. Use Staging!
2. Same cadence as our user password resets
3. https://impl.reg.idm.cms.gov/registration.html?appid=eapd
4. Newsletter/Office Hours
5. Other: Create Wiki page to share this information and set expectations for use of Staging/Sandbox

[2022-06-01 20:18] tbolt commented on #2905
Playing around with making most pages full-width worked pretty well in my limited testing. That should be explored further in this ticket.

[2022-06-02 19:16] #4018 closed

[2022-06-03 19:12] cthulhuplus opened #4095 "Address Snyk Low Warning"
https://snyk.io/security-rules/SNYK-CC-TF-73

Create separate egress rules for web traffic and other services and restrict them to IP ranges/resources when possible.

### This task is done when...

- [ ] Identify service traffic requirements
- [ ] Update egress rules to limit egress where and when possible
- [ ] Create updated service flow diagram

[2022-06-03 20:56] cthulhuplus commented on #3878
Future @jeromeleecms what else would you like to see done to call this work done?

[2022-06-06 12:23] akuas commented on #4086
I updated the headers in the figma designs to reflect how it looks in the UI. (pages affected: APD Overview, Key State Personnel. Results of Prev. Activities, Activities Dashboard, Activity Overview, Analysis of Alt and Risks, Activity Schedule and Milestones, Conditions for Enhanced Funding, State Staff and Expenses, Outcomes and Metrics, Private Contractor Costs, Cost Allocation and FFP and Budg

[2022-06-06 12:25] akuas commented on #4086
Before
![Screen Shot 2022-06-02 at 8.27.17 AM.png](https://images.zenhubusercontent.com/601acfa212e5437689f6079c/9ca22348-597f-414d-902a-edf029a81b95)

[2022-06-06 12:26] akuas commented on #4086
After
![Screen Shot 2022-06-06 at 8.25.37 AM.png](https://images.zenhubusercontent.com/601acfa212e5437689f6079c/a8acd41a-bccb-4cba-adff-577ae1985684)

[2022-06-06 12:26] akuas commented on #4086
@beparticular This ticket is ready for review.

[2022-06-06 13:15] #3874 closed

[2022-06-06 13:45] mirano-darren opened #4102 "[Quality] Brown Bag for Shifting Testing to the Left"
Describe the task here and link or add dependencies to any applicable issues...

Create a small brown bag presentation about shifting testing to the left and present it  during a parking lot. This will help give the team a solid understanding about what shifting left is, and how it is done.

### This task is done when...

- [x] presentation has been created
- [x] presented at parking lot

[2022-06-06 17:14] akuas commented on #4086
@beparticular Just updated the dashboard concepts page.

[2022-06-06 17:17] #4086 closed

[2022-06-07 14:03] #4054 closed

[2022-06-07 14:03] beparticular commented on #4053
Closing per Tiff, being addressed through new tickets.

[2022-06-07 14:38] beparticular commented on #3493
Note - #4050 has been added for content review of example boxes

[2022-06-07 15:37] beparticular commented on #3736
Progress: @akuas will create an MMIS file for future work, starting with ticket #3687 and move any MMIS specific pages or work from the current Figma file to a new Figma file.

[2022-06-07 17:16] thetif opened #4107 "Lock APD for data integrity"
The MVP for what has previously been called "lock and submit" would be created by this work. We've been calling this "Lock APD for data integrity" as the start to a full multi-user editing option TBD later in the roadmap.

[2022-06-07 17:29] thetif opened #4108 "[Feature] Create a locked APD modal"
### Description and related issues
Create a modal that pops up if a user tries to access a locked APD.
#4105

### Mockups or link to Figma
https://www.figma.com/file/6eVvo7JjvXiovGTR4BoVgK/CMS-eAPD-2022?node-id=8800%3A27220
![Screen Shot 2022-06-07 at 1.28.44 PM.png](https://images.zenhubusercontent.com/5f18484c4aa7386e0e7413c8/10c1dc06-a490-402f-bedf-bad6a03b2522)

### Acceptance criteria

| Give

[2022-06-07 17:37] thetif opened #4109 "[Feature] Update the dashboard to reflect Locking"
### Description and related issues
Add a locked badge to locked APDs. Remove the unnecessary text from the State Dashboard and the Affiliation Status pages. Remove the icons from the side of the APDs

#4105

### Mockups or link to Figma
https://www.figma.com/file/6eVvo7JjvXiovGTR4BoVgK/CMS-eAPD-2022?node-id=8800%3A27220
Previous
![Screen Shot 2022-06-07 at 1.34.52 PM.png](https://images.zenhubuser

[2022-06-07 18:06] mirano-darren commented on #4071
section added to the wiki

[2022-06-09 13:13] #3819 closed

[2022-06-09 15:09] mirano-darren opened #4119 "[Quality] Delegate state admin form Cypress test returning a false positive"
Describe the task here and link or add dependencies to any applicable issues...

The Cypress test for the delegate state admin form is not actually running and saying the test passed.

### This task is done when...

- [ ] test has been fixed

[2022-06-09 17:10] beparticular commented on #3687
Note - @akuas  is the assignee, but I added myself so we can pair on thinking about the editing process for the information people will add here.

[2022-06-09 17:33] tbolt commented on #3675
This is resolved in https://github.com/CMSgov/eAPD/pull/4055

[2022-06-09 17:33] #3675 closed

[2022-06-09 17:33] tbolt commented on #3544
This is resolved in https://github.com/CMSgov/eAPD/pull/4055

[2022-06-09 17:33] #3544 closed

[2022-06-10 18:19] #4063 closed

[2022-06-10 18:33] #4060 closed

[2022-06-10 19:48] #3973 closed

[2022-06-13 19:32] thetif opened #4141 "[Operations] Research Ops implication of using Kong"
CMS is going to be rolling out the Kong gateway soon. We need to be prepared to use it when available.

### This task is done when...

- [ ] understand how Kong would affect our operations setup

[2022-06-13 19:35] thetif opened #4142 "[Maintenance] Install husky and add hooks for updating modules on pull"
### Description and related issues
Install husky into the git workflow. Add a hook on pull that would run npm-check and recommend modules to update. Add a hook on push that will run prettier.

### This task is done when…

- [ ] husky is installed
- [ ] on pull run npm-check
- [ ] on push run prettier

[2022-06-13 19:36] thetif opened #4143 "[Maintenance] Create wiki page for development workflow"
### Description and related issues
Describe the whole process of a ticket from design to development to testing and review.

### This task is done when…

- [ ] a wiki page exists with these descriptions

[2022-06-13 20:16] mirano-darren opened #4144 "[Bug] Admin check enabled globally"
### Description
If the admin check is turned on, going to a different APD would still have the admin check turned on and the help panel would appear. Obviously this isn't the intended behavior.. I do however want to propose a solution to this:

(credit to Ty for thinking about this) solution
What if we just turned off the Admin check whenever an APD is loaded? To me, the admin check is something y

[2022-06-14 15:24] jeromeleecms commented on #4002
After discussion with Dio, please document after you complete this ticket:
1) What each test APD is intended to capture (MMIS/HIT/HIE or combination of funding). May also be by different FFYs.
2) How many activities are included in each test APD (each should contain at least 2)
3) It is OK to leave some content blank for one or two APDs so we can use that for testing / validation. Just make a note

[2022-06-14 17:14] thetif opened #4146 "[Maintenance] Update modules to latest minor version"
### Description and related issues
Snyk was complaining that we had a lot of stuff that was out of date, update all of them to their latest minor version. Cypress should also be updated to v10 so we can start trying out component testing.

### This task is done when…

- [ ] upgrade modules to latest minor version
- [ ] upgrade cypress to v10
- [ ] update cypress configs for v10
- [ ] add configs f

[2022-06-14 17:44] mirano-darren opened #4147 "[Testing] Try out Cypress component testing"
Describe the task here and link or add dependencies to any applicable issues...

Cypress 10 comes with the ability to test out individual components with component testing. Try it out and judge if we can take advantage of this feature.

### This task is done when...

- [ ] Cypress component testing was trialed
- [ ] Demo at dev sync

[2022-06-15 17:16] cthulhuplus opened #4149 "Create Documentation: Packer"
Create a Wiki article on how to use Packer, how we use Packer, how it fits into our CICD, etc...

### This task is done when...

- [x] Document has been created
- [ ] Document has been walked through

[2022-06-15 17:17] cthulhuplus opened #4150 "Create Documentation: CircleCI"
Create a Wiki article on how to use CircleCI, how we use Circle, how it fits with the various pieces it uses, etc...

### This task is done when...

- [ ] Document has been created
- [ ] Document has been walked through

[2022-06-16 18:29] beparticular commented on #4006
Progress:
We can't use the Storybook > Figma plugin because there is an issue with ownership of the file. The owner of the file has to be the one who makes the connection, and because of people moving on and off the project there is no "owner" role and that cannot be changed. In order to move forward using this plug in, we'd have to recreate the Figma file and change every Figma link in open zenhu

[2022-06-17 16:27] #4020 closed

[2022-06-17 16:41] cthulhuplus commented on #3748
**CircleCI**
CircleCI
Docker Images
- cimg/base:2021.04
- cimg/node:16.15.0
- cimg/python:3.10.1
Packer
Machine Images
- ubuntu-2004:202104-01

[2022-06-17 17:50] #4045 closed

[2022-06-21 13:42] #4062 closed

[2022-06-21 15:15] beparticular commented on #3381
@NAretakis @jeromeleecms  Any ideas on how this should be re-written or what this conversation was?

We know that an Activity 1 can of course still exist once one is created in the system for MMIS APDs, but it won't be there by default as it is now (to my knowledge).

[2022-06-21 17:28] beparticular commented on #3381
Note to self - see if there are other tickets related to other sections and how empty states will work when Activity 1 isn't automatically populated as a program admin activity.

[2022-06-21 18:40] beparticular opened #4159 "Create MMIS Figma File"
Separate current HITECH work from MMIS future work into two Figma files:
Only move the already designed MMIS work from the file CMS-eAPD-2022 to CMS-eAPD-MMIS-2022

### This task is done when...the following designs from these pages related to MMIS are moved into a new file.
Subsequent design work on MMIS topics will be done in this file as well.

- [ ] Make a component for Global header
- [ ] Mak

[2022-06-21 19:23] cthulhuplus commented on #3748
Changing to large, added upgrading versions as a part of this issue which increase time and effort required

[2022-06-21 19:53] akuas commented on #3687
Below is the designs for the Create a New APD MVP
https://www.figma.com/file/6eVvo7JjvXiovGTR4BoVgK/CMS-eAPD-2022?node-id=8903%3A27228

[2022-06-21 19:55] akuas commented on #3687
@jeromeleecms Can you please take a look at this design? I was especially wondering if the "What type of APD are you creating's copy and options makes sense.

[2022-06-21 20:06] #4030 closed

[2022-06-21 20:12] akuas commented on #3687
Actually, please disregard the previous link I moved the page to the mmis file
https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=2%3A3237

[2022-06-21 21:45] jeromeleecms commented on #3687
I can't seem to access the link - are the permissions set to allow me to join anonymously or using my CMS google account?

[2022-06-22 13:31] akuas commented on #3687
@jeromeleecms Oh right, I have added you, so hopefully you should be able to access the link.

[2022-06-23 14:16] Sun-Mountain opened #4161 "[Bug] FTE component does not allow numbers less than 0.1"
### Description

The FTE component does not allow numbers less than `0.1`. When a user attempts to type in `0.0...` the form defaults to `0`.

### Steps to reproduce

1. Go to Key State Personnel and add Primary Contact
2. For `Does this person have costs directly attributable to this program?` select `Yes`
3. Attempt to put any number in the FTE form component any number that begins `0.0...`

**E

[2022-06-23 16:35] tbolt commented on #4161
@jeromeleecms it does appear there is a workaround where you can enter 0.1 and then add another zero- 0.01

not ideal but might be useful in the event someone encounters this before we deploy a fix

[2022-06-23 19:36] akuas commented on #3687
@jeromeleecms for the 8th question, Ill defer to @beparticular . But I agree no admin check but Im also thinking the disabled button accompanied with the asterisk should be enough so maybe the inline validation is not needed ?

[2022-06-24 16:02] akuas commented on #3687
@jeromeleecms @beparticular I updated the designs, so it is ready for review. For the Other Medicaid Business areas, are you saying that the other checked is enough and the text box isnt needed?

[2022-06-27 13:52] tbolt opened #4164 "[Bug] Unable to add a new state admin letter, delete it, then re-add it again"
### Description
When adding a state admin letter, then deleting it, then re-adding it again, the system is throwing a 400 error.

### Steps to reproduce

1. Login as federal admin
2. Add a new state admin letter
3. Delete the state admin letter
4. Re-add the state admin letter using the same information - FFY, State, Name, etc...

**Expected results-**
State Admin letter should be added without fa

[2022-06-28 11:54] akuas commented on #3687
I think we should keep it as a text box to allow for multiple business areas. I think I want to steer away from the add one component because it seems like a lot of effort for a field that hopefully wouldn't be used too often and combining the business area explanations should still make sense to the reviewer.
For question 2, I put the unabbreviated term for HITECH IAPD and MMIS IAPD in a tooltip

[2022-06-28 15:06] #3987 closed

[2022-06-28 15:14] #4146 closed

[2022-06-28 15:14] #4041 closed

[2022-06-28 15:42] akuas commented on #4159
@beparticular Can you please take a look I have moved the MMIS specific files to the MMIS. There were a few that I kept on our main file like the conditions of enhanced funding, activity schedule and milestones, because they exist in HITECH in the activity overview but we don't currently have a design for HITECH.

https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022

[2022-06-28 17:49] tbolt opened #4167 "[Content Issue] Update Development Vulnerabilities Wiki page"
Link or add dependencies to any applicable issues.

Update this page to document new workflow with yarn
https://github.com/CMSgov/eAPD/wiki/Development-vulnerabilities

[2022-06-28 18:04] #4077 closed

[2022-06-29 13:19] #4119 closed

[2022-06-29 14:24] cthulhuplus opened #4168 "Update Log Rotation Configuration Mongo"
The Mongo server ran out of disk space in the /var/log partition. Update the logrotate configuration to prevent this from being a reoccurring problem.

### This task is done when...

- [ ] Update Packer/user-data scripts to update the logrotate configuration
- [ ] Update manually deployed resources to have the new logrotate configuration or redeploy Mongo resources with new config

[2022-06-29 14:24] beparticular commented on #4159
@akuas this is great. thank you for setting it up. I look forward to using this file as we work on future facing designs!

[2022-06-29 14:41] tbolt commented on #3357
Technical note: A new seed with 0 activities should be created to facilitate this story

[2022-06-29 15:02] #4161 closed

[2022-06-29 15:54] mirano-darren opened #4169 "[Testing] Start creating separate Cypress tests for bugs that have been fixed"
Describe the task here and link or add dependencies to any applicable issues...

Ty came up with the good idea of creating individual Cypress tests for bugs that have been fixed. This ensures that the bug stays fixed. This will also be a good way to document bugs that have been fixed previously

### This task is done when...

- [x] a system has been devised for these Cypress bug tests
- [ ] a bug

[2022-06-29 17:54] thetif opened #4170 "[Maintenance] Add Cypress code coverage to Codecov"
### Description and related issues
We would like to add the code coverage from Cypress to the Codecov tool

### This task is done when…

- [ ] integrate Cypress code coverage reports into Codecov

Notes for Tif:
- https://docs.cypress.io/guides/tooling/code-coverage
- Only way I was able to get a code coverage report for /web/src/ was when I added this line of code to the babel config file in /web

[2022-06-30 17:45] thetif opened #4172 "[Maintenance] Copy Dio's new APDs out of staging"
### Description and related issues
Copy Dio's new APDs out of staging

### This task is done when…

- [ ] Dio's apds are stored in source control
- [ ] Update FFYs

[2022-06-30 18:47] thetif commented on #4065
The users have already been added to Okta in TEST and IMPL. The usernames and passwords have been added to the users file and the cypress.env.json file. The updated cypress.env.json has been added to CircleCI

[2022-06-30 20:52] akuas commented on #3687
@jeromeleecms @beparticular I made changes to the other medicaid business areas, keeping in mind that the business areas might change. If there is nothing else to edit, I think this ticket is ready to close.

[2022-07-01 14:42] akuas commented on #3687
**Closing Notes for Dev and for Posterity!**
1. The help text "Complete the fields below to create your APD. Selections with a * cannot be changed after this screen." is our way of informing users that the changes are final but the help text might change pr the asterisk beside the Medicaid Business Areas might be removed when we allow editing after creating the APD.
2. APD type: Since we only have

[2022-07-01 20:16] #4047 closed

[2022-07-01 20:44] #3445 closed

[2022-07-05 15:43] jeromeleecms opened #4176 "July 2022 Newsletter / Office Hours"
With June Office Hours and the newsletter out, we should turn our sights to July!

### This task is done when...

- [ ] Agenda for office hours are set
- [ ] Newsletter is drafted / reviewed / distributed

[2022-07-05 18:18] akuas commented on #3687
Out of the scope of this ticket: APD name, APD update and business areas can be changed after creating a new APD.

[2022-07-05 18:18] akuas commented on #3687
@beparticular @jeromeleecms If there are no more changes, I think this ticket is ready to close.

[2022-07-05 19:11] #3878 closed

[2022-07-05 21:32] #4147 closed

[2022-07-06 14:52] #4002 closed

[2022-07-06 15:54] jeromeleecms commented on #4176
Potential "Did you know?" if you have an existing EUA account with the EUA job code, you automatically have a sandbox account. You still need to be assigned a state through the verification process, but that's one less form to complete and one less password to track.

[2022-07-06 16:13] akuas commented on #2303
The design will change with issue 3688, but I believe the options available are correct.
https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=74%3A5875

[2022-07-06 16:56] beparticular opened #4179 "[Design Issue] Editing the fields in the “create new APD” flow"
In #3687 we designed the page/fields that will create a new APD when there are multiple types of APDs available. We have decided that most fields on this page CAN be edited, even if there is content in the APD. The exception to that rule is the "APD Type". The APD type cannot be edited once an APD has been created. The user would have to start a new APD to change the APD type. This prevent data lo

[2022-07-06 21:36] jeromeleecms commented on #4172
Can we document what the seed contains in the Wiki somewhere?

Dio provided what each APD contains here: https://docs.google.com/document/d/1ZaSZK7fEUyA7QiJdJPttmMMUjB3J0Tco/edit

[2022-07-06 22:26] thetif commented on #4172
I copied the APD json into the branch I'm currently working on, so that is saved, I'll make a wiki page that combines all this info, but we should probably wait until the budget info is in the APD so that we have the whole object.

[2022-07-07 15:55] beparticular commented on #3687
@thetif see the Closing Notes above, edited based on our convos from design sync. let me know if you have any questions!

[2022-07-07 16:46] jeromeleecms commented on #4074
Per Slack from @mirano-darren - this is going to be presented in a brownbag (#4102) before closing so the team has a chance to review.

[2022-07-07 16:48] jeromeleecms commented on #4072
This is pending @itsonlydio to merge his work into the [Google Doc](https://docs.google.com/document/d/1zX3H49wmNIShxgQdAWm4J1CtBdJSiYUuxLPY69rSSno/edit#heading=h.qd5rulujb5x8) before final review with Tif.

[2022-07-07 17:03] beparticular commented on #3687
One last addition - we'd worked out how to handle the HITECH/Biz Areas issue in earlier designs for this feature. I'll add it back to the designs and update the closing notes after sprint planning.

[2022-07-07 17:08] #3348 closed

[2022-07-07 17:11] jeromeleecms commented on #4006
Waiting for feedback about how to connect apps/services to GitHub repo. Nothing design can do until this issue is resolved.

[2022-07-07 17:17] jeromeleecms commented on #4172
Pending integration work with Backend budget changes.

[2022-07-07 18:25] cthulhuplus commented on #3748
Preview and Pipeline DevOps softwares/services pinned to specific versions, exception being Git. Updated versions as well, exception the machine image that e2e testing uses, updating was breaking the e2e tests, so I left it. Need to update the Mongo Packer to static versions, but should use the same commands as Preview Packer.

[2022-07-08 13:56] mirano-darren opened #4181 "[Quality] Create test cases for the new create APD page"
Describe the task here and link or add dependencies to any applicable issues...

Write up test cases for the new create APD page and document them in the ticket (#4179)

### This task is done when...

- [x] test cases have been created
- [x] test cases have been documented in the ticket
- [ ] test cases have been approved by product/design/dev

[2022-07-08 14:04] akuas commented on #3687
I updated the design to reflect that @beparticular @thetif
https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=93%3A5981

[2022-07-08 15:03] #4072 closed

[2022-07-08 17:11] thetif opened #4182 "[Bug] Fix issue with renewing State Admin"
### Description
When trying to renew a state admin, the automated matching doesn't work.

### Steps to reproduce

1. Approve a state admin for current FFY
2. Upload new letter for next FFY

**Expected results-**
The automated matcher should pick up that the existing person is connected to the letter.

**Actual results-**
The person is ignored because they already have a match (for the current FFY)

[2022-07-08 17:13] akuas commented on #3688
@jeromeleecms @beparticular Below is the designs for the new FFP. I think we should not include the changing the Budget and FFP and the Proposed Budget to keep the scope of this ticket small. Can yall please review the designs?

https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=166%3A8985

[2022-07-08 23:31] jeromeleecms commented on #3688
Just some initial thoughts:
1) Design, Development, and Installation (DDI) - can we put the acronyms in the tool tips like we did with the IAPD in the create APD page? Or maybe somewhere else?
2) We can keep it written as 90/10 DDI (we don't need to put exclusively)
3) Looking at the language "Select Project Status" with the E E&E language, it might make more sense to indicate "Funding Category"
4

[2022-07-11 14:20] tbolt opened #4183 "[Bug] Issue when entering numbers into Estimated Quarterly Expenditure table"
Some numbers (I tried 29 and 888 as examples) change the input values (# shown in the field, not necessarily what is saved in the database).

See the video below

### This task is done when...

- [x] bug investigated further to determine root cause
- [x] bug resolved

---

https://images.zenhubusercontent.com/113234315/63a2ef2c-8b03-42d1-b807-87b09e3868fb/numberbug.mov

[2022-07-11 16:19] akuas commented on #3688
1. A tooltip is not needed here. Users will need to know what ddi is especially when they are presented with multiple options i.e. DDI, Operations, and Eligibility Worker (out of scope) and I have defined DDI in those situations
2. We don't have to make this decision on whether the FFP should sit in the activity overview or FFP and Budget in order to solve this ticket, so we can just focus on the

[2022-07-11 18:37] jeromeleecms commented on #3956
Finally heard back from the ITSI folks - reopening this for @thetif

[2022-07-11 19:53] cthulhuplus opened #4184 "AWS Setup for Quality Team"
https://jiraent.cms.gov/browse/CLDSUPSD-14592

The link above is an example of a Jira request asking for an AWS account for the eAPD AWS Account.

[code]

### This task is done when...

- [ ] You can log into the AWS Console: https://aws-hhs-cms-cmcs-hi-c.signin.aws.amazon.com/console
- [ ] You can see the following areas of the AWS Console: EC2, RDS, CloudWatch, etc...

[2022-07-11 19:59] cthulhuplus opened #4185 "EUA Job Codes for Quality Team"
In order to access Jira and other resources to gain access to AWS you will need to request the following job codes in eua.

https://eua.cms.gov/

[code]

### This task is done when...

- [ ] Can access Jira: https://jiraent.cms.gov/

---

Add additional labels (design, dev, compliance, BUG, etc) and size before submitting.

If the issue is needed to complete prioritized work for the CURRENT SPRINT

[2022-07-11 20:16] jeromeleecms commented on #3688
- Let's be consistent with the language then - "DDI" in all the places, or "Design, Development, and Installation"
- Where do validation messages appear in this design?

[2022-07-12 12:19] akuas commented on #2303
The designs have been updated to match
https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=166%3A8985

[2022-07-12 15:25] beparticular opened #4188 "[Design Issue] Create a page in MMIS Figma file to show each validation component in the system"
Create a page in MMIS Figma file to show each validation component in the system

On this page we should document each type of input field in the eAPD system, and show an example of the validation pattern for that input field. We should generally have examples of all fields somewhere in the HITECH Figma file that can be copy/pasted into the MMIS file, and it will be useful to have a page in the MM

[2022-07-12 15:30] beparticular opened #4189 "[Design Issue] Document "important design links" somewhere"
Working on this here
~~https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=15%3A4921~~

Figma Link to document important design links.
https://www.figma.com/file/Cg6g8iEf6gXfeRIu6plbyy/eAPD-Readme?node-id=2%3A470

### This task is done when…

- [x] Let's look through Figma to note any other links that could be documented e.g. the new Read Me page that is being worked on, or ot

[2022-07-12 17:41] tbolt commented on #3355
Updates based on standup
* Fed-State Split will be part of admin check
* Estimated Quarterly Expenditure table not part of admin check
  * Update to validate that, once all fields are entered (per row), the subtotal = 100% (not exceeds)
  * Update the language to reflect the column header (Ex. "State Staff and Expenses"). Call out the specific row that the error is referring to.

[2022-07-12 20:11] akuas commented on #3687
@mirano-darren @beparticular @jeromeleecms Ive added the designs to include the inline validation messages.
https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=93%3A5981

[2022-07-13 13:19] #3748 closed

[2022-07-13 15:33] cthulhuplus opened #4194 "Research Upgrading PostGres"
It looks like PostGres 10 is reaching EoL towards the end of the year. We need to look into upgrading from PostGres 10 to a newer version of PostGres. I need to research the upgrade path(s) and options and make an informed decision.

### This task is done when...

- [x] Research how to upgrade from PostGres 10 to newer version
- [x] Create Issue to perform update

[2022-07-13 17:20] thetif opened #4195 "[Maintenance] Upgrade node to 16.16.0"
### Description and related issues
There is a new security release for node. We need to upgrade to (16.16.0)[https://github.com/nodejs/node/blob/main/doc/changelogs/CHANGELOG_V16.md#16.16.0]

### This task is done when…

- [ ] node has been upgraded to 16.16.0

[2022-07-13 17:27] thetif opened #4196 "[Feature] Create endpoints to be used by SharePoint"
### Description and related issues
We need two new endpoints for SharePoint to use for automated submission.
1) endpoint to retrieve APDs that have status submitted but not yet received (double check status language)
2) endpoint for SharePoint to push workflow updates to specific APDs.

### This task is done when…

- [ ] getSubmissions endpoint is created
- [ ] updateReviewStatus endpoing is creat

[2022-07-13 18:23] mirano-darren commented on #4102
Presented at parking lot of 7/13

[2022-07-13 18:23] #4102 closed

[2022-07-13 18:24] mirano-darren commented on #4074
Presented/reviewed alongside #4102. Link to the wiki page [here](https://github.com/CMSgov/eAPD/wiki/Quality-Process).

[2022-07-13 18:24] #4074 closed

[2022-07-13 20:53] cthulhuplus commented on #3127
Require PR be approved before apply
[code]

[2022-07-13 21:08] akuas commented on #3688
@jeromeleecms The validation messages are below the options and the fields behave like other fields that are _not_ contained in a subform. The 1st message stays the same. I also added "Select a funding category."
If there is no more additions to the content, this ticket should be ready to close after design sync.
https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=166%3A8985

[2022-07-14 17:07] thetif opened #4200 "Update okta_users to remove unique from email"
Describe the task here and link or add dependencies to any applicable issues...
Okta does not restrict users to unique email addresses, so we should also remove that restriction

### This task is done when...

- [ ] create a migration to remove the unique requirement from email in the okta_users table

[2022-07-14 17:31] cthulhuplus opened #4201 "Fix Logging to Staging/Production"
Logging to Staging/Production seems to be busted for Application logs. Fix it.

### This task is done when...

- [ ] Staging and Production are successfully reporting to CloudWatch

[2022-07-14 17:33] cthulhuplus opened #4202 "Impliment Atlantis"
Implement Atlantis into Staging/Production

### This task is done when...

- [ ] Atlantis is reporting into PRs
- [ ] Atlantis is secure and safe

[2022-07-14 18:44] jeromeleecms commented on #3446
@CSwartzHMA Anything else you think we need to address with this? We communicated out the expiration and steps to fix it. It seems like we'll have to troubleshoot issues as they come up - I'm ready to close this if there is nothing else.

[2022-07-14 18:46] jeromeleecms commented on #3446
@thetif @tbolt For this one, is the explanation for the process for expiration accurate? We did have one user that is authorized for FFY 2022 that had an expiration beyond the 06/30 date.

[2022-07-14 18:54] akuas commented on #3687
Updated Closing Notes as of July 14, 2022
Final Designs

The help text "Complete the fields below to create your APD. Selections with a * cannot be changed after this screen." is our way of informing users that they cannot change the APD type after they create an APD. APD type is the ONLY field that cannot be edited when we allow that.
APD type: Since we only have HITECH IAPD and MMIS IAPD, the fu

[2022-07-14 19:08] akuas commented on #3688
This is out of scope, but I looked through the MES expansion research and this is what I found to support keeping the FFP in the Activity Overview. @jeromeleecms
1. Folks wanted their FFP to be populated in the Conditions for Enhanced Funding to indicate that they are requesting enhanced funding.
2. For eligibility worker in the future, it is driven by activity so it would make sense to have it ea

[2022-07-14 19:10] beparticular commented on #3687
@thetif this is good to go now after we made those few changes we talked about at design sync. please see @akuas 's notes on the comment above and let me know if you have any questions once you start making dev tickets.

[2022-07-14 19:13] akuas commented on #3688
Closing notes as of July 14th. 2022
1. Out of scope: There is a separate ticket to decide where we will house the FFP, either in the Activity Overview or FFP and Budget and how a change in its placement could affect the FFP and Budget, the Proposed Budget pages or any unconsidered page that will reference the FFP.
2. 90-10 is only DDI. 75-25 and 50-50 will branch out when selected

[2022-07-15 18:53] tbolt commented on #3446
@jeromeleecms I don't think so. I think this ticket was written before we made the year an option as part of the admin letter. If a user was authorized for FFY 2022 but not FFY 2023, they should be expired and unable to login starting July 1st 2022.

[2022-07-15 22:57] akuas commented on #3736
@beparticular Unfortunately, I didn't get to finish wrapping this up but will do as soon I come back from my break. It's a little hard to understand now, but you are welcome to add to it, if you want.
https://docs.google.com/document/d/1YIk44CY0Woy9IjblSevMFytnYo_60eHR9ksocfGWoK8/edit

[2022-07-18 20:43] #3135 closed

[2022-07-18 20:43] jeromeleecms commented on #3135
This is unrelated to MES expansion and we can revisit if user complain about this URL.

[2022-07-18 20:46] jeromeleecms commented on #3187
We will revisit this when we have people using the expanded MMIS.

[2022-07-18 20:52] jeromeleecms commented on #2732
This is good to close, the outcomes and metrics GitHub repo is included in the help text for create APD and we can revise the help text in the MMIS IAPD (V1) work.

[2022-07-18 20:52] #2732 closed

[2022-07-18 21:24] beparticular commented on #4006
@thetif I put some new links in the document referenced above if you want to play around with those.

[2022-07-18 21:28] beparticular opened #4204 "Determine what tickets are still needed for MMIS"
Review MMIS tickets, Nick's sample APD,  and existing designs to determine what tickets need to be added to the system to complete the MMIS designs.

[2022-07-18 21:29] beparticular opened #4205 "Determine what tickets are still needed for MMIS"
Review MMIS tickets, Nick's sample APD,  and existing designs to determine what tickets need to be added to the system to complete the MMIS designs.

[2022-07-18 21:29] beparticular commented on #4205
This is a zenhub duplicate

[2022-07-18 21:29] #4205 closed

[2022-07-19 14:21] #4181 closed

[2022-07-19 14:30] cthulhuplus opened #4207 "Manage CPM Update Policies"
Update and add CPM backup policies.

### This task is done when...

- [x] All vital infrastructure is being backed up using CPM

[2022-07-19 14:51] thetif opened #4208 "[Bug] Tealium url malformed"
### Description
The production tealium url is pointed to impl. Update it so that production is pointed at prod.

**Logs or error output/Screenshot/Video-** (at least 1 of these)
![image.png](https://images.zenhubusercontent.com/5f18484c4aa7386e0e7413c8/749789d1-7f89-4d3d-bc42-400eeab545aa)

[2022-07-19 14:56] mirano-darren opened #4209 "[Dev] Create a frontend for the new Create APD page"
Describe the task here and link or add dependencies to any applicable issues...

We are implementing a new workflow for creating a new APD. This page will show when the "Create new" button on the APD dashboard is clicked. Refer to the design tickets and Figma for details  of how it should look.

Design ticket(s) - #3687
Figma - https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-

[2022-07-19 15:34] Sun-Mountain opened #4210 "Hard Reset - Rebuild full Ruby on Rails App"

[2022-07-19 15:34] #4210 closed

[2022-07-19 15:55] mirano-darren opened #4211 "[Dev] Implement MMIS APD Overview"
### Description and related issues
The MMIS APD Overview page will be different from the current APD Overview page.  The fields from the Create new APD page will live in this page. **APD Type cannot be changed**

**Update the component to have the following shared fields:**
* APD Name
* What type of APD are you creating (read-only, disabled)
* FFY
* Is an APD Update?

**for HITECH the fields will

[2022-07-19 16:01] thetif opened #4212 "[Feature] Add validation errors to APD model"
### Description and related issues
Update the APD module to store the validation errors. This model should match the format expected by redux on the frontend.

### This task is done when…

- [ ] update the APD module to hold validation errors
- [ ] migration created to update APDs with validation errors

[2022-07-19 16:03] thetif opened #4213 "[Feature] Create validation endpoint"
### Description and related issues
Create a validation endpoint that validates the APD using joi. This should reuse the schemas used in the frontend. The new validation should be stored in the APD and return the updated APD. The format should match the one expected by redux on the frontend.

### This task is done when…

- [ ] the validation endpoint is created and runs the joi validations against

[2022-07-19 16:06] thetif opened #4214 "[Feature] Wire in the validation errors from the backend to redux"
### Description and related issues
The APD get/patch endpoints should now return the validation errors. Update the validation errors in redux with these errors. Resolve any remaining issues with the admin check panel showing the validation errors

### This task is done when…

- [ ] the validation errors in redux are populated by the errors returned by the backend

[2022-07-19 16:36] beparticular opened #4215 "[Design Issue] Determine future location of FFP in MMIS"
We need to make a decision on whether the FFP field stays in the budget area to be chosen after activities are set, or if the FFP field can be moved to the APD Overview page, as we tested in the MMIS research.

We looked through the MES expansion research and this is what was found to support keeping the FFP in the Activity Overview. We will need to discuss these points and see if we can poke hole

[2022-07-19 16:36] beparticular commented on #3688
Moved the considerations from the above comment on moving the FFP field location to ticket #4215

[2022-07-19 16:45] #3357 closed

[2022-07-19 16:47] beparticular opened #4216 "[Design Issue] Indicate why save buttons are disabled"
Currently in the system, we are disabling save buttons in subforms, create new APD fields (future), and possibly in other places, to indicate that a user cannot move forward without completing all the fields. This however isn't an interaction that is commonly used because people need to know why the button is disabled. We aren't able to give them any information on why in the current state of the

[2022-07-19 17:07] thetif opened #4217 "Create APD"
Describe the task here and link or add dependencies to any applicable issues...
We need to change the way APDs are created to allow for MMIS APDS.

### This task is done when...

- [ ] the new create APD workflow has been implemented

[2022-07-19 17:37] CSwartzHMA commented on #4176
Also, we discussed concerns around posting the newsletters outside of Slack. Has there been any further conversation? I wanted to be sure we are making the information accessible, within publication guidelines.

[2022-07-19 19:49] thetif commented on #2299
resolved during component refactor

[2022-07-19 20:07] cthulhuplus commented on #4201
@jeromeleecms do we want to wait for a release to confirm that the prod logs are making it to CloudWatch again or are we satisfied that they're making it to Staging (the mechanisms for Prod and Staging are the same)

[2022-07-19 20:18] mirano-darren opened #4219 "[Dev] Update backend for create new APD page"
Describe the task here and link or add dependencies to any applicable issues...

Figma link: https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=0%3A1

The addition of the new Create APD page comes with 2 new fields.
  - Is this APD an update? section
  - Medicaid Business Areas

Update the mongo schema with these fields.
Is this APD an update? (no subsection when "No, this is

[2022-07-20 20:16] beparticular opened #4221 "[Design Issue] Add a field to collect data on disaster recovery plan"
Add a field or fields to collect data on disaster recovery plan as per these regulations:

45 cfr 95.610: A statement setting forth the security and interface requirements to be employed and the system failure and disaster recovery/business continuity procedures available or to be implemented; and

SECTION XII: SECURITY, INTERFACE, DISASTER RECOVERY, AND BUSINESS CONTINUITY PLANNING
The state shou

[2022-07-20 20:33] beparticular opened #4222 "[Design Issue] MDBT Work for MMIS"
1. The MDBT (Medicaid Detailed Budget Table) inclusion for MMIS will be designed to support/have a designation for capturing DDI - Design Development & Installation funding.
2. The [sample MDBT,](https://docs.google.com/spreadsheets/d/1y_25C-E9tBLhhiH-e0ZxkqSZBfY2oL_y/edit#gid=1171187501) will be visually translated and itemized to show where the DDI funding is coming from (outside of the Executiv

[2022-07-21 13:08] tbolt commented on #4176
Ideas for the newsletter:
* Upcoming enhancements/features - What to expect from them
* Quick tips - Small tips on how to get more from the system. Kinda like a "Did you know"
* Success highlights - If any of the states are willing to share their success stories we could include them

[2022-07-21 14:45] beparticular commented on #4179
@jeromeleecms @akuas
What would y'all think of making these edits part of the APD Overview page?

[2022-07-21 14:48] beparticular commented on #3687
#4209 is the dev ticket. Jenn will review the dev ticket to ensure accuracy across the handoff.

[2022-07-21 14:48] #3687 closed

[2022-07-21 15:09] jeromeleecms commented on #4179
Open to it - if users don't have to leave the page to make the changes, that would be nice. But need a little more details about how you are thinking this might flow...

[2022-07-21 15:11] beparticular commented on #3688
@mirano-darren @thetif
Darren - can you take a look at this and see if anything needs to be added or questions come up, and write a dev ticket for it? Let me know if you need anything?

[2022-07-21 15:41] beparticular commented on #4189
Important design links can be found in our new Readme file.
https://www.figma.com/file/Cg6g8iEf6gXfeRIu6plbyy/eAPD-Readme?node-id=2%3A470

In each new design file that we create, we should create a page called "Readme" and link back to this Figma doc for continuity. (You can see this example in the eAPD-MMIS-2022 file) Luckily we don't generally create a lot of new design files, so this shouldn't

[2022-07-21 15:41] #4189 closed

[2022-07-21 17:13] jeromeleecms commented on #3446
Let's keep this as certification due by June, and the expiration aligns more closely to the end of the FFY.

[2022-07-21 17:13] #3446 closed

[2022-07-21 17:16] jeromeleecms commented on #4201
Pending release - we will review to ensure functionality.

[2022-07-21 17:37] mirano-darren opened #4223 "[Maintenance] Move Cypress folder into the root directory"
Describe the task here and link or add dependencies to any applicable issues...

The Cypress directory and the web directory are currently separate in our codebase. This is causing some trouble when it comes to collecting code coverage for our integration tests. Moving the Cypress directory could help this issue.

### This task is done when...

- [ ] The Cypress folder has been moved to the root d

[2022-07-21 18:19] jeromeleecms commented on #4176
We had planned to do every month, but if there is nothing to report on, we can extend the duration to every other month until MMIS is close to release. If we have office hours next week, we can probably talk about inline validation and what that offers for the admin check.

[2022-07-22 15:25] #4208 closed

[2022-07-22 17:11] mirano-darren opened #4226 "[Feature] Update FFP field for MMIS IAPDs"
### Description and related issues
With the addition of MMIS APD implementation we are going to update the FFP field. This may eventually move to Activity Overview, so it is preferable to create a reusable component for it.

Updated FFP field:
![image.png](https://images.zenhubusercontent.com/60e5e61f47c95c0dd8ed87be/a5daec22-2b8a-48c1-8462-9c3e94efdd2f)

Updated FFP Field w/ validation errors:
![

[2022-07-22 19:09] cthulhuplus commented on #4207
Create S3 Bucket per request of CPM support team

[2022-07-25 11:02] akuas commented on #4179
@beparticular Content wise, it would make sense. Im also curious about how that would flow as well but we could talk about it during our 1 on 1

[2022-07-25 13:46] cthulhuplus opened #4230 "Address Synk Terraform Findings"
Snyk has reported several Terraform vulnerabilities. Quick review indicates nothing that needs to be addressed immediately.

### This task is done when...

- [ ] Address Terraform Snyk findings.

[2022-07-25 14:37] cthulhuplus opened #4231 "Install MongoDB New Relic Monitoring"
Install MongoDB New Relic monitoring
https://docs.newrelic.com/docs/infrastructure/host-integrations/host-integrations-list/mongodb-monitoring-integration/

### This task is done when...

- [ ] MongoDB New Relic monitoring has been set up and is reporting successfully to New Relic

[2022-07-25 14:39] cthulhuplus opened #4232 "Update New Relic Infrastructure Monitoring"
New Relic Infrastructure monitoring doesn't appear to be functioning correctly, update the configuration so that it is functioning properly again

### This task is done when...

- [ ] New Relic Infrastructure monitoring is reporting to New Relic

[2022-07-25 16:57] akuas commented on #3736
@jeromeleecms The figma reorganization plan is ready to go. @beparticular Can you please take a look and let me know if there is anything Im missing in this write up.
https://docs.google.com/document/d/1YIk44CY0Woy9IjblSevMFytnYo_60eHR9ksocfGWoK8/edit#heading=h.4buoe1gxg1xx

[2022-07-25 18:30] akuas commented on #3736
I moved this file to the eAPD documents: Design and Research folder. Below is the updated link
https://docs.google.com/document/d/1oneKYrIArJENzx-l0ItUD19yvy9DmXIsYJ-pXi1IuKs/edit?usp=sharing

[2022-07-25 18:56] cthulhuplus commented on #4185
1. Log into https://eua.cms.gov
2. Click "Modify My Job Codes" on the navigation bar on the left of the page
3. Click the Confirmation box, and click next
4. Click "Add a Job Code"
5. Request these job codes (DevOps Job Codes) https://docs.google.com/document/d/1IghhXKiuZ80W82EnuJoUCVXcDyVLDjfL2pcTHciISnw/edit
6. Select the Job Code you want to add
7. Click Select
8. After you've selected all of y

[2022-07-26 11:47] tbolt commented on #3676
Update: We are going to be prototyping some new designs based on https://www.figma.com/file/6eVvo7JjvXiovGTR4BoVgK/CMS-eAPD-2022?node-id=9641%3A29459

[2022-07-26 19:17] cthulhuplus commented on #4168
Logging Guidance:
https://cloud.cms.gov/best-practices-logging-application-development

[2022-07-26 20:36] #4195 closed

[2022-07-27 15:07] cthulhuplus commented on #4168
New AMIs have been created for Preview, Staging, and Production instances.

[2022-07-27 15:34] cthulhuplus commented on #4168
Staging Mongo has been updated by hand

[2022-07-27 16:09] mirano-darren opened #4237 "[Accessibility] Use the accessibility tool WAVE to evaluate the app"
Describe the task here and link or add dependencies to any applicable issues...

Link to tool - https://chrome.google.com/webstore/detail/wave-evaluation-tool/jbbplnpkjmmeebjpijfedlgcdilocofh/related?hl=en-US

Wave is a tool that can be used to evaluate how accessible our app is. Run through each page in the app are report back any issues that WAVE finds.
### This task is done when...

- [x] WAVE

[2022-07-27 17:03] jeromeleecms commented on #4168
This was done with #4236!

[2022-07-27 17:03] #4168 closed

[2022-07-27 17:40] thetif opened #4238 "[Cypress] add budget checks into APD tests or bug tests"
Jerome would like us to add budget checks to the APD tests that are checked as you are putting in data to make sure it's being added to the correct places of the budget. These tests should be added to the apd-data tests.

### Test Cases

| Given | When | Then |
|---|---|---|
| An APD | add a key personnel to activity 1 that doesn't have direct costs | the budget should not be affected |
| An APD |

[2022-07-27 18:11] tbolt commented on #3676
Updates based on 7/27 standup-
* Moving forward with the new designs shown above. Fields/List items will no longer be grouped by section. Instead it will be a flat list of items needed to be completed. Dev team will need to revise data schema + implementation strategy/architecture
* Fields that are filled out will immediately show as "greyed out." This will be "session" based and upon stopping + s

[2022-07-27 18:29] cthulhuplus opened #4239 "Introduction to Packer"
Packer is a DevOps tool that is used to create the AWS AMI that we build our application on top of. Please read some of the official Packer docs, do the AWS tutorial, and document any ideas for testing, questions on how we use it, ideas on how we can use it better, etc... These tutorials should be doable on an free tier AWS account, please DO NOT use this against the eAPD AWS account.

https://www

[2022-07-27 18:34] cthulhuplus opened #4240 "Create Free Tier AWS Account"
AWS offers a free tier of services for people to learn AWS. Create an AWS account for learning the DevOps tools that we use.

https://aws.amazon.com/premiumsupport/knowledge-center/create-and-activate-aws-account/

Create the programmatic credentials needed to use the tools you'll be learning, you'll need to store them locally for future use:

https://docs.aws.amazon.com/sdk-for-java/v1/developer-

[2022-07-27 18:49] cthulhuplus opened #4241 "Introduction to Terraform"
Terraform is an infrastructure provisioning tool that is used to provision AWS resources; EC2 Instances, S3 Buckets, etc... and manage the state of our environment. Please read some of the official Terraform docs, do the AWS tutorial, and document any ideas for testing, questions on how we use it, ideas on how we can use it better, etc... These tutorials should be doable on an free tier AWS accoun

[2022-07-27 19:13] cthulhuplus opened #4242 "Introduction to CircleCI"
CircleCI is a DevOps tool that helps deployment. It allows you to build, test, and deploy all based on configurable settings.  Please read some of the official CircleCI docs, do the GitHub tutorial, and document any ideas for testing, questions on how we use it, ideas on how we can use it better, etc... These tutorials should be doable on an free tier AWS account, please DO NOT use this against th

[2022-07-27 19:57] beparticular commented on #3676
@tbolt @jeromeleecms @thetif
Re: Edit links - the place I was recalling our edit links was in the Executive Summary, where we take someone from the summary back to the activity to edit via an edit link. We do this in the Activity List as well when we create an Activity, the link to enter the Activity to fill it out is "edit". Of course we also do this for editing a subform and the APD title as wel

[2022-07-27 20:25] cthulhuplus commented on #4207
Enabled backups for terraform state bucket and production files bucket, will check tomorrow to see if it was successful

[2022-07-27 20:31] cthulhuplus commented on #4201
Logs are making it to CloudWatch again, closing ticket

[2022-07-27 20:31] #4201 closed

[2022-07-28 13:53] beparticular opened #4243 "[Design Issue] Remove Estimated Quarterly Expenditures table for MMIS"
The EQE table is not necessary for MES APD types.
This table will need to be removed from the FFP and Budget page within Activities.

Design considerations - will the tables and information on the FFP and Budget page still flow well once these are removed.

**Final Design:**
https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=601%3A12578

### This task is done when…

- [x] any

[2022-07-28 14:21] #3556 closed

[2022-07-28 14:26] cthulhuplus commented on #4185
Darren was only missing
[code]
and now has them

[2022-07-28 14:34] #4207 closed

[2022-07-28 14:34] cthulhuplus commented on #4207
S3 buckets for terraform state and uploaded files are being backed up via CPM

[2022-07-28 16:57] #4169 closed

[2022-07-28 18:31] mirano-darren opened #4245 "[Accessibility] Document accessibility tools/procedure in the Quality wiki"
Describe the task here and link or add dependencies to any applicable issues...

Add a page to the Quality wiki documenting the accessibility tools we use and how we use them in our QA procedure.

### This task is done when...

- [x] a wiki page has been created
- [x] screen readers have been documented
- [x] the WAVE extension has been documented.

[2022-07-28 20:38] thetif opened #4246 "[Maintenance] Snyk tests failing for resolved modules"
### Description and related issues
The yarn resolutions doesn't seem to be working for snyk. Research and update package.json so that snyk sees the resolutions.

### This task is done when…

- [ ] snyk doesn't fail PRs based on issues that should be fixed in the resolutions section of the package.json

[2022-07-29 13:24] akuas commented on #4179
**Design sync notes as of July 28 2022**

4179 - Edit new APD

- Create is the same as designed now, a page before the APD
- “Edit” becomes not as important a word with the changes we’ve discussed
- After “create new APD” button is clicked the APD is created and the fields just filled out live in the APD with the APD type disabled
- Drop the user on the current MMIS APD overview sub nav (*if the i

[2022-07-29 13:27] akuas commented on #4179
Current designs in progress
https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=414%3A10804

[2022-07-29 14:59] beparticular commented on #3691
MedicaidMMIS@cms.hhs.gov

[2022-07-29 15:04] beparticular opened #4249 "[Design Issue] Move the Total Computable table to the Activity budget wrap up"
We wil be moving the FFP (Federal State-Split) dropdown earlier in the APD, away from the Activity Budget (FFP and Budget page within an Activity). This will orphan the total computable cost table. The total computer cost table can move to the end of each FFY in the Activity Budget as part of the summary that already exists. It should go below the summary paragraph.

(Design work - make a before a

[2022-07-29 15:17] beparticular opened #4250 "[Design Issue] Document in Figma all field changes for MMIS"
This will be an ongoing effort as we continue to design for the MES expansion/MMIS V1.

Dev has noted that a page by page list of changes to fields/help text, etc.
This can exist in the MMIS Figma file on each page of the new designs so that devs know when they are working on tickets for those pages, they can verify they are making the right changes.

On each Figma page we can show
- What was (a s

[2022-07-29 15:22] beparticular opened #4251 "[Design Issue] Add E&E submit email to the export and submit page"
We need to provide the appropriate email address depending on the APD funding source. In this instance, we should display the E&E submit email on the lock and submit page.

MedicaidE&E_APD@cms.hhs.gov

See #3691 for how we did it for MMIS.

### This task is done when…

- [ ] any acceptance criteria (not process oriented, requirements of feature)
- [ ] designs are created, taking into consideration

[2022-07-29 16:11] akuas commented on #3691
@beparticular Thanks

[2022-07-29 17:55] tbolt opened #4252 "Create backend validation using joi"
### This task is done when...

- [ ] Validation can be run on the backend

---

Add additional labels (design, dev, compliance, BUG, etc) and size before submitting.

If the issue is needed to complete prioritized work for the CURRENT SPRINT, add it to the "This Sprint" pipeline. Otherwise, all other issues will be automatically added to the _unprioritized pipeline_ for prioritization in backlog r

[2022-07-29 18:00] tbolt opened #4253 "Update items in the admin check to appear grey when the corresponding field is filled out"
When the admin check is enabled, the admin check panel will list each field that needs to be filled out. Upon filling out a field, the appearance will change to grey. Only if the admin check is closed and re-ran will the items be removed from the list.

### This task is done when...

- [ ] Items in the admin check panel appear grey when "completed"

---

Add additional labels (design, dev, complia

[2022-08-01 17:29] beparticular commented on #3495
Removed
add warning for State Director and Office Address if error checking is on and there is no State Director and Office Address (not a valid validation)
add warning for Activity if error checking is on and there are no Activities (already done)

[2022-08-01 17:39] beparticular commented on #3448
I think we've progressed beyond needing this. The content may be useful in the future if we want to write up some additional help content.

[2022-08-01 17:39] #3448 closed

[2022-08-01 17:40] beparticular commented on #4215
Determined that the reason we didn't move it before was that the FFP is set for multiple FFYs.
Jerome had some thoughts on this that we can address later this month.

[2022-08-01 17:45] thetif opened #4254 "[Bug] Shouty box came back"
### Description
When the screen reader is on and the user navigates to Assurances and Compliance, the screen reader says no 30 times.

### Steps to reproduce

1. create new APD
2. turn on screen reader
3. navigate to Assurances and Compliance

**Expected results-**
It only announces the headers

**Actual results-**
It yells no at you 30 times

### Role Affected

- [x] All
- [ ] Federal Admin
- [ ]

[2022-08-01 18:24] mirano-darren commented on #4184
Submitted Jira ticket on 7/28. Now waiting for access

[2022-08-01 18:45] mgwalker commented on #4254
Shoutybox is shoutier than ever! The first time around, it only shouted "no" 17 times!

[2022-08-01 20:05] tbolt commented on #3495
Key State Personnel appears to already implement this-
![Screen Shot 2022-08-01 at 4.02.42 PM.png](https://images.zenhubusercontent.com/5f43eb2204d6d70d8324232c/f0bf52e3-cd3c-4f70-911b-8ed9ba94494f)

Same with outcomes and metrics-
![Screen Shot 2022-08-01 at 4.03.52 PM.png](https://images.zenhubusercontent.com/5f43eb2204d6d70d8324232c/c87713a4-7e9f-4c70-aa3f-2afc24e34e8c)

So I believe the only t

[2022-08-02 13:35] beparticular commented on #4226
@mirano-darren wanted to note on this one that the options after the FFP selection (DDI and Ops) also needs to be present for the 50/50 split, but not the 90/10.

[2022-08-02 13:55] beparticular commented on #3688
dev ticket reviewed - closing the design ticket

[2022-08-02 13:55] #3688 closed

[2022-08-02 14:46] beparticular opened #4256 "[Design Issue] Remove fields labeled HIE and HIT for MMIS APDs for Results of Previous Activities"
The following fields/elements should be removed in order to implement an MMIS APD. This is currently blocked by MDBT work and decisions. (Other related work is in #3685, this is to set aside Results of Previously activities until MDBT work is done. There is a note on the [MES Expansion Mural ](https://app.mural.co/t/ccs9461/m/cmsmural6360/1595447450055/62389cb615fe3e42a37e34bf0ba2347814e88ba7?send

[2022-08-02 15:59] beparticular commented on #4216
For now let's just make the hover info for the submit button. And then reflect later on if this pattern could be changed.

[2022-08-02 17:55] thetif commented on #4254
This actually only seems to be a problem for Chrome and VoiceOver. It works in Safari and VoiceOver.

[2022-08-02 19:25] thetif opened #4257 "MMIS v1 Implementation"
Describe the task here and link or add dependencies to any applicable issues...

### This task is done when...

- [ ] criteria 1
- [ ] criteria 2

---

Add additional labels (design, dev, compliance, BUG, etc) and size before submitting.

If the issue is needed to complete prioritized work for the CURRENT SPRINT, add it to the "This Sprint" pipeline. Otherwise, all other issues will be automatical

[2022-08-02 20:00] akuas commented on #4188
https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=473%3A8498
Above is the validation library @beparticular Can you please review it? Also, @tbolt can you please take a look and see if Im missing anything or whether there is any additional info that may be helpful to devs? I especially wanted to make sure that the admin check and table validation was correct since they are in

[2022-08-02 20:11] beparticular commented on #3736
This is complete as far as setting up how we want to move forward with Figma.
Other Figma work is represented in other tickets.

[2022-08-02 20:11] #3736 closed

[2022-08-03 15:15] thetif commented on #4252
Have a separate endpoint for starting admin check, validate (onBlur), subform saves would hit another endpoint, end admin check. Save adminCheck data in APD for historical data.

[2022-08-03 15:36] thetif opened #4258 "[Maintenance] Add prettier to githook so that files are updated on push"
### Description and related issues
Prettier is a tool to maintain coding consistency. This will reduce the number of unnecessary lines that appear in the code reviews that are just formatting changes. The devs are already using this tool in their local IDEs, but adding it to the githooks will ensure that no matter who changes the code, it stays consistent.

Tutorial:
* [How to Add ESLint, Prettier

[2022-08-03 15:38] thetif opened #4259 "[Maintenance] Add babel to api"
### Description and related issues
We need to update the API package to use babel so that we can start using new modules and we can integrate with our Common package.

### This task is done when…

- [ ] move babel configs from web/e2e/common into the root directory so that they can all be shared
- [ ] add babel configs to override main configs for api

[2022-08-03 15:41] mirano-darren commented on #4245
Wiki page can be found here: https://github.com/CMSgov/eAPD/wiki/Accessibility-in-the-Quality-Process

[2022-08-03 15:41] #4245 closed

[2022-08-03 15:42] mirano-darren commented on #4075
moving into blocked until admin check help panel is fully implemented

[2022-08-03 17:32] tbolt commented on #2677
Update 8/3/22- This ticket is very old and predates our new error messages/validations. For the issue concerning `role="alert"` being attached to error hints. While we may have had a specific issue in the past, this no longer seems to be the case. I will walk through our new error messages and verify that they are a.) not throwing any WAVE errors b.) working as expected with a screen reader.

Conc

[2022-08-03 20:15] tbolt commented on #2677
Evaluating all fields that currently have error messages, I am not finding any issues related to 508/accessibility.

Here is a demo video of how the error messages are being read when fields are removed from focus-
https://images.zenhubusercontent.com/113234315/9a761088-9059-465b-985e-8c79154bb5b3/errormessages.mov

The video shows that the error message is read when focus is lost. As well, when r

[2022-08-03 20:50] mirano-darren commented on #2677
Great assessment Ty, fully agree with what you outlined here. This ticket is pretty old, so it seems like the problems explained here have been resolved without directly referencing this issue.

[2022-08-04 13:19] akuas commented on #4216
I have updated the subforms to make sure all the save buttons are disabled until the subform is complete and that for all the subforms, we maintain a tooltip indicating the all fields are required when in the disabled state.

[2022-08-04 13:28] akuas commented on #4216
**MMIS**
[Create a New APD](https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=379%3A9347)
[Activity Schedule and Milestones](https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=484%3A8804)
**HITECH**
[Key State Personnel](https://www.figma.com/file/6eVvo7JjvXiovGTR4BoVgK/CMS-eAPD-2022?node-id=6011%3A39355)
[State Costs](https://www.figma.com/file/6eVvo7J

[2022-08-04 13:34] akuas commented on #4216
1. For Create a New APD button, the language is "All fields are required to create an APD"
2. For the subforms except Activities Dashboard and Outcomes, the language is "All fields are required" @beparticular Does this language seem appropriate? I don't think we need to customize each tooltip to the subform they are on i.e. "All fields are required to add a Key State Personnel"
3. For outcomes the

[2022-08-04 17:25] #3618 closed

[2022-08-04 18:31] mirano-darren commented on #4237
Link to documentation. Will add to the shared drive once I am able to.
https://docs.google.com/document/d/1QKkXHEikdUqo_cU5OlY0bt4lpR7tMEl2mmlKkmLHJW0/edit?usp=sharing

[2022-08-04 18:32] mirano-darren commented on #4237
Only 2 errors that appeared throughout the app. One dealing with a broken ARIA menu on our TinyMCE text editors. And another one dealing with subform and how we hide the add button to prevent multiple subforms being added at once.

[2022-08-05 15:21] akuas commented on #4179
I have updated the updates the designs below. This new design makes the older Create New APD designs obsolete because we are introducing the FFY and a slightly different flow to the page. Once users create a new page, the page will transition to APD Overview and the previous APD will now be called State Priorities and Scope. Since the last design sync, we have decided not to have the Create a New

[2022-08-05 15:21] akuas commented on #4179
@mirano-darren @beparticular Does the design reflect what we discussed?

[2022-08-05 16:57] beparticular commented on #4216
@akuas

I think this all sounds good, including not customizing the language unless it's specifically needed, like with the outcomes call out.

Moving this into blocked for when product returns

[2022-08-05 18:41] akuas commented on #3691
The email is now updated for export and submit. I also updated the email for the lock and submit prototype on the MMIS file
https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=514%3A14637

[2022-08-05 18:41] akuas commented on #3691
@beparticular Can you please review this ticket?

[2022-08-08 14:08] mirano-darren commented on #4179
Look good to me! Question about frame 188. For the APD Introduction's subsections, where exactly does the APD Setup end and the APD Overview begin?

[2022-08-08 14:46] beparticular commented on #4179
@mirano-darren
As noted on the annotation, each will be a top level nav as shown in Frame 189 @akuas can you update Frame 188 to make sure it matches what we discussed last week?

If you leave and come back that alert should not still be on the page.

[2022-08-09 15:43] beparticular commented on #4204
Things done:
1) Reviewed MES Expansion Mural and added new ticket numbers for existing tickets, created tickets for work where previously existing dependencies preventing knowing what work needed to be done
2) Reviewed Nik's MMIS sample APD notes
3) Reviewed the board for duplicates

To Do:
1) Review the MES Expansion research and determine if there are any additional tix that need to be made.
2)

[2022-08-09 17:20] mirano-darren commented on #4237
Reported  issues to the team during parking lot 8/9

[2022-08-09 17:20] #4237 closed

[2022-08-09 18:05] mirano-darren opened #4265 "[Accessibility] Hiding the add button when a subform is already open"
Describe the task here and link or add dependencies to any applicable issues...

To prevent data loss, we disabled the ability to have multiple subforms open at once. We solved this issue by hiding the add button if a subform is already open. WAVE caught this functionality and marked it as an error because we are hiding the button, potentially adding issues to users that rely on screen readers. We

[2022-08-09 19:15] thetif opened #4266 "[Maintenance] add Storybook add-ons"
### Description and related issues
I found [this article](https://betterprogramming.pub/most-useful-storybook-addons-and-features-in-examples-f751ed8ffbc) that suggests some storybook add-ons that would be helpful for our application. Specifically:
* [Mock Service Worker](https://storybook.js.org/addons/msw-storybook-addon)
* [@storybook/testing-react](https://storybook.js.org/addons/@storybook/te

[2022-08-10 17:07] cthulhuplus commented on #4006
Current URL: https://ec2-18-233-210-18.compute-1.amazonaws.com

[2022-08-10 18:14] cthulhuplus opened #4268 "Fix Weekly AMI Scan"
Weekly AMI Scan is not functioning, fix

### This task is done when...

- [ ] The Weekly AMI Scan is functioning

[2022-08-11 14:42] cthulhuplus commented on #4031
Bringing this to the top of the backlog since I've been contacted by CMS support regarding the Packer related Security Groups.

[2022-08-11 14:51] cthulhuplus opened #4270 "CMS SG Cleanup Request"
Was contacted by CMS support regarding SGs that had open to the world SSH associated with them. They asked me to look into it and address it.

https://jiraent.cms.gov/browse/CLDSPT-33482

### This task is done when...

- [x] It has been determined why there are SGs with open SSH rules and where they came from
- [ ] The issue has been resolved to the satisfaction of CMS support

[2022-08-11 16:33] #4268 closed

[2022-08-11 16:37] cthulhuplus commented on #4270
The SGs and instances seem to be related to the Packer AMI provisioning process.

[2022-08-11 16:43] #4240 closed

[2022-08-11 17:45] cthulhuplus commented on #4270
The CMS support person I was working with has updated the CMS support ticket, and we're awaiting closure before we close this ticket.

[2022-08-11 20:50] cthulhuplus commented on #3127
Setting up local Terraform test
https://www.runatlantis.io/guide/testing-locally.html#create-a-pull-request

Notes on installation
[code]
Update GitHub Webhook and atlantis.yml URL value to the value provided by ngrok http 4141

My atlantis start script:
[code]

My atlantis.yml
[code]

[2022-08-12 13:34] cthulhuplus commented on #4035
This appears to have been cleaned up and or resolved in the mean time, pipeline workflows look good.

[2022-08-12 13:34] #4035 closed

[2022-08-12 15:20] thetif opened #4271 "[Maintenance] Babel and Webpack modules location"
### Description and related issues
With our current CI/CD set up, we have to have babel and webpack in the dependencies section of the package.json. It should really only have to be in the devDependencies. This will reduce the packages that we need in production and reduce our security exposure.

### This task is done when…

- [ ] Update the CI/CD steps that run `yarn install` so that the ones tha

[2022-08-15 14:53] #3127 closed

[2022-08-15 15:01] cthulhuplus commented on #4270
Jira ticket marked as resolved

[2022-08-15 15:01] #4270 closed

[2022-08-15 15:16] cthulhuplus opened #4272 "Ponder eAPD DZDD Questionnaire Results & Recommendations Email"
We received the results and recommendations of the DZDD Questionnaire. I need to go over it, review the recommendations, research, and discuss the results with team leadership.

### This task is done when...

- [ ] I've reviewed the recommendations
- [ ] I've development my own recommendations based on the DZDD recommendations
- [ ] I've discussed the DZDD recommendations and my recommendations wi

[2022-08-16 16:08] #4241 closed

[2022-08-16 16:19] #4239 closed

[2022-08-16 16:20] #4242 closed

[2022-08-16 16:30] cthulhuplus opened #4274 "Introduction to GitHub Actions"
GitHub Actions is a DevOps tool that helps deployment. It allows you to build, test, and deploy all based on configurable settings.  Please read some of the official GitHub Actions docs, do the tutorial, and document any ideas for testing, questions on how we use it, ideas on how we can use it better, etc... These tutorials should be doable on an free tier AWS account, please DO NOT use this again

[2022-08-18 14:11] #3358 closed

[2022-08-19 20:18] akuas commented on #3381
Below is the designs for the Executive Summary including the new APD Overview.
https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=587%3A10819

[2022-08-22 13:27] #4258 closed

[2022-08-22 17:23] itsonlydio commented on #4274
link to the drive doc [https://docs.google.com/document/d/1XiyJTTARMXGmysSG6cDCWbM3PwaKQy-ykr7IIaYn6W0/edit?usp=sharing](url)

[2022-08-22 19:43] cthulhuplus opened #4278 "Prepare Presentation"
Prepare a brief presentation on what you've learned with AWS, Packer, Terraform, CircleCI, and GitHub Actions.

### This task is done when...

- [ ] Prepare presentation
- [ ] Present to Bill

[2022-08-24 16:42] itsonlydio commented on #4278
link to slideshow [https://docs.google.com/presentation/d/1qnZrdI5ZRJ647D01f1XoFNzFrz1UsbOMu2H73Ocg6xA/edit?usp=sharing](url)

[2022-08-24 17:01] akuas commented on #3381
Below are the updated design @beparticular @jeromeleecms Can you please take a look? I was wondering if the order made sense for a state officer.
https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=598%3A11888

[2022-08-24 18:35] #3495 closed

[2022-08-24 20:02] cthulhuplus opened #4281 "Get Access to Enterprise-CMCS GitHub Repo"
Get Access to Enterprise-CMCS GitHub Repo

### This task is done when...

- [x] Access to Enterprise-CMCS GitHub Repo Acquired

[2022-08-25 14:00] cthulhuplus commented on #4281
Have been granted access to the job code, waiting for something on the GitHub Organization side now I think.

[2022-08-25 16:52] itsonlydio commented on #4278
New link [https://docs.google.com/presentation/d/1iTkTeRFau-BhVwfrtcerzXgMOGOH4rn8/edit?usp=sharing&ouid=100757836723204844393&rtpof=true&sd=true](url)

[2022-08-25 19:55] beparticular commented on #4215
For max flexibility and prioritization getting MMIS out, let's leave this as is for now and revisit this in the future.

[2022-08-26 15:16] mirano-darren opened #4283 "[Bug] NVDA Screen reader doesn't read out Rich Text Field labels consistently."
### Description
With the addition of labels for the rich text fields in #2675. The NVDA screen reader does not read these labels out consistently. This is not a problem with other screen readers like Windows Narrator or VoiceOver

### Steps to reproduce
(Once 2675 gets merged in)
1. Focus on Rich Text Fields with NVDA active
Note: This is inconsistent so it might take a little playing around with

[2022-08-26 17:15] beparticular commented on #3493
@jeromeleecms can you review this to make sure that the language is appropriate for MMIS iAPD (the initial examples reference E&E)

[2022-08-26 17:59] beparticular commented on #4250
@tbolt we have some examples of this in the MMIS Figma file where we show in the annotation what has changed, what is still up for debate, etc.

@jeromeleecms the items we annotated on these pages in our convo today will need dev tickets noting the changes we will make for MMIS based on the research done in 2021:
Activity Overview
Analysis of Alts
Activity Schedule...
Conditions for Enhanced Fundi

[2022-08-29 15:10] akuas commented on #4243
Below are the designs for updated Budget and FFP. Currently, we are keeping the FFP on this page, so I keep it there but in the future that may change. @jeromeleecms Can you please review this ticket?
https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=601%3A12578

[2022-08-29 15:11] akuas commented on #4243
@jeromeleecms I feel like this ticket can still be closed with the blocker. We could just remove the FFP if we need to in the future.

[2022-08-29 16:45] jeromeleecms commented on #4176
No newsletter content for this July/August. August office hours completed. Looking forward to the next one and to improve content collection for next newsletter.

[2022-08-29 16:45] #4176 closed

[2022-08-29 19:25] cthulhuplus commented on #4281
![image.png](https://images.zenhubusercontent.com/5e9749aa5773ead7746338c1/84e01c06-8897-413b-afc8-bccd151e1db2)

[2022-08-29 19:28] cthulhuplus opened #4285 "Create Enterprise-CMCS Test Plan"
Create Enterprise-CMCS/eAPD-Test test plan.

### This task is done when...

- [x] List integration points
- [x] Test integrations
- [x] Mock/Test normal operations

[2022-08-29 19:28] #4281 closed

[2022-08-29 20:37] cthulhuplus commented on #3927
https://github.com/CMSgov/eAPD/wiki/Emergency-Deploy-to-Staging-Runbook

[2022-08-29 20:42] cthulhuplus commented on #3927
![image.png](https://images.zenhubusercontent.com/5e9749aa5773ead7746338c1/7a44b1c3-701b-48da-bad9-d7a2b94e34ff)

[2022-08-29 20:57] jeromeleecms commented on #3927
Sounds good @cthulhuplus. Seems like this will be a good tool to in our toolbelt.

[2022-08-29 21:02] jeromeleecms commented on #4243
Overall looks fine - only thing to note is that the summary table shows the years for FFY 2021 - FFY 2022, but the page only shows the data table for one FFY 2021.

Also: I don't think we need a blocker because #4215 is something we'll address, but we don't want to stop this ticket from moving forward.

[2022-08-30 12:33] cthulhuplus commented on #4285
Request approval for new repo by logging into the repo settings > Integrations > Applications > Authorized OAuth Apps > Click on Application > Request

[2022-08-30 13:41] mirano-darren commented on #4185
@itsonlydio can you access Jira? If so, I think we can close this out

[2022-08-30 14:12] #3927 closed

[2022-08-30 16:08] Sun-Mountain opened #4286 "Only authorized users can have more than 5 events"
When a user is unauthorized, they can have a max of 5 upcoming events.

### This task is done when...

- [ ] unauthorized users users can only create up to five upcoming events
- [ ] a notice is pinned when they reach their limit notifying them

---

Add additional labels (design, dev, compliance, BUG, etc) and size before
submitting.

If the issue is needed to complete prioritized work for the CU

[2022-08-30 16:09] #4286 closed

[2022-08-30 17:09] thetif opened #4287 "Add Cypress Axe for APD Builder"
Describe the task here and link or add dependencies to any applicable issues...
Install cypress axe. Add axe tests to all pages.

### This task is done when...

- [ ] cypress axe is running on all pages

[2022-08-30 17:41] mirano-darren opened #4288 "[Documentation] Contingency plan for Quality team"
Describe the task here and link or add dependencies to any applicable issues...
Write up a contingency plan in the event the Quality team is out.

### This task is done when...

- [ ] contingency plan is written
- [ ] contingency plan is documented with the other contingency plans

[2022-08-30 18:40] jeromeleecms commented on #4179
Everything looks fine based on what we discussed.

[2022-08-30 19:08] #4246 closed

[2022-08-30 19:55] jeromeleecms commented on #4265
Future note: Can we just remove the button instead of hiding it?

[2022-08-30 19:58] #2675 closed

[2022-08-30 22:59] jeromeleecms commented on #3381
This looks good! I'm good with moving this forward.

[2022-08-30 23:05] jeromeleecms commented on #4216
Is it clearer to add "before saving" (i.e. "All fields are required before saving.")? Other than that, looks good!

[2022-08-31 13:16] #3354 closed

[2022-08-31 13:16] #3547 closed

[2022-08-31 16:56] #4238 closed

[2022-08-31 18:46] cthulhuplus opened #4290 "AWS: EC2 - Instances & AMIs"
Learn about the EC2 section of AWS, focus on; Instances, and AMIs

### This task is done when...

- [ ] You have an understanding of what Instances and AMIs are
- [ ] You have an understanding of how Instances and AMI are used by eAPD

[2022-08-31 18:48] cthulhuplus opened #4291 "AWS: EC2 - Security Groups"
Learn about the EC2 section of AWS, focus on; Security Groups

### This task is done when...

- [ ] You have an understanding of what Security Groups are
- [ ] You have an understanding of how Security Groups are used by eAPD
- [ ] You have an understanding of the relationship between Security Groups and Instances

[2022-08-31 18:50] cthulhuplus opened #4292 "AWS: EC2 - Load Balancers & Target Groups"
Learn about the EC2 section of AWS, focus on; Load Balancers & Target Groups
### This task is done when...

- [ ] You have an understanding of what Load Balancers & Target Groups are
- [ ] You have an understanding of how Load Balancers & Target Groups are used by eAPD
- [ ] You have an understanding of how Load Balancers & Target Groups interact with Instances

[2022-08-31 18:52] cthulhuplus opened #4293 "AWS: S3 - Buckets"
Learn about the S3 section of AWS, focus on; Buckets by going through the AWS documentation for S3 Buckets.
Completed the reading and exercises here:
https://docs.aws.amazon.com/AmazonS3/latest/userguide/GetStartedWithS3.html
Topics:
    Prerequisite: Setting up Amazon S3
    Step 1: Create your first S3 bucket
    Step 2: Upload an object to your bucket
    Step 3: Download an object
    Step 4:

[2022-08-31 18:54] cthulhuplus opened #4294 "AWS: RDS - Databases"
Learn about the RDS section of AWS, focus on; Databases, specifically PostGresQL
### This task is done when...

- [ ] You have an understanding of what RDS Databases are
- [ ] You have an understanding of what PostGresQL Databases are
- [ ] You have an understanding of how RDS Databases are used by eAPD
- [ ] You have an understanding of how RDS Databases interact with Instances and our App

[2022-08-31 18:57] cthulhuplus opened #4295 "AWS: CloudWatch - Log Groups & Alarms"
Learn about the CloudWatch section of AWS, focus on; Log Groups & Alarms
### This task is done when...

- [ ] You have an understanding of what Log Groups are
- [ ] You have an understanding of what Alarms are
- [ ] You have an understanding of how Log Groups & Alarms are used by eAPD

[2022-08-31 19:08] cthulhuplus opened #4296 "Upgrade RDS Instance Types"
Hi Jerome & eAPD team,

I wanted to make you aware that the current eAPD RDS Postgres RIs ri-2021-09-21-16-19-37-041 and ri-2021-09-21-16-17-16-590 that are expiring on 9/20 cannot be renewed because AWS has made those m3 instance types as end of life. Can your team review those RDS instances and create a plan to migrate/update to the comparable recent generation instance type? Please share your p

[2022-08-31 19:32] cthulhuplus commented on #4296
Staging has been upgraded to db.m5.large, smallest available RDS of the current generation

Production upgrade is set to happen during our "scheduled maintenance window" on September 2nd

There were no issues with the Staging upgrade

[2022-08-31 20:55] cthulhuplus commented on #4149
@thetif @tbolt @itsonlydio can I get a review of this document please?
https://github.com/CMSgov/eAPD/wiki/Packer:-Building-AMIs-Runbook

[2022-08-31 21:24] thetif commented on #2677
@jeromeleecms do you agree that we can close this ticket?

[2022-08-31 21:48] jeromeleecms commented on #2677
Yes - let's close.

[2022-09-01 16:40] akuas commented on #3691
@jeromeleecms Yes, that a good point, depending on what funding type you select this page should show the appropriate email.

[2022-09-01 17:24] #2677 closed

[2022-09-01 17:44] jeromeleecms commented on #4288
@itsonlydio Please add the required sections and let the team leads know that it's ready for us to review.

[2022-09-01 17:47] jeromeleecms commented on #4185
This is done!

[2022-09-01 17:47] #4185 closed

[2022-09-01 18:25] jeromeleecms opened #4297 "Accessibility: How do we inform users when rounding occurs in the screen reader?"
There are multiple dollar fields in the system that automatically round decimals to a whole number. How do we make that accessible in the screen reader.

@tbolt - please feel free to add the meat to this ticket when you have a chance

### This task is done when...

- [ ] criteria 1
- [ ] criteria 2

---

Add additional labels (design, dev, compliance, BUG, etc) and size before
submitting.

If the

[2022-09-01 19:27] cthulhuplus opened #4298 "Investigate Increasing Pipeline Speed"
Investigate Increasing Pipeline Speed, deploy times have increased as we've added tests and steps to the pipeline.

### This task is done when...

- [x] Investigate increasing deploy times
- [x] Implement solution

[2022-09-01 20:08] akuas commented on #3381
Final Note: @thetif @itsonlydio @mirano-darren The scope of this ticket was to display the executive summary with no default program summary activity, but I also added the two new MMIS pages to the executive summary since we will be adding that anyway. So, when you are writing the tickets, it could be broken down to three tickets: Display executive summary with no activities, add APD Overview to E

[2022-09-01 20:16] akuas commented on #4243
@jeromeleecms I made the dates all FFY 2022, so it is consistent now.

[2022-09-01 20:17] akuas commented on #4243
@mirano-darren @itsonlydio @thetif This ticket is now ready for dev.

[2022-09-01 20:19] akuas commented on #4188
@jeromeleecms Can you please review the validation library?

[2022-09-01 20:21] akuas commented on #2054
All of eAPD validations patterns can be referenced in the validation library below.
https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=473%3A8498

[2022-09-01 20:24] akuas commented on #3691
Spring Planning: Sept 1 2022
To recap, we want the system to provide the correct email depending on their funding source selection instead of hard coding the email in.

[2022-09-01 20:24] akuas commented on #3691
@thetif @mirano-darren @itsonlydio This ticket is ready for dev.

[2022-09-01 20:35] akuas commented on #4216
@jeromeleecms Not sure if it sounds better to say "to save" or "before saving" but I have updated it to say "before saving."

[2022-09-01 20:36] akuas commented on #4216
@thetif @mirano-darren @itsonlydio This ticket is ready for dev.

[2022-09-01 20:38] akuas commented on #4216
The action is to add a tooltip to the pages above indicating All fields are required before saving, all fields are required to create an APD, and at least one outcome is required

[2022-09-01 20:58] #4182 closed

[2022-09-01 21:16] jeromeleecms commented on #4216
Hmmm... open to feed back from Dev and Quality for a third opinion. But that also sounds OK.

[2022-09-01 21:28] jeromeleecms commented on #4188
@akuas Overall this looks good.

1) Similar to what we looked at with whole numbers, can we apply that to the $ field? "Provide a dollar value greater than zero. Any cents will be rounded to the nearest dollar."

[2022-09-02 13:00] #3356 closed

[2022-09-02 13:22] cthulhuplus commented on #4285
Zenhub
CircleCI
CodeCov
Cypress
Chromatic
Storybook

[2022-09-02 14:03] tbolt opened #4299 "[Maintenance] Update cypress tests to not rely on adminCheck being enabled by default"
### Description and related issues
The validation tests require and expect that adminCheck will be true. Once adminCheck can be turned on programmatically, we need to update the tests to turn adminCheck on and then test validation.

### This task is done when…

- [ ] Cypress tests are updated to turn on adminCheck before running validation tests

[2022-09-02 14:03] #3355 closed

[2022-09-02 17:29] tbolt commented on #2738
Re: Determination on how to handle countdown for non-sighted users. We're updating the language to read:
"Session Expired. Your session is expiring in X minutes..."
Where X counts down every minute and announces it to screen readers. This way we have parity in experience for all.

[2022-09-02 20:33] cthulhuplus commented on #4194
Preview Upgrade seems to work just fine, will spin up new tickets for Staging and Prod after this ticket is complete

[2022-09-02 20:42] cthulhuplus opened #4301 "Upgrade PostGres Staging"
PostGresQL 10 is reach EoL soon and we need to upgrade. Testing compatibility with PostGresQL 13.4 worked well in Preview and is the most reason version available in RDS.

### This task is done when...

- [x] Staging has been upgraded to PostGres 13.4

[2022-09-02 20:43] cthulhuplus opened #4302 "Upgrade PostGres Prod"
PostGresQL 10 is reach EoL soon and we need to upgrade. Testing compatibility with PostGresQL 13.4 worked well in Preview and Staging and is the most reason version available in RDS.

### This task is done when...

- [ ] Production has been upgraded to PostGres 13.4

[2022-09-06 15:46] thetif opened #4303 "ATO documentation"
Stanley Wilson is the new ISSO for MACPro and eAPD is in scope for ACT coming up in October. He needs access to some documentation from our ATO.

### This task is done when Stanley has links and access to...

- [x] System Design Document
- [x] Request / Complete New Pen Test
- [x] Software Inventory
- [x] Fill in our parts of the SSP
- [x] Fill in our parts of the CP
- [x] Fill in our parts of the

[2022-09-06 17:00] mirano-darren commented on #4288
@jeromeleecms @thetif Contingency doc is ready for review!
Link: https://docs.google.com/document/d/17a0K9vNOc731loJXw_WvZliDgklxWy7nqqylBME2BJQ/edit#heading=h.1a9eh1devw4e

[2022-09-06 17:09] cthulhuplus commented on #4184
@mirano-darren @itsonlydio

How's this going? Do you have access to eAPD AWS?

[2022-09-06 20:56] cthulhuplus commented on #4298
https://circleci.com/docs/configuration-reference#resourceclass

[2022-09-07 13:10] #4194 closed

[2022-09-07 14:12] itsonlydio commented on #4184
My login credential are not working in CMS, I reached out to help desk via email and phone with inadequate response.

[2022-09-07 14:15] mirano-darren opened #4304 "[Feature] Update Budget and FFP for MMIS"
Describe the task here and link or add dependencies to any applicable issues...

MMIS APDs do not need the Estimated Quarterly Expenditure Table in the Budget and FFP page.

Figma link of how the Budget and FFP page should look after removing the EQE table:
https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=601%3A12578

Design ticket: #4243

Test cases:
| Given  | When | Then

[2022-09-07 14:22] jeromeleecms commented on #4288
@mirano-darren @itsonlydio Added some revision requests + some comments.

@thetif when you get a chance, please take a look as well.

[2022-09-07 15:18] jeromeleecms commented on #4184
@itsonlydio Did the helpdesk give you any ideas for next steps?

[2022-09-07 16:17] cthulhuplus commented on #4301
PostGresQL RDS has been upgraded to 13.4 in Staging, please poke at it to make sure it is working. Properly. @thetif @tbolt @itsonlydio

[2022-09-07 16:19] cthulhuplus commented on #4302
Staging upgrade appears to be working properly, scheduled Prod upgrade for this weekend.

[2022-09-07 18:59] jeromeleecms commented on #4296
From Fed admin perspective - this seems to be functioning as expected. Changes related to the bug fixing for matching also came through so I could test if changes were registered after matching.

[2022-09-07 20:04] #4296 closed

[2022-09-07 20:06] cthulhuplus commented on #4303
@jeromeleecms requested and received the job codes required to access CFACTS

[2022-09-07 20:17] mirano-darren opened #4306 "[Dev] Add tooltips on hover to grayed out buttons"
Describe the task here and link or add dependencies to any applicable issues...

We are adding a tooltip on hover for grayed out buttons that appear throughout eAPD. This will give the user more information on why a button cannot be clicked. For example, subform save buttons are grayed out when there are still required fields left.

Original design ticket: https://app.zenhub.com/workspaces/cms-eap

[2022-09-07 20:47] mirano-darren opened #4307 "[Dev] Executive Summary with no activities for MMIS APDs"
Describe the task here and link or add dependencies to any applicable issues...

MMIS APDs do not require activity 1 to be Program Administration and will no longer be automatically generated. Since a 0 activity MMIS APD is possible, we have to adapt the Executive Summary for that edge case.

Original Design Ticket:  #3381

Figma: https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?no

[2022-09-07 20:52] jeromeleecms commented on #3811
THIS IS DONE!

[2022-09-07 20:52] #3811 closed

[2022-09-07 21:14] mirano-darren opened #4308 "[Dev] MMIS - Add APD Overview to the Executive Summary"
Describe the task here and link or add dependencies to any applicable issues...

The APD Overview is changing for MMIS APDs. Add the new information on that page to the Executive Summary.

Original Design Ticket (See Akua's closing notes): https://app.zenhub.com/workspaces/cms-eapd-5a3823ad3659e94d8ee569be/issues/cmsgov/eapd/3381 (#3381)

Figma: https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eA

[2022-09-07 21:36] mirano-darren opened #4309 "[Dev] MMIS - Add State Priorities and APD Scope to the Executive Summary"
Describe the task here and link or add dependencies to any applicable issues...

For MMIS APDs, we are going to add the information in the State Priorities and APD Scope page to the Executive Summary.

Original Design Ticket: #4355

Figma: https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=598%3A11888

Test Cases:
| Given  | When | Then |
| ------------- | ------------- | ---

[2022-09-08 14:52] cthulhuplus opened #4311 "Find/Recreate ATO Documentation"
Describe the task here and link or add dependencies to any applicable issues...

### This task is done when...

- [ ] criteria 1
- [ ] criteria 2

---

Add additional labels (design, dev, compliance, BUG, etc) and size before
submitting.

If the issue is needed to complete prioritized work for the CURRENT SPRINT, add
it to the "This Sprint" pipeline. Otherwise, all other issues will be
automatical

[2022-09-08 14:53] #4311 closed

[2022-09-08 14:53] cthulhuplus commented on #4311
Duplicate

[2022-09-08 15:19] mirano-darren opened #4312 "[Dev] Change submit email address based off of what APD funding type is selected"
Describe the task here and link or add dependencies to any applicable issues...

The Export and Submit page allows the user to submit an APD via email. However there are different email addresses depending on the APD funding type. The Export and Submit page **should show the correct submit email address automatically.**

Original Design Ticket: https://app.zenhub.com/workspaces/cms-eapd-5a3823ad36

[2022-09-08 19:06] mirano-darren opened #4313 "[Dev] Update APD Review page for MMIS"
Describe the task here and link or add dependencies to any applicable issues...

The Review page **should show the correct submit email address automatically** based on the APD Type.

Test Cases:
| Given  | When | Then |
| ------------- | ------------- | ------------- |
| Review Page | User clicks Submit | Mail application should open up |
| A HITECH APD  | On the Review page  | Should show the em

[2022-09-09 13:27] cthulhuplus commented on #4149
@thetif @tbolt could you review this document and note in the Issue when you've had a look?
https://github.com/CMSgov/eAPD/wiki/Packer:-Building-AMIs-Runbook

[2022-09-09 15:58] mirano-darren commented on #4301
Poked around staging in the APD builder and the fed admin portal. Everything was acting like expected. LGTM

[2022-09-09 16:08] #4301 closed

[2022-09-12 13:41] #2676 closed

[2022-09-12 14:30] mirano-darren commented on #4288
Tif said it looks good to her! Closing this out

[2022-09-12 14:30] #4288 closed

[2022-09-12 15:40] mirano-darren commented on #4149
Instructions are concise and clear!

[2022-09-12 16:34] cthulhuplus commented on #4149
Updated based on Darren's feedback

[2022-09-12 16:34] #4149 closed

[2022-09-12 18:11] mirano-darren opened #4316 "[Quality] Make E2E tests less frail"
Describe the task here and link or add dependencies to any applicable issues...

Some of the Cypress tests rely on the FFYs being 2022 and 2023. Once we move into a new FFY these tests will fail. Identify where these years are hard coded and document/brainstorm a more permanent solution for this issue.

### This task is done when...

- [ ] Areas with hardcoded years have been documented
- [ ] Area

[2022-09-12 19:32] jeromeleecms commented on #4302
From Fed Admin side: Unsure if it's related to the migration, but there were some missing field data in the Fed admin dashboard; issue was manually fixed and everything else seems to be working fine.

[2022-09-12 19:33] #4302 closed

[2022-09-12 19:36] thetif opened #4317 "[Feature] Handle Deactivated Users in Okta"
### Description and related issues
We ran into an issue were a user was deactivated in Okta, so we couldn't pull his info. I'm not sure how he was able to login to request access.

### This task is done when…

- [ ] add in checks to see if a user is deactivated in okta
- [ ] don't allow them to request access if they aren't active

[2022-09-13 17:54] cthulhuplus opened #4318 "Learn Launch Darkly"
I need to learn some Launch Darkly as we're planning on using the product.

### This task is done when...

- [ ] TBD

[2022-09-13 17:54] cthulhuplus commented on #4318
https://docs.launchdarkly.com/guides/infrastructure/terraform

[2022-09-13 18:03] cthulhuplus commented on #4318
https://gateway.on24.com/wcc/eh/3099907/category/49647/best-practices

[2022-09-13 19:35] jeromeleecms commented on #4317
Don't spend too much time on this, if this turns into something bigger we will reprioritize.

[2022-09-13 19:46] jeromeleecms commented on #4216
Spun up #4306 for this. Tif reviewed this is good to close.

[2022-09-13 19:46] #4216 closed

[2022-09-13 22:12] thetif commented on #4297
it doesn't look like the design system has anything for this, but we do have an aria action, you could probably create a method in there to call if the value is rounded so it's announced

[2022-09-14 17:45] Sun-Mountain commented on #4183
@tbolt what browser(s) did you use for this bug so I know what to try when I try to replicate this.

[2022-09-14 19:37] thetif opened #4319 "[Maintenance] Fix issue with snapshots not updating locally for api endpoints tests"
### Description and related issues
We are having an issue where if you update the snapshots for the api endpoint tests, they only update in docker, not locally, so you can't check-in the updates. This wasn't an issue before we switched to workspaces, I think. We tried binding the volume to the local file system, but the CI didn't like that. We need a better solution that works locally to update sn

[2022-09-14 19:47] thetif opened #4320 "[Testing] Add scaffolding for MMIS tests"
### Description and related issues
We are going to need more tests for MMIS APDs soon. Create a suite for MMIS tests. Add another parallelization to the CI. Go through the existing HITECH tests and see if we need to clean anything up to make it easier to write MMIS tests. This doesn't include copying over the tests and changing them for MMIS.

### This task is done when…

- [x] MMIS test file is i