[2022-09-15 00:39] tbolt commented on #4183
@Sun-Mountain Chromium

[2022-09-15 17:28] mirano-darren commented on #4287
Also need to fix any issues that the cypress-axe test catch. Sizing to a large.

[2022-09-15 18:39] Sun-Mountain commented on #3175
All found navigation bugs with screen readers have been captured in the [Accessibility in the Quality Process wiki page](https://github.com/CMSgov/eAPD/wiki/Accessibility-in-the-Quality-Process).

Signed off by @thetif

[2022-09-15 18:39] #3175 closed

[2022-09-16 12:45] tbolt opened #4322 "[Bug] Activity overview summary and description render issues"
### Description
When enabling the admin check I noticed that for the overview it didn't have the highlighted border on the rich text editor, and the description had the error message shown twice-
![image.png](https://images.zenhubusercontent.com/5f43eb2204d6d70d8324232c/8aebc7af-c3c8-42e9-86f9-040bc5d434f2)

### Steps to reproduce

1. Login and view an APD. Ensure admin check is enabled
2. Navigat

[2022-09-19 17:23] jeromeleecms commented on #4183
Just documenting this from standup today - we may have to evaluate priority for this if turns out to be isolated + heavy lift to fix as table/field as this is going away when we shift our efforts to MMIS.

[2022-09-20 15:52] akuas commented on #4179
Updated Closing Notes as of September 20, 2022 [Final Designs](https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=93%3A5981)

1. The page is called “Create a New Advanced Planning Document (APD)” when you are creating the APD. The page is called “APD Overview,” once an APD is created and when you return to the page. It appears on top of the side nav and will be the first page

[2022-09-20 15:54] akuas commented on #4211
Updated Closing Notes as of September 20, 2022 [Final Designs](https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=414%3A10804)

1. The page is called “Create a New Advanced Planning Document (APD)” when you are creating the APD. The page is called “APD Overview,” once an APD is created and when you return to the page. It appears on top of the side nav and will be the first pa

[2022-09-20 15:55] akuas commented on #4211
@mirano-darren Here are the closing notes. I will also copy it into Dev: Create front end for Create new APD.

[2022-09-20 15:56] akuas commented on #4209
Updated Closing Notes as of September 20, 2022 [Final Designs](https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=414%3A10804)

1. The page is called “Create a New Advanced Planning Document (APD)” when you are creating the APD. The page is called “APD Overview,” once an APD is created and when you return to the page. It appears on top of the side nav and will be the first pa

[2022-09-21 13:07] cthulhuplus commented on #4285
e2e tests are failing, struggling to figure out the why

[2022-09-21 13:27] cthulhuplus opened #4323 "Audit CircleCI & Keybase Env Vars"
There has been drift between what is in Keybase and in CircleCI. There are also old and unused env vars in CircleCI and Keybase that are "muddying" up the list of env vars. I need to audit these to bring them back into alignment with each other and remove the clutter.

### This task is done when...

- [ ] The list of env vars being used is consistent between CircleCI and Keybase
- [ ] Old and unus

[2022-09-21 16:00] cthulhuplus commented on #4285
Added cms-eapd-bot to eAPD-Forked

[2022-09-21 17:24] thetif opened #4324 "[Design Issue] Add Activity button clarity"
This Add Activity button feels a little out of place. Design a way to add a little clarity to the button

![image.png](https://images.zenhubusercontent.com/5f18484c4aa7386e0e7413c8/bf78feb7-69ea-431c-a603-663f402a3f15)

### This task is done when…

- [ ] context has been added around the button

[2022-09-21 17:34] akuas commented on #4324
For my reference: Language could say something to the effect of you have reached the end of activity one to create an additional activity select add activity to continue to activity schedule summary select the continue button below.

[2022-09-21 17:35] akuas commented on #4324
@SGilliamA1M for awareness

[2022-09-21 17:36] akuas commented on #4209
@SGilliamA1M For awareness, this is the first dev ticket for Create New APD.

[2022-09-21 20:46] mirano-darren commented on #4287
Mural for accessibility errors found
https://app.mural.co/t/ccs9461/m/ccs9461/1663781550087/cc724fe946d9a23082cc3fd6c2f45f8df5d586b4?sender=381cf91c-f266-4761-8881-37f602a5f8de

[2022-09-22 19:23] thetif opened #4326 "[Bug] Validation showing in the print view"
### Description
The validation highlighting is showing up in the export view.

### Steps to reproduce

1. Create APD
2. Navigate to Export and Submit
3. Click Continue to Review
4. Scroll down to Estimated Quarterly Expenditure

**Expected results-**
Should not show validation highlighting

**Actual results-**
Shows validation highlighting

### Role Affected

- [ ] All
- [ ] Federal Admin
- [x] St

[2022-09-22 21:02] cthulhuplus commented on #4285
Successfully ran through the entire CircleCI workfrlow

[2022-09-23 13:23] akuas commented on #4211
@SGilliamA1M For awareness, this ticket represents the 2nd part of the create new apd/apd overview flow

[2022-09-23 18:49] tbolt commented on #4213
Update: Tif and I decided we would have two endpoints:
1. get all initial validation errors to support the initial "Run administrative check"
2. patch to handle either onChange or onBlur when fields are updated and need to be re-validated

[2022-09-23 20:45] thetif opened #4328 "[Cypress] Speed up apd-data test"
### Description and related issues
The APD data test is already testing a lot. We need to move the delete test from apd-data to apd-basic (which is already covering a lot. The APD data test should just test adding data and validating that it was added correctly and displays correctly everywhere (including budget values).

We should also remove all of the places where the tests are doing math and r

[2022-09-26 13:10] cthulhuplus commented on #4285
https://docs.github.com/en/repositories/creating-and-managing-repositories/transferring-a-repository

[2022-09-26 14:40] akuas commented on #3685
For this ticket, we can include removing the HIT/HIE from the Results of Previous Activities. As for the former APD Overview, now State Priorities and Scope of APD, we have that page covered in terms of removing HITECH specific fields. We can address reviewing the existing fields and help text in 3316.

[2022-09-26 15:10] SGilliamA1M opened #4329 "[Design Issue] Create Usability Testing and Feedback Strategy for the Create a New APD Feature"
Ceate a usability testing and feedback strategy for the Create a New APD feature. The documented plan will be used for evaluating eAPD's new feature functionality, navigation and task completion efficiently.

### This task is done when…

- [ ] Business objectives and user goals are defined
- [ ] Target participants are defined
- [ ] Identify best-fit prototype method
- [ ] Tasks/use case scenarios

[2022-09-26 17:48] akuas opened #4330 "[Design Issue] Content Audit: Identify areas where help text needs to be changed for MMIS V1 and update designs"
Link or add dependencies to any applicable issues.

Include an explanation of why the design was created or changed, any decisions
or conversations that led to this design, any regulatory notations, any user
needs that should be surfaced, any risks, or what the user should be able to
accomplish once this is done (as appropriate for the particular design).

Include any links or relevant information

[2022-09-26 17:59] mirano-darren opened #4331 "[Bug] Other State Expense validation triggering on Cancel"
### Description

When opening an other state expense subform, the category field is automatically focused. This results in having the validation trigger when trying to click Cancel. Meaning to actually close the subform (right after creating it) you have to click the Cancel button twice.

### Steps to reproduce

1. Navigate to State staff and Expenses
2. Create a new other state expense subform
3.

[2022-09-26 19:24] akuas commented on #3690
Current plan is to list out side by side the differences between old MMIS help text and new MMIS help text, as well as some help text that need to be changed because they are hitech specific. This list could be housed on a google doc. Then we will go through figma page by page and update the designs. Since it is a content change and not a drastic design/flow change I don't think we need to duplica

[2022-09-26 19:25] akuas commented on #4330
This ticket will be replaced by [3690](https://app.zenhub.com/workspaces/cms-eapd-5a3823ad3659e94d8ee569be/issues/cmsgov/eapd/3690)

[2022-09-26 19:25] #4330 closed

[2022-09-27 15:56] thetif commented on #4142
OBE handled in #4258

[2022-09-27 15:56] #4142 closed

[2022-09-27 17:38] mirano-darren opened #4332 "[Quality] Cypress + LaunchDarkly Testing"
Describe the task here and link or add dependencies to any applicable issues...

With the addition of LaunchDarkly, There is a way to turn on/off feature flags within a Cypress test. Research this feature and determine weather we should make a Cypress + LaunchDarkly test. The first instance of LaunchDarkly will be the Admin check help panel, so use the tests from #4075 to try out Cypress + LaunchD

[2022-09-27 18:53] cthulhuplus opened #4334 "Investigate Splunk Oncall"
https://cloud.cms.gov/splunkoncall

### This task is done when...

- [x] Research Splunk On-call
- [x] Research current On-call process/effectiveness
- [x] Determine if we need/want Splunk On-call

[2022-09-27 19:15] thetif commented on #3003
OBE closed in #4064

[2022-09-27 19:15] #3003 closed

[2022-09-27 19:30] jeromeleecms commented on #4212
Let's verify if we still needs this @thetif @tbolt - if it's not useful lets close this as OBE.

[2022-09-28 18:48] jeromeleecms commented on #4243
The dev ticket is #4304

[2022-09-28 19:20] akuas commented on #3685
For this ticket, I focused on removing HIE and HIT specific fields from our MMIS. I didn't address HITECH specific help text/examples or changing the structure/introducing new tables to the designs. Some of the HIE/HIT fields are already removed but the list of fields that need to be removed for MMIS are as follows.
1. APD Overview (HIT Overview and HIE Overview)
2. [Results of Previous Activities

[2022-09-28 19:24] akuas commented on #3685
Just to recap, with this ticket the design changed for Results of Previous Activities and Proposed Budget. I also checked the UI to check to see where we have HIE and HIT specific fields and confirmed they have been removed on figma. Any additions of MMIS specific fields are reflected in other tickets.

[2022-09-28 19:26] akuas commented on #3685
@SGilliamA1M @jeromeleecms This ticket is ready for review. For this ticket we are focusing on HIE/HIT field removal, not the help text or any additions to the MMIS UI, so please let me know if I missed anything.

[2022-09-28 19:40] thetif opened #4336 "[Maintenance] Research how to parallelize the cypress tests with circle and cypress dashboard"
### Description and related issues
We have the tests being parallelized by cypress, which is fine, but it's doing completely different builds and taking up a lot of resources. I feel like there is a better way that we are supposed to be doing it.

### This task is done when…

- [ ] the correct way to parallelize the tests is determined

[2022-09-29 14:07] SGilliamA1M commented on #3685
Thanks @akuas.
Removal of HIE/HIT fields have been verified in Figma and changes look good.

[2022-09-29 14:45] SGilliamA1M commented on #4243
@jeromeleecms - Final review of changes have been verified and good to proceed to Dev.

[2022-09-29 14:46] akuas commented on #4188
@jeromeleecms I'm not too sure what you are asking here?

[2022-09-29 17:10] thetif commented on #4212
decided to not store validation in the APD

[2022-09-29 17:10] #4212 closed

[2022-09-29 17:25] jeromeleecms commented on #4213
Will have a demo of current state of this on Monday, 10/3

[2022-09-29 17:53] mirano-darren opened #4337 "[Dev] APD name field validation in APD Overview and Create new APD pages"
The current behavior of the APD name field does not allow the user to enter a blank name. On blur, if the field is blank, the name will default to "Untitled IAPD". So for validation on this field, check if the name matches this default name.

Validation error message language: "Provide your own APD Name"

### This task is done when...

- [ ] admin check catches when an APD has the name "Untitled"

[2022-09-29 18:04] jeromeleecms commented on #4188
@akuas For this field (or any $ fields), add the language "Provide a dollar value greater than zero. Any cents will be rounded to the nearest dollar."

![image.png](https://images.zenhubusercontent.com/5c547884d11206601037f0c7/116e1ee2-4b52-46e5-b785-898cd17e590b)

[2022-09-29 18:04] jeromeleecms commented on #4188
@akuas For this field (or any $ fields), add the language "Provide a dollar value greater than zero. Any cents will be rounded to the nearest dollar."

![image.png](https://images.zenhubusercontent.com/5c547884d11206601037f0c7/116e1ee2-4b52-46e5-b785-898cd17e590b)

[2022-09-29 18:10] akuas commented on #4188
@jeromeleecms Thanks, I added your note on how we validate $ fields, so we should be good to go now.

[2022-09-29 18:14] jeromeleecms commented on #4188
This is done!

[2022-09-29 18:14] #4188 closed

[2022-09-30 14:51] thetif opened #4338 "[Feature] auth_affiliations_audit needs to record the affiliationId being changed"
### Description and related issues
The auth_affiliations_audit is missing the affiliationId which will make it hard to understand which affiliation has been edited.

### This task is done when…

- [ ] the auth_affiliations_audit is updated to include an affiliationId
- [ ] the affiliationId is recorded as part of the audit log

[2022-09-30 20:10] tbolt opened #4339 "Update backend validation to handle non-valid Fed-State splits"
The backend should be updated such that when a non-valid Fed-State split is submitted, it will set it manually to 0-100 Fed-State ensuring the state is paying 100%.

### This task is done when...

- [ ] Update backend to manually set fed-state split when an invalid value is passed

---

Add additional labels (design, dev, compliance, BUG, etc) and size before
submitting.

If the issue is needed to

[2022-10-03 18:46] tbolt commented on #4213
Outcomes based on 10/3 demo-
* Use onChange for both inline validation and admin check panel (aside from cases where we explicitly decided against onChange and sub-forms). This means that any time a field is updated (either adding or removing content) the inline page-level validation AND the admin check will immediately update to show "live" state of validations
* No longer a requirement to have f

[2022-10-03 18:46] #4213 closed

[2022-10-04 17:11] thetif opened #4343 "Update wiki with information from SDD"
Audit the wiki and update any relevant information with information from the SDD.

### This task is done when...

- [ ] updated wiki with information from SDD
- [ ] update the environment set up documents

[2022-10-04 20:44] thetif opened #4344 "[Feature] Fix Federal Administrator Portal"
### Description and related issues
When the State Admin Letter was added, we didn't remove the ability for Federal Administrators to just approve the request for State Admin access without a letter. We need to remove the approve button on the Requests tab.

Similarly, we need to remove the Restore Access button on the Inactive tab. The Federal Admin can only approve people for the role of State Ad

[2022-10-04 22:38] jeromeleecms commented on #4243
Sounds good.

[2022-10-04 22:38] #4243 closed

[2022-10-04 22:40] jeromeleecms commented on #3691
Dev ticket works for me, just bolded the note that this should occur automatically.

[2022-10-04 22:40] #3691 closed

[2022-10-04 22:51] jeromeleecms commented on #3381
@akuas I was reviewing this to close out, but I realized I was a bit confused by this design:

![image.png](https://images.zenhubusercontent.com/5c547884d11206601037f0c7/04f7bf04-bbc7-44b0-b454-f5297f0a1e60)

For the "review" frame, what is actually selected here? In the left nav it has two options selected.

[2022-10-04 23:04] jeromeleecms commented on #4211
Could we review this in parking lot @mirano-darren? I don't think the test cases line up with what this "APD Overview Page" - this seems to line up more closely with the create new APD flow from #4209.

[2022-10-05 12:39] akuas commented on #3381
1. I have updated the side nav
2. This design was created a bit before the Create new APD flow was finalized, but I added the State Priorities and Scope of APD (changed the name to the name we agreed upon) to this document. It is out of scope for this ticket, but I figured we might get to it eventually. I don't think we had discussions about the placement of State Priorities and Scope of APD, but

[2022-10-05 13:20] jeromeleecms commented on #3381
@akuas

1. 👍
2. The executive summary should focus on high level details of the APD (we've done activities + budget with HITECH and that can stay) and then flowed into the main content of the APD (Description of the Medicaid Program, State Priorities, and Scope of APD). In the world of MMIS, the scope of the APD may be useful in the executive summary, but then the flow of the rest of the document

[2022-10-05 13:28] #3745 closed

[2022-10-05 15:00] cthulhuplus opened #4346 "Review Pipeline Tests"
Review tests in the pipeline determine whether they need to be run as a part of the deploy pipeline, when in the deployment process they need to be run, and the cadence that they need to be run on.

### This task is done when...

- [x] Meetings are had
- [x] Decisions are made
- [x] Follow up Issues are created

[2022-10-05 16:02] cthulhuplus opened #4347 "Add Mechanism to Label Volumes"
Currently all of our Volumes in AWS have no Name label. We need to add a mechanism to label them for clarity and organization.

### This task is done when...

- [ ] Newly Provisioned Volumes are labeled with a name

[2022-10-05 16:59] itsonlydio commented on #4293
Went through to steps in creating and deleting buckets and objects,

[2022-10-05 17:31] jeromeleecms commented on #4179
This is done.

[2022-10-05 17:31] #4179 closed

[2022-10-05 17:39] cthulhuplus commented on #4293
Have you looked at the documentation for Next Steps and Access Control Best Practices?

[2022-10-05 18:52] cthulhuplus commented on #4298
https://github.com/CMSgov/eAPD/pull/4315/files for reference

[2022-10-05 18:58] akuas commented on #4050
Below is a list of our current example boxes some of example boxes. I am currently making a google sheet with this list with a column does it need to be changed for mmis (yes or no) and is it consistent with our pattern. I feel like that might be a good way to do a content review.
1. APD Overview : HIE Overview
![Screen Shot 2022-10-05 at 2.57.13 PM.png](https://images.zenhubusercontent.com/601acf

[2022-10-05 19:38] akuas commented on #4050
@jeromeleecms @SGilliamA1M Below is the google sheets I will be working. It is still in progress, so Ill add more as I review the example boxes
https://docs.google.com/spreadsheets/d/1JL52hfdn0cIh1BRkEAYW6-gt3h2vVVCdCFdBTPE1BlY/edit?usp=sharing

[2022-10-07 12:57] akuas commented on #3381
I see. Before I change the design, would it work if I move state priorities and scope above APD overview and below the executive summary help text so that the flow moves from more broad to granular. The only issue with this is the information spelled out in the APD Overview is similar to what state officers mentioned they wanted to see first on the executive summary when we interviewed with them.

[2022-10-11 14:27] akuas commented on #4256
Current design for Results of Previous Activities without HIE + HIT
https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=970%3A11404

[2022-10-11 15:54] tbolt opened #4349 "[Maintenance] Remove AJV Validation"
MongoDB provides some level of built-in validation checking. With that along with Joi for admin check validation we likely no longer have a need for AJV validation. The validations it provides can be replaced by mongos built-in validations. We should devise a plan on how best to remove it and how to move its validations to Mongo's built-ins

### This task is done when...

- [ ] Determine best path

[2022-10-11 16:18] mirano-darren opened #4350 "[Quality] Update the Accessibility in the Quality Process wiki page to include cypress-axe"
Describe the task here and link or add dependencies to any applicable issues...

With the addition of Cypress-Axe in our cypress tests, we now have automated accessibility testing. Update the [Accessibility Testing](https://github.com/CMSgov/eAPD/wiki/Accessibility-in-the-Quality-Process) wiki page to outline the benafits that cypress-axe provides.

### This task is done when...

- [x] Wiki page i

[2022-10-11 17:25] jeromeleecms commented on #4256
This is done in #3685.

[2022-10-11 17:25] #4256 closed

[2022-10-11 17:32] mirano-darren opened #4351 "[Testing] Cypress seed for MMIS"
Describe the task here and link or add dependencies to any applicable issues...

With MMIS testing just around the corner, take this time to refactor the way seeding the database works and leverage Cypress to help out with seeding for the tests. This will be done by passing in an APD Object and having Cypress inject that data into the database. We should explore if we need to create a new seed or

[2022-10-11 17:56] mirano-darren opened #4352 "[Testing] Update MMIS Cypress fixtures to match the format of an APD object"
Describe the task here and link or add dependencies to any applicable issues...

When writing MMIS tests, if using fixtures. Make sure that the data is in the same format as an APD Object.

Question for when we go over it in dev sync:
 - Does this also include updating the fixtures we have for MMIS as of now?

### This task is done when...

- [ ] MMIS fixtures in MMIS Cypress tests have the same f

[2022-10-12 14:23] akuas commented on #2427
Moving acceptance criteria from 4050.
Look at how this content is pulled in from YAML (This might need to be its own ticket*)
(*Per JL - When we do the content updates, we may need to consider reviewing how we apply the YAML structure so it's consistent across the example boxes (so we can do it piece meal instead of doing an overhaul of all the YAML).

[2022-10-12 18:40] #4287 closed

[2022-10-12 18:45] #4252 closed

[2022-10-12 18:50] jeromeleecms commented on #2983
Let's use the E&E template to establish the required Assurances and Compliances:

![image.png](https://images.zenhubusercontent.com/5c547884d11206601037f0c7/9803c8ac-39ed-4943-8044-45477c2f75e3)

This is the OMB required E&E template last approved 05/20/2021

[2022-10-12 18:51] mirano-darren opened #4354 "[Feature] State Priorities and Scope of APD page for MMIS APDs"
### Description and related issues

MMIS APDs are going to have a new page called `State Priorities and Scope of APD` There will be 3 fields on this page.

Listed in order:
- Medicaid Program and Priorities
- Medicaid Enterprise System Introduction
- Scope of APD

These fields will have inline validation based on Admin Check and cannot be blank.

### Behind the scenes changes:
* add a new file to

[2022-10-12 19:43] jeromeleecms commented on #3685
We also need to remove the HIT + HIE tables from the Executive Summary: Proposed Budget Tables.

It looks like the design reflects it already, but I don't see it reflected in the documentation for this ticket.

[2022-10-12 19:50] akuas opened #4355 "[Design Issue] Integrate State Priorities and Scope of APD into Executive Summary flow"
We need to decide whether we want to include the state priorities and scope of apd into the executive summary if so where. A possible recommendation is to start off with this section then flow down to activities

### This task is done when…

- [x] Create an executive summary design with state priorities and scope of apd
- [ ] designs are approved by product
- [ ] if there is a long discussion, a s

[2022-10-12 19:52] akuas commented on #3381
The ticket below addresses state priorities and scope for executive summary so for the sake of this ticket we can leave that section out. @jeromeleecms @mirano-darren
https://app.zenhub.com/workspaces/cms-eapd-5a3823ad3659e94d8ee569be/issues/cmsgov/eapd/4355

[2022-10-12 19:58] thetif opened #4356 "[Feature] Handle FFY updates by setting yearOptions in APD"
### Description and related issues
The FFY switched over and that broke some things with the APD, including cost-allocation. Add yearOptions to the APD when created so it's not depending on current date. Update cost-allocation to not break on old APDs. Create a migration for adding yearOptions to APDs and updating the budget accordingly.

### Acceptance criteria

| Given | When | Then |
| ----- |

[2022-10-12 20:21] jeromeleecms commented on #4204
Reviewing #4250, it seems like we have tickets to track most pending design work. Will review the Google sheet together with design to makes sure we captured everything.

[2022-10-13 12:06] akuas opened #4357 "[Design Issue] List out MMIS pages in side navigation"
Dev needs a list of MMIS pages in the left side nav to create a schema.
[Final Design](https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=1515%3A12934)
[Side Navigation Figma Page](https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=2%3A4470) (for future reference)

### This task is done when…

- [x] A list of mmis pages including subpages is listed
- [x]

[2022-10-13 12:50] #4007 closed

[2022-10-13 14:15] tbolt commented on #4349
In addition to the above we should consider moving our validations to Mongo's pre function-
https://mongoosejs.com/docs/middleware.html#pre

Both the mongo validation and the adminCheck validations could be run within the pre

[2022-10-13 14:16] tbolt commented on #4253
@jeromeleecms @thetif I think this ticket is no longer needed

[2022-10-13 14:59] jeromeleecms commented on #4253
Works for me. Closing.

[2022-10-13 14:59] #4253 closed

[2022-10-13 18:05] akuas commented on #3381
@mirano-darren The final design is just this frame.
https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=587%3A10819

[2022-10-13 18:06] mirano-darren commented on #4326
Fixed in #4342!

[2022-10-13 18:11] mirano-darren commented on #3381
Noted and updated the dev ticket! #4307

[2022-10-14 16:34] #4293 closed

[2022-10-14 16:34] #4290 closed

[2022-10-14 16:34] #4184 closed

[2022-10-14 16:34] #4291 closed

[2022-10-14 16:34] #4278 closed

[2022-10-14 16:34] #4274 closed

[2022-10-14 16:34] #4292 closed

[2022-10-14 16:34] #4294 closed

[2022-10-14 16:34] #4295 closed

[2022-10-14 18:07] akuas commented on #4050
After reviewing the example boxes, here are my thoughts of what we should do for some of the example boxes. @jeromeleecms @SGilliamA1M
**Example boxes going away with MMIS:**
1. HIE Overview
2. Statement of alternative considerations and supporting justification
3. Estimated Quarterly Expenditure

**Proposed example box removal because I feel they are not needed:**
1. Cost Allocation: "Include any

[2022-10-14 18:13] akuas commented on #4050
@jeromeleecms Can you please let me know whether you agree about the proposed example box removal and examples that should be help text via zenhub comment.
Also, if you have some recommendations on how we could reword some of the examples to appear more like an example than a directive, can you please post a comment on the [Figma example box page](https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/

[2022-10-17 12:17] cthulhuplus opened #4361 "Fix Packer Validation and Weekly AMI Builds"
Packer Validation and Weekly AMI Builds are broken in the pipeline

### This task is done when...

- [ ] Packer Validation is working
- [ ] Packer Weekly AMI Builds are working

[2022-10-17 12:44] cthulhuplus commented on #4361
[code]

[2022-10-17 13:09] cthulhuplus commented on #4361
[code]

[2022-10-17 15:29] mirano-darren opened #4363 "[Dev] Remove HIT and HIE from Results of Previous Activities for MMIS"
Describe the task here and link or add dependencies to any applicable issues...

Design Ticket: #3685

MMIS APDs do not need HIT and HIE fields/elements. Remove the HIE and HIT tables in the Actual Expenditures and their total in Grand Total.

Acceptance Criteria:
| Given  | When | Then |
| ------------- | ------------- | ------------- |
| Results of Previous Activities | on the page | All HIT and

[2022-10-17 15:40] mirano-darren commented on #4328
Runtime of 03-apd-with-data **before** changes: 14:56
Runtime of 03-apd-with-data **after** changes: 12:56

[2022-10-17 17:38] #4328 closed

[2022-10-17 17:44] thetif opened #4365 "[Feature] Update APD model to handle both HITECH and MMIS"
### Description and related issues
The APD model now needs to be able to handle MMIS and HITECH APDs.

### This task is done when…

- [ ] the new model has been determined
- [ ] the APD model has been updated to handle MMIS and HITECH

[2022-10-17 18:23] tbolt opened #4366 "[Bug] Date validation is inconsistent between inline and admin check(backend)"
### Description
Date validation is happening between the in-line and admin check is inconsistent. When the admin check is enabled the validation in the page appears to work as expected. The admin check panel:
* Doesn't catch when Start Dates are later than End Dates
* Doesn't validate when an invalid year is entered

### Steps to reproduce

1. Login and view an APD. Turn on Admin Check
2. Navigate

[2022-10-17 19:23] akuas commented on #4357
@mirano-darren Below is the list of the side nav content + the google sheet listing them out. In the design, I show all the subsections expanded. Let me know if you have any questions.
[Updated MMIS side nav: All expanded](https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=1515%3A12934)
[Left Nav Structure](https://docs.google.com/spreadsheets/d/1yCB-XfLO6QJL4iugFhoUHZWYJZ7IM

[2022-10-18 15:16] akuas opened #4368 "[Design Issue] Redesign "Check" Illustration for Admin Check"
The check illustration works well as an animation, but there has been feedback that it doesn't look like check mark. For some context, the illustration comes from our eAPD logo. This work can be a future enhancement, preferably done anytime after the rollout of MMIS V1.
### This task is done when…

- [ ] Determine if we should redesign the existing check or redesign a new illustration, while maint

[2022-10-18 15:17] akuas commented on #4368
@tbolt For awareness, this would be the ticket to enhance the check illustration design. Feel free to add any context I may have forgotten.

[2022-10-18 15:28] akuas commented on #4368
Just in case the design gets moved here is a screenshot of Admin Check success state as of Oct 17 2022
![Screen Shot 2022-10-17 at 2.28.28 PM.png](https://images.zenhubusercontent.com/601acfa212e5437689f6079c/a60648e6-03cf-4580-9850-2a8c9f463593)

[2022-10-18 17:11] #4361 closed

[2022-10-19 12:23] akuas commented on #2518
One suggestion presented about Key State Personnel is " just listing them and having the State decide where they want to list any costs associated wit them."

[2022-10-19 14:03] mirano-darren commented on #4350
wiki has been updated!

[2022-10-19 14:03] #4350 closed

[2022-10-19 14:31] mirano-darren opened #4371 "[Dev] Update sidebar navigation and activity sections for MMIS APDs"
Describe the task here and link or add dependencies to any applicable issues...

Updates to Nav Items:
- State Priorities and Scope of APD (only for MMIS)
- Activities
  - Analysis of Alternatives and Risks (only for MMIS)
  - Activity Schedule and Milestones // break out Activity Schedule from APD Overview and Milestones from Outcomes and Milestones (both HITECH and MMIS)
  - Conditions for Enhan

[2022-10-19 15:04] tbolt commented on #4214
Updating to large as some additions were made to this ticket
* Complete the integration of the admin check backend + frontend
* Remove mocked data from frontend
* Update/remove cypress tests that expected admin check to be enabled (this will be handled in another ticket now that the admin check can be enabled via the app/ui)
* Added launch darkly feature flag
* Updated inline validations to use on

[2022-10-19 15:18] jeromeleecms commented on #3685
New Dev ticket looks good. Closing!

[2022-10-19 15:18] #3685 closed

[2022-10-19 15:20] cthulhuplus commented on #4298
Investigate moving tests out of Preview Deploy Workflow, but require them to merge PR into main
Tif will switch off of babel, should increase speeds
Switching to non-CMS image

[2022-10-19 15:33] SGilliamA1M commented on #4324
@thetif - there are two proposed design solutions that I've implemented that would address

[2022-10-19 16:33] jeromeleecms commented on #4050
1) APD Overview: HIE Overview: Yes, OK to remove
2) Key State Personnel: Key State Personnel & Program Management: Yes, keep and revise example
3) Activity Overview: Alternative Considerations: Maybe tricky to provide a good example using our format. These can be quite long -- maybe consider how we can incorporate this into the help text
4) Outcomes and Milestones: Outcomes and Metrics: Yes, keep.

[2022-10-19 17:09] jeromeleecms commented on #4064
Done.

[2022-10-19 17:09] #4064 closed

[2022-10-19 17:27] thetif commented on #4209
update the APD model to have the following new fields
[code]
I'm using the long names for these fields in medicaid business areas, you can make them shorter, but not too short for clarity down the road.

[2022-10-19 18:00] jeromeleecms commented on #4329
@SGilliamA1M Just checking on this one - are we feeling that this is "done enough" for us to try and use as a foundation for implementation? We can close and then revise as we start using it as part of due course.

[2022-10-19 18:30] thetif commented on #4356
This will be taken care of in #4365, it's not as much of a rush now because the bug was fixed in staging.

[2022-10-19 18:30] #4356 closed

[2022-10-19 19:05] jeromeleecms commented on #4050
Comments in the Figma added + some questions. Let me know if you want to talk through them.

[2022-10-19 19:17] jeromeleecms commented on #4357
@akuas I don't see a spot in the nav bar for "Security, Interface, Disaster Recover, and Business Continuity Planning" (per the Google sheet).

@mirano-darren your Dev ticket indicates that the acceptance criteria is determined base don what's in the Figma. Besides the one change mentioned above, that should be fine to leave it a little open ended.

[2022-10-20 18:41] #4299 closed

[2022-10-24 14:14] #4214 closed

[2022-10-24 14:27] SGilliamA1M commented on #4329
@jeromeleecms - The User Research and Feedback doc is from a foundation perspective is good to go.

- Shared Document: https://docs.google.com/presentation/d/1jP6y9VhV_iv-T-kH3nFMhmx7Ybl1MOTM1Ugj9qSiTa0/edit?usp=sharing

[2022-10-24 15:12] tbolt commented on #3834
This is completed in the #3676 Issue and related PR
https://app.zenhub.com/workspaces/cms-eapd-5a3823ad3659e94d8ee569be/issues/cmsgov/eapd/3676

[2022-10-24 15:12] #3834 closed

[2022-10-24 15:43] cthulhuplus commented on #4298
@jeromeleecms should I proceed to merge this in with the CentOS 7 base image for Preview builds, change it back to the RHEL 7 CMS image (with only 8-10 minutes time savings, or wait until we get a decision?

[2022-10-24 16:04] cthulhuplus commented on #4285
@thetif can you review this migration plan document?
https://docs.google.com/document/d/1zRDCe_mOG6pvO8rVo9Tsz1Tnj5gO7qPZdwSaA_QKcGk/edit?usp=sharing

[2022-10-24 17:13] cthulhuplus commented on #4298
@stephanieboydcms same question:
[code]

[2022-10-24 17:18] jeromeleecms commented on #4303
We've done our part, not pending review by ISSO

[2022-10-24 17:31] cthulhuplus opened #4374 "Add Mongo Recovery to Contingency Plans"
There is no recovery plan for our Mongo instances. We need to create a Mongo Recovery plan.

### This task is done when...

- [x] Create Mongo Recovery plan
- [x] Create followup issue to test Recovery plan

[2022-10-24 18:40] thetif commented on #4285
looks good to me

[2022-10-24 18:46] jeromeleecms commented on #4324
Option I is fine. Made a small note in the Figma, @SGilliamA1M. Can you make any closing notes and reassign to @mirano-darren to write the dev ticket?

[2022-10-24 18:51] jeromeleecms commented on #4329
Sounds good - I've added a link to on our Mural board as reference material. Closing this out.

[2022-10-24 18:51] #4329 closed

[2022-10-24 18:52] cthulhuplus commented on #4285
@jeromeleecms and @stephanieboydcms can you take a glance at the GitHub Migration plan and give me your thoughts?

[2022-10-24 20:32] cthulhuplus commented on #4334
https://www.splunk.com/en_us/products/on-call.html

[2022-10-24 21:46] jeromeleecms commented on #4285
This seems fine - it seems like we've accounted for all our third party tools + adding the ones that inspired our migration.

[2022-10-24 21:47] thetif opened #4376 "[Maintenance] Update node"
### Description and related issues
There is a security issue with our current version of node on docker (16.16.0-alpine3.15). We should upgrade to 16.18.0. We should also switch to using the bullseye-slim image because it has fewer unnecessary modules installed.

### This task is done when…

- [ ] upgrade the front and backend to use 16.18.0-bullseye-slim
- [ ] upgrade application to use 16.18.0

[2022-10-25 12:19] cthulhuplus commented on #4285
https://jiraent.cms.gov/browse/CLDSPT-37071

[2022-10-25 12:22] cthulhuplus opened #4377 "Perform GitHub Migration to Enterprise-CMCS"
Follow the action plan to migrate the eAPD repo from CMSgov to Enterprise-CMCS.

### This task is done when...

- [x] eAPD repo has been transferred to Enterprise-CMCS
- [x] eAPD wiki has been transferred to Enterprise-CMCS
- [ ] All integration points are working as expected

[2022-10-25 12:22] cthulhuplus commented on #4377
Requesting ability to push the transfer button myself
https://jiraent.cms.gov/browse/CLDSPT-37071

[2022-10-25 16:28] akuas commented on #4250
The mmis changes file fulfills what I was expecting for this ticket a master list, page by page list of changes to fields. So, @jeromeleecms I think this ticket is good to close.
https://docs.google.com/spreadsheets/d/1yCB-XfLO6QJL4iugFhoUHZWYJZ7IMtwBI8ZgtVilHmE/edit?pli=1#gid=0

[2022-10-25 16:48] SGilliamA1M commented on #4324
**Closing Notes:**

**Approved Design I [Activities - Budget and FFP](https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=1584%3A13652)**

- Add context above button (leveraging existing design pattern), to provide clearer instructions for adding an additional Activity.

[2022-10-25 17:14] jeromeleecms commented on #4250
@thetif @mirano-darren Just tagging you both as we close, but this will be a good reference for future work.

[2022-10-25 17:14] #4250 closed

[2022-10-25 18:12] jeromeleecms commented on #4204
This is done with #4250

[2022-10-25 18:12] #4204 closed

[2022-10-25 18:59] mirano-darren opened #4379 "[Dev] Add Activity Button Clarity"
Describe the task here and link or add dependencies to any applicable issues...

The Add Activity button at the end of activities (Budget and FFP page) needs more clarity for users. Content being added is help text above the button.

Design Ticket: #4324
Figma link: **[Activities - Budget and FFP](https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=1584%3A13652)**

### This ta

[2022-10-26 19:56] akuas opened #4380 "[Design Issue] Create Example Boxes Design Patterns for Directives, Policy Information, and Examples"
This ticket stemmed from the work done in ... We use the same custom example box patten even when the information is not an example, but some important policy or help text we want to call out.
It may be helpful to keep the alert boxes blue like other information boxes to indicate that they are supplementary information not a warning or error. We may also want to use headers with icons to distingui

[2022-10-27 16:21] #4332 closed

[2022-10-27 16:30] thetif commented on #4219
resolved in #4365

[2022-10-27 16:30] #4219 closed

[2022-10-27 16:34] akuas commented on #4050
@SGilliamA1M  Below are the updated copy for the activities dashboard and outcome and metrics. @jeromeleecms What do you think about providing examples about how an activity can be broken up instead of a list of activities?
https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=1714%3A14215
https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=1714%3A14214

[2022-10-27 16:35] akuas commented on #4050
I created [4380](https://app.zenhub.com/workspaces/cms-eapd-5a3823ad3659e94d8ee569be/issues/cmsgov/eapd/4380) to redesign the example boxes

[2022-10-27 16:39] akuas opened #4381 "[Design Issue] Update example box copy on MMIS designs"
The purpose of this ticket is to update the designs of example boxes based on what was agreed upon in 4050. This ticket also would involve moving help text elsewhere in the section, if need be.
[Current Design of Example Boxes for HITECH](https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=1303%3A11957)
### This task is done when…

- [x] Update Key State Personnel example
- [x

[2022-10-27 16:47] akuas commented on #4050
@jeromeleecms @SGilliamA1M  Can you please review this ticket? If we are good on the outcome and metrics and activities dashboard, I think we are good to close for this ticket. We might have a greater perspective on what to do with example boxes like other state expenses when we work on that page or on 4381.

[2022-10-27 17:06] jeromeleecms commented on #4357
This is done! (8 days later)

[2022-10-27 17:06] #4357 closed

[2022-10-27 17:07] #3381 closed

[2022-10-27 17:08] jeromeleecms commented on #4324
this is done

[2022-10-27 17:08] #4324 closed

[2022-10-27 17:22] #4303 closed

[2022-10-27 17:23] jeromeleecms commented on #4326
This was done with #4342.

[2022-10-27 17:23] #4326 closed

[2022-10-27 17:39] jeromeleecms commented on #4285
This is done!

[2022-10-27 17:39] #4285 closed

[2022-10-28 14:09] tbolt opened #4382 "Admin Check Enhancement Ideas"
As I was working on and using the admin check daily I noticed a couple things that could be good enhancements to add in the future:
1. Support in-page anchors to navigate right to the highlighted error.
2. Revisit grouping like-errors together. For example, when the Assurances and Compliances page hasn't been completed yet, the admin check shows an error for each Yes/No and it looks repetitive. I

[2022-10-28 14:17] cthulhuplus commented on #4334
After researching Splunk On-call we determined that it was not a good fit for the eAPD team. The deciding factors were:
1) The main feature of Splunk On-call is the calling/texting/emailing to alert the staff. Our current policies/procedures state that we wait to address incidents during business hours, so we do not want calls/texts/emails to go out at night AND our current response time is avg 26

[2022-10-28 14:17] #4334 closed

[2022-10-28 14:37] cthulhuplus opened #4383 "Create New Priority Alerts Slack Channel"
To increase visibility of alerts that require action the eAPD team wants to create a new Slack channel for Priority Alerts.

### This task is done when...

- [ ] New eAPD Slack channel for priority alerts has been created
- [ ] Follow on Issue is created to send alerts to the new Slack channel

[2022-10-28 14:41] cthulhuplus opened #4384 "Update On-call Policies & Procedures"
Update On-call policies/procedures with the Dev team so that 1) developers update Unhealthy notifications caused by their own deployments (merging to main/releasing to Prod). 2) On-call periodically checks the new Alerts Slack periodically and updates any notifications found there. 3) If you see something (an alert) say something (to On-call or the Dev associated with the alert).

### This task is

[2022-10-31 14:40] cthulhuplus commented on #4346
If and I discussed the tests, their frequency, and the changes are captured in #4298

[2022-10-31 14:40] #4346 closed

[2022-10-31 17:31] thetif opened #4385 "[Operations] Pentesting"
Describe the task here and link or add dependencies to any applicable issues...
We have to have another pentest performed to pass the ATO renewal.

### This task is done when...

- [ ] contact Synack and set up the pentest
- [ ] work with Okta to get usernames and passwords for test users
- [ ] upload usernames and passwords to Synack
- [ ] schedule pentesting date
- [ ] code freeze during pentest

[2022-10-31 18:16] SGilliamA1M commented on #4050
Itemized example boxes looks good and okay to close @jeromeleecms

[2022-10-31 19:09] jeromeleecms commented on #4050
@akuas Added some follow-up comments, please take a look at let me know if you have questions. But once we sort through that, I think this is good to go as well.

[2022-11-01 20:59] cthulhuplus opened #4387 "Test Mongo Recovery Plan"
I created the Mongo Recovery Plan, now we gots to test it.
https://github.com/CMSgov/eAPD/wiki/Mongo-Recovery-Plan

### This task is done when...

- [ ] Schedule Mongo Recovery Tabletop
- [ ] Execute Mongo Recovery Plan
- [ ] Record the results of the Mongo Recovery Plan

DB Recovery Plan for Reference:
https://github.com/CMSgov/eAPD/wiki/Database-Recovery-Plan

[2022-11-01 21:00] cthulhuplus commented on #4387
@thetif
Before we conduct this exercise I will need you to create a dump of the Staging database as a double extra backup.

[2022-11-02 16:29] cthulhuplus commented on #4374
@thetif @jeromeleecms @stephanieboydcms
This is the untested Mongo Recovery Plan. I spun up an issue to run through it, please take a look and let me know if you have any requests before considering this issue complete.

[2022-11-02 16:31] cthulhuplus commented on #4377
Trying to schedule migration for 10 am EST Monday morning.

[2022-11-02 17:13] cthulhuplus opened #4391 "Create Automated MongoDB Backup Process"
https://rajputankit22.medium.com/backup-mongodb-to-amazon-s3-e19bca1bb383

### This task is done when...

- [ ] criteria 1
- [ ] criteria 2

---

Add additional labels (design, dev, compliance, BUG, etc) and size before
submitting.

If the issue is needed to complete prioritized work for the CURRENT SPRINT, add
it to the "This Sprint" pipeline. Otherwise, all other issues will be
automatically add

[2022-11-02 19:48] akuas commented on #4050
@jeromeleecms I made changes to the copy based on your suggestions. So, I think this is good to close.

[2022-11-02 19:49] thetif commented on #4374
looks good, thank you for listing out all the instructions, looks easy to follow

[2022-11-03 16:17] akuas commented on #2518
@SGilliamA1M @jeromeleecms Here is my work in progress for the key state personnel.
[Key State Personnel with updated help text and FFP](https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=1865%3A14195)
[Proposed Budget with KP Totals](https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=1610%3A14175)

[2022-11-03 16:18] #4374 closed

[2022-11-03 17:16] cthulhuplus commented on #4377
Repo migration has been scheduled for Monday, November 7th around 10 am EST.

Checking to make sure that Walta has the appropriate permissions.

[2022-11-03 17:19] #4050 closed

[2022-11-03 17:19] jeromeleecms commented on #4050
This is done. Refer to the comments in Figma for final closing remarks.

[2022-11-03 23:15] jeromeleecms commented on #2518
That sounds interesting. Since there is no place that shows an itemized view for each of the Key Personnel, it seems like this section would be the only place to put it before a user completes the review. @thetif How much of a lift would this be? Or had you planned for only showing the summary cost for Key Personnel in this section?

For the second question, for now we are assuming that MMIS will

[2022-11-04 13:21] cthulhuplus opened #4393 "Do Some Tuts"
Do some  tutorials to familiarize yourself with Packer, CircleCI, AWS CLI, and Terraform. You can use either the free tier of AWS or the Fearless sandbox for these tutorials.

Packer: https://developer.hashicorp.com/packer/tutorials/aws-get-started (Install Packer through Variables)

CircleCI: https://circleci.com/docs/getting-started/ and https://circleci.com/docs/hello-world/

AWSCLI: https://do

[2022-11-04 13:22] cthulhuplus commented on #4393
Hey @amyd11 I’m using Zenhub in GitHub, [click this link](https://app.zenhub.com/workspaces/cms-eapd-5a3823ad3659e94d8ee569be/board) to join my workspace and see other features available in GitHub or [download the Zenhub extension](https://www.zenhub.com/extension) and sign up with your GitHub account.
  _Posted using [Zenhub](https://www.zenhub.com)_

[2022-11-07 15:47] cthulhuplus commented on #4377
I have been in contact with Jose, the Enterprise-CMCS GitHub admin and created:
https://jira.cms.gov/browse/WHSD-48576
due to an authorization issue that we are experiencing when trying to log in to the transferred repo.

[2022-11-07 18:02] cthulhuplus opened #4394 "test"
Describe the task here and link or add dependencies to any applicable issues...

### This task is done when...

- [ ] criteria 1
- [ ] criteria 2

---

Add additional labels (design, dev, compliance, BUG, etc) and size before
submitting.

If the issue is needed to complete prioritized work for the CURRENT SPRINT, add
it to the "This Sprint" pipeline. Otherwise, all other issues will be
automatical

[2022-11-07 19:08] akuas commented on #2518
Notes from parking lot: Nov 7th 2022
1. **The Plan**: Add the key state line item to summary budget, add itemized key state personnel to somewhere in the proposed budget (most likely the activity breakdown), and add FFP to the key state personnel subform below the total
2. Key Personnel is an individual who may or may not be dedicated the entire time to project.
3. Cost with benefits refers to the

[2022-11-07 20:09] cthulhuplus commented on #4377
Darren is receiving "Not Authorized" messages:
https://jira.cms.gov/servicedesk/customer/portal/1/WHSD-48597

[2022-11-07 21:31] thetif opened #4395 "Write up Frontend Coding Standard"
Document frontend coding standards

### This task is done when...

- [ ] the wiki is updated with frontend coding standards

[2022-11-07 21:51] cthulhuplus commented on #4377
This ticket has been created to address some of the "Not Authorized" errors that people are seeing:
https://jira.cms.gov/browse/TOOLS-5711

[2022-11-08 13:47] thetif commented on #2518
I modeled the budget off of what we have for HITECH, but removed everything except for MMIS. It will be easier to make shared frontends of the structure is pretty similar.

[2022-11-08 18:35] stephanieboydcms opened #4396 "Documenting Product Process Ownership Changes"
Creating an issue here to track the division of product duties since my onboarding between myself and Jerome. This issue will be considered complete when:

[ ] Document has been created that lists the changes and owner of product-related changes
[ ] Document has been reviewed, edited and approved by team
[ ] Process changes have been implemented
[Product Leadership Breakdown Draft.docx](https://gi

[2022-11-08 20:31] stephanieboydcms opened #4397 "Okta Permissions Issues - IDM"
Per thread below, I have placed ticket REQ0200069 via CMSConnect to resolve and will update accordingly.  Also attaching original email from Tim.

From: Keith Majette <[keith.majette@banasolutions.com](mailto:keith.majette@banasolutions.com)>
Sent: Friday, November 4, 2022 7:00 AM
To: Lee, Jerome (CMS/CMCS) <[Jerome.Lee@cms.hhs.gov](mailto:Jerome.Lee@cms.hhs.gov)>
Subject: Re: [EXTERNAL] RE: INC12

[2022-11-09 18:08] cthulhuplus opened #4399 "Research Hosting Multiple API Versions"
We need to be able to support multiple API versions in the future. A VERY brief look indicates there are multiple strategies to achieve this. We need to further research these options and choose a strategy.

### This task is done when...

- [ ] Research supporting multi API versions
- [ ] Present options to team
- [ ] Choose a strategy
- [ ] Create followup issues

[2022-11-09 20:33] akuas commented on #2518
@thetif Thats good to know.

[2022-11-09 20:36] akuas commented on #2518
@jeromeleecms Can you please review this ticket? The designs are linked below. Again no rush on this.
[Key State Person Design](https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=1901%3A15176)
[Proposed Budget Design](https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=1992%3A16701)

[2022-11-09 20:36] jeromeleecms commented on #4377
Transition as current state from previous CMSgov repo. @thetif will spin up tickets for additional enhancements to this repo.

[2022-11-09 20:36] #4377 closed

[2022-11-09 20:37] jeromeleecms commented on #4383
Bill has been added to the new channel. Closing this out.

[2022-11-09 20:37] #4383 closed

[2022-11-09 20:43] cthulhuplus opened #4400 "Route Alerts to New Alerts Channel Instead of Notifications"
Update AWS priority/action required notifications to the new AWS Alerts channel.

### This task is done when...

- [x] Notifications that require action are being sent to new Alerts channel
- [x] Notifications that require action are not being sent to the Notifications channel

[2022-11-09 20:46] thetif opened #4401 "Research WYSIWYG editors"
The PenTesting found that the current version of TinyMCE that we are using has an XSS vulnerability. Research if we can upgrade TinyMCE without losing any features. If we can't, research replacement WYSIWYG editors that don't have the vulnerability.

### This ticket is done when...
- [ ] a WYSIWYG solution has been determined

[2022-11-09 20:54] thetif opened #4402 "[Follow up] on paying for Chromatic"
When we linked our Chromatic account with our repo, we changed Chromatic groups. We lost our current payment set up, and now the payment for the whole org.

### This task is done when...

- [ ] Jose has resolved how to pay for this
- [ ] Jose has determined how we will handle paying if another project joins our Chromatic org
- [x] If we are still paying, Jacques has moved the billing to the Enterp

[2022-11-10 14:06] #4349 closed

[2022-11-10 15:05] Sun-Mountain opened #4403 "Write Comprehensive Tests for 4209"
Because of the complicated nature of the `enableMmis` launch darkly flags, we are separating the tests from [#4209](https://app.zenhub.com/workspaces/cms-eapd-5a3823ad3659e94d8ee569be/issues/enterprise-cmcs/eapd/4209) to another ticket.

### This task is done when...

- [ ] All jest tests pass edge cases
- [ ] Launch darkly is set up in cypress to be used dynamically (This will be done in #4320)
-

[2022-11-10 19:49] thetif opened #4405 "Update the Assurances and Compliance page to use Choice component in web/src/components"
We upgraded our forms to use ChoiceList, but as a result we stopped using the Choice component created by eAPD. The custom Choice removes from aria tags. I think this gets rid of the shouty box and makes the ChoiceList experience better for screen readers.

### This task is done when...

- [ ] Assurances and Compliance has been updated to use the custom Choice component instead of just objects for

[2022-11-14 13:41] akuas commented on #2518
### Closing Notes
## Key State Personnel
1. The 3rd line in the Key Personnel and Program Management needs to be revised to say "Key personnel costs entered here are represented in the Proposed Budget, at the FFP specified below."
2. The example box copy has changed,
3. The hint text for total  has been added to explain the rationale behind the math. "Cost with benefits x FTE = Total"
4. An abridg

[2022-11-14 13:55] akuas commented on #2518
@mirano-darren Can you please review this and let me know if you have any questions?

[2022-11-14 14:48] #4075 closed

[2022-11-14 17:04] cthulhuplus opened #4407 "Rotate AWS Keys"
Security Hub is reporting that access keys need to be rotated.

### This task is done when...

- [x] AWS Keys have been rotated
- [x] Security Hub is reporting access keys are in order

[2022-11-14 18:11] akuas commented on #2518
@stephanieboydcms For awareness, this a ticket I was recently working on. Feel free to reach out if you want additional context behind this work

[2022-11-14 19:28] akuas commented on #2518
@thetif Can you please review this ticket? I will be demoing it in the next couple of days, but feel free to let me know if there is anything unclear about how it works in the meantime.

[2022-11-14 19:57] mirano-darren commented on #2518
These changes are looking good! Very clear and concise to me. One question:
- Is a Primary APD Point of Contact required? Would admin check catch this as an error?

[2022-11-14 21:41] cthulhuplus commented on #4407
Keys have been rotated, need to make sure they still work, and then confirm the findings have been resolved in AWS Security Hub.

[2022-11-14 21:47] cthulhuplus opened #4409 "Address AWS Security Hub Findings"
Address new AWS Security Hub findings

### This task is done when...

- [ ] Unused EC2 security groups should be removed
- [ ] SNS topics should be encrypted at-rest using AWS KMS
- [ ] EC2 instances should be managed by AWS Systems Manager
- [ ] S3 access control lists (ACLs) should not be used to manage user access to buckets
- [ ] S3 buckets should require requests to use Secure Socket Layer
-

[2022-11-15 13:33] akuas commented on #2518
@mirano-darren The first key personnel entered is always the Primary APD Point of Contact. So, if there isn't one, then the page would like how it looks when no key personnel is added.

[2022-11-15 16:01] SGilliamA1M commented on #4221
**NEW Designs have been created for the: [Security Planning]**(https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=1974%3A14945) pg

- Left Navigation bar updated to include: Security Planning
- Page includes two **required** sections:
     1) **Security and Interface Plan** - One text field (Rich Text Editor)
     2) **Business Continuity and Disaster Recovery Plan** - One te

[2022-11-15 16:02] SGilliamA1M commented on #4221
@thetif - please provide final review/comments at your convenience, thanks!

[2022-11-15 19:23] akuas commented on #4222
Below is the MDBT Classification Flow for future reference
https://app.mural.co/t/ccs9461/m/cmsmural6360/1654556103128/909fca2ea53fa1c0c3a86c87ccc88859f1980839?sender=975cbc89-ba0b-4c4b-bc70-885a5a7f9bc6

[2022-11-15 21:23] cthulhuplus commented on #4407
Nicole Z. has opened a ticket to resolve this issue with her EUAID being incorrect in AWS:
https://jiraent.cms.gov/browse/CLDSPT-38075

I have created a ticket to terminiate her old AWS ID, they can not change it and are creating a new account for her:
https://jiraent.cms.gov/browse/CLDSPT-38080

[2022-11-15 21:26] #4031 closed

[2022-11-16 12:05] akuas commented on #2518
@SGilliamA1M Can you review this ticket?

[2022-11-16 13:43] #4407 closed

[2022-11-16 18:44] jeromeleecms commented on #3380
For MMIS rollout:
1) Review/List of all Budget/FFP tables that will be in the MMIS IAPD
2) Assessment of tables to ensure consistency/readability (from the description, in both the builder and export views)
3) See which ones need to change or be updated (or if not designed yet, which ones still need to be designed); ID which ones need to be updated now or what we can hold off on
4) Document table

[2022-11-16 19:02] akuas commented on #3380
@jeromeleecms That clarifies things. Thanks, I'll add this to the acceptance criteria.

[2022-11-16 19:50] thetif opened #4411 "[Security Vulnerability] Insecure Direct Object Reference in Role Update Feature"
### Description and related issues
There is an Insecure Direct Object Reference in the PATCH request to update other user's roles at "https://staging-eapd-api.cms.gov/states/mn/affiliations/97". There are two roles options that are shown in the drop-down menu, but by changing the role number in the PATCH request, the user is able to assign other roles, including Admin level roles.

This Insecure D

[2022-11-16 19:56] #4170 closed

[2022-11-16 20:56] cthulhuplus commented on #4384
Created new document:
https://github.com/Enterprise-CMCS/eAPD/wiki/On-call-Runbook

[2022-11-17 15:23] SGilliamA1M commented on #2518
@akuas changes look good. Please see comments regarding adding the correct navigation bar to the designs and providing annotations for required fields. Thanks

[2022-11-17 15:43] akuas commented on #2518
@SGilliamA1M Thanks, I made the changes

[2022-11-17 16:42] akuas commented on #2518
@thetif This ticket is ready for dev! :)

[2022-11-17 18:28] jeromeleecms commented on #4385
Pentesting completed; one issue identified will fix and report back to Synack to receive report.

[2022-11-17 18:38] tbolt commented on #4371
11/17 - New Update Proposed budget sections based on latest designs here
https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=1992%3A16701

[2022-11-17 22:31] thetif opened #4413 "[Feature] Update Key State Personnel for MMIS"
### Description and related issues
MMIS APDs do not have a Program Administration activity where Key Personnel are added. For MMIS APDS ONLY, we will need to update the Key Personnel form.

1. The 3rd line in the Key Personnel and Program Management needs to be revised to say "Key personnel costs entered here are represented in the Proposed Budget, at the FFP specified below." (Proposed Budget is

[2022-11-17 22:46] #3812 closed

[2022-11-17 22:58] jeromeleecms commented on #4221
Made a proposed content update for the help text in the Figma. If it makes sense, we can model the language for the second field and remove the example text.

[2022-11-18 16:18] SGilliamA1M commented on #4221
@jeromeleecms appreciate the review and feedback on the suggested changes. The following has been modified:

**- Removed example text box from both sections (Security and Interface Plan; Business Continuity and Disaster Recovery Plan)
- Updated help text for: Security and Interface Plan; Business Continuity and Disaster Recovery Plan**

[2022-11-21 12:38] akuas commented on #3380
List of MMIS Tables
1. Results of Previous Activities: Actual Expenditures with Grand Totals
2. Cost Allocation and Other Funding: Other Funding Amount: Activity Total Cost
3. Budget and FFP: Activity X Budget for FFY X
4. Budget and FFP: Total Computable Medicaid Cost
5. Budget and FFP: Estimated Quarterly Expenditure
6. Activity Schedule Summary: Schedule Summary by Activity
7. Activity Schedule

[2022-11-21 16:42] tbolt commented on #4411
Update:
New requirement- Verify that when a user is being assigned a state admin role they also have a connected auth letter

[2022-11-22 15:17] thetif commented on #4337
added to #4211

[2022-11-22 15:17] #4337 closed

[2022-11-22 15:38] thetif commented on #2985
covered in dev ticket #3493

[2022-11-22 15:38] #2985 closed

[2022-11-22 15:56] thetif opened #4415 "[Feature] Update Activity Overview for MMIS"
### Description and related issues
MMIS Activities don't have different funding types, so the funding type needs to be removed. Schedule has already been moved as part of #4371. The rich text fields are also different.

**Shared fields**
* Activity Name

**Fields for MMIS only**
* Activity Snapshot
* Problem Statement
* Proposed Solution

**Fields for HITECH only**
* Summary
* Description
* Altern

[2022-11-22 16:47] thetif opened #4416 "[Feature] Update Proposed Budget for MMIS"
### Description and related issues
Because MMIS APDs no longer have Program Administration activities by default, the Key Personnel calculation have to be moved and the Proposed budget tables need to be updated to display the changes.

### Proposed Budget
**1. Combined Activity Costs**
* The Summary Budget by Activity header has been changed to Combined Activity Costs
* The help text is revised to

[2022-11-22 17:02] akuas opened #4417 "[Design Issue] Move new FFP design to Budget and FFP"
Link or add dependencies to any applicable issues.

Include an explanation of why the design was created or changed, any decisions
or conversations that led to this design, any regulatory notations, any user
needs that should be surfaced, any risks, or what the user should be able to
accomplish once this is done (as appropriate for the particular design).

Include any links or relevant information

[2022-11-22 17:14] thetif commented on #2518
created dev tickets #4413 and #4416

[2022-11-22 17:14] #2518 closed

[2022-11-22 17:34] thetif opened #4418 "[Feature] Update Executive Summary for MMIS"
### Description and related issues

### Mockups or link to Figma

### Acceptance criteria

| Given | When | Then |
| ----- | ---- | ---- |
|       |      |      |

### This task is done when…

- [ ] all acceptance criteria are met
- [ ]

[2022-11-22 17:37] thetif commented on #4308
added to #4418

[2022-11-22 17:37] #4308 closed

[2022-11-22 17:39] thetif commented on #4309
added to #4418

[2022-11-22 17:39] #4309 closed

[2022-11-22 17:47] thetif commented on #4307
added to #4418

[2022-11-22 17:47] #4307 closed

[2022-11-22 17:51] thetif commented on #4312
added to #4313

[2022-11-22 17:51] #4312 closed

[2022-11-22 17:53] akuas commented on #4226
The ffp will live in the [Budget and FFP](https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=2288%3A18869&t=vaPfgl20PqIUHBAE-1), at least for now. @mirano-darren @thetif

[2022-11-22 18:04] mirano-darren opened #4419 "[Dev] Remove validation LD flag"
Describe the task here and link or add dependencies to any applicable issues...

We no longer need the validation Launch Darkly flag. Let's use this opportunity during dev sync to practice removing LD flags from our codebase.

### This task is done when...

- [ ] validation flag has been removed
- [ ] Anything related to validation still works as normal

[2022-11-22 18:58] thetif opened #4420 "[Maintenance] Update APD and Budget schemas to store only integers"
### Description and related issues
There is a little confusion with displaying some values and budget calculations because they are being converted from int to float and back again (for instance dealing with percents). To avoid this confusion, all of the values stored in APD and Budget should be stored as whole numbers. Any conversion that needs to be made to floats should only be made in the budg

[2022-11-22 19:13] mirano-darren commented on #4413
Acceptance criteria looks good to me! 👍

[2022-11-22 19:19] mirano-darren commented on #4418
Acceptance criteria looks good! 👍

[2022-11-22 19:27] akuas commented on #4417
Below is the Budget and FFP with the new FFP designs
https://www.figma.com/file/hJpKHKU6fz5J0Z7fisSwa2/eAPD-MMIS-2022?node-id=2288%3A18869&t=vaPfgl20PqIUHBAE-1

[2022-11-22 19:27] #4417 closed

[2022-11-23 16:29] jeromeleecms commented on #4221
Just checking in on this - the revised help text and validation text looks great. Anything we need to do before transitioning this to dev @SGilliamA1M ?

[2022-11-23 17:11] SGilliamA1M commented on #4221
Thanks @jeromeleecms! Designs are ready to transition to Dev.

[2022-11-28 19:43] jeromeleecms commented on #4403
@thetif Will verify which ticket from Quality is tied to this LD dynamic functioning and add the dependency here.

[2022-11-28 19:51] jeromeleecms commented on #4413
@mirano-darren Can you review the acceptance criteria <- -> this "task is done when?" And bring it into alignment as a single acceptance criteria table? I can work on it with you when you get back.

[2022-11-28 20:14] jeromeleecms commented on #4399
Hey @yonassrobi I’m using Zenhub in GitHub, [click this link](https://app.zenhub.com/workspaces/cms-eapd-5a3823ad3659e94d8ee569be/board) to join my workspace and see other features available in GitHub or [download the Zenhub extension](https://www.zenhub.com/extension) and sign up with your GitHub account.
  _Posted using [Zenhub](https://www.zenhub.com)_

[2022-11-28 20:26] jeromeleecms commented on #4397
This is still in progress. OIT needs to figure out how to implement this.

[2022-11-28 20:32] stephanieboydcms commented on #4397
IDM-44620 has been created:

Follow up to the IDM SR Ticket was created by REQ0180957/RITM0182150 / [IDM-42852](https://jiraent.cms.gov/browse/IDM-42852)
Please make the following changes in the IMPL environment:
    In the test environment, when users sign up using this link https://test.reg.idm.cms.gov/registration.html?appid=eapd they are automatically added to our application and user group. W

[2022-11-28 21:09] cthulhuplus opened #4424 "Packer Tutorials"
Please complete the Packer tutorials Install Packer through Variables:

https://developer.hashicorp.com/packer/tutorials/aws-get-started

### This task is done when...

- [ ] Install Packer
- [ ] Build an Image
- [ ] Provision
- [ ] Variables

[2022-11-28 21:10] cthulhuplus opened #4425 "CircleCI Tutorials"
Please complete these two CircleCI tutorials:
https://circleci.com/docs/getting-started/
https://circleci.com/docs/hello-world/

### This task is done when...

- [ ] Getting Started
- [ ] Hello World

[2022-11-28 21:31] cthulhuplus opened #4426 "AWSCLI Tutorials"
Do these two AWSCLI Tutorials:

https://docs.aws.amazon.com/cli/latest/userguide/getting-started-install.html
https://docs.aws.amazon.com/cli/latest/userguide/cli-services-ec2-instances.html

### This task is done when...

- [ ] Getting Started/Install
- [ ] CLI Services - EC2 Instances

[2022-11-28 21:35] cthulhuplus opened #4427 "Terraform Tutorials"
Completed these Terraform tutorials:
https://developer.hashicorp.com/terraform/tutorials/aws-get-started

### This task is done when...

- [ ] What is Infrastructure as Code with Terraform?
- [ ] Install Terraform
- [ ] Build Infrastructure
- [ ] Change Infrastructure
- [ ] Destroy Infrastructure
- [ ] Define Input Variables

[2022-11-29 14:20] SGilliamA1M opened #4428 "eAPD Confluence Space - Setup + Document Migration"
Create a new eAPD Confluence space to house selective team documents, currently stored in Google Drive.

### This task is done when...

- [x] Designs are mocked up and shared with team for feedback and revisions
- [x] Designs are approved by team
- [x] Landing Page: Layout and Design has been implemented
- [x] Resources Directory: Background, Onboarding, and Disaster Recovery and Contingency Plans

[2022-11-29 17:54] yonassrobi opened #4429 "Review Project Brief"
### Description and related issues

### Mockups or link to Figma
Review the MAC-FC project brief confluence page and discuss project scope/priorities.

### Acceptance criteria

Di

| Given | When | Then |
| ----- | ---- | ---- |
|       |      |      |

### This task is done when…
Scope and priorities are discussed and action items are documented.

- [ ] all acceptance criteria are met
- [ ]

[2022-11-29 21:36] akuas commented on #3380
Proposed Design Improvements
1. Make the table headers consistent and more prominent
2. Increase the color contrast of the the gray rows
3. Possibly replace the gray header row with our blue primary color
4. We need to be clearer what the total means and if the number flows into any other calculation. In some cases a hint text would be needed to explain how the total was calculated
5. Change the a